<nav id="add-resource-menu">
    <div class="floating-menu-spacer"></div>
    <ul>
        <li class="add-document"><a href="/resources/new-document/?project={{ project.slug }}"><span class="document-icon"></span>Document...</a></li>
        <li class="add-link"><a href="/resources/add-link/?project={{ project.slug }}">Link...</a></li>
        <!--<li id="share-on-plus"><a href="">Image...</a></li>-->
        <li class="add-video"><a href="/resources/add-video/?project={{ project.slug }}">Video...</a></li>
        <li class="add-upload"><a href="/upload/?project={{ project.slug }}">Upload...</a></li>
    </ul>
</nav>
<div class="dialog new-collection-dialog" title="Create a new collection">
    <form action="/project/{{ project.slug }}/new-collection/" method="POST" id="new-collection-form">
        {% csrf_token %}
        <input type="hidden" name="parent_collection" value="{{ root_collection.slug }}" />
        <table>
            <tr><td>New collection name:</td><td><input type="text" name="new_collection_name"/></td></tr>
            <tr><td>Who can see its contents?</td><td>
                <label>
                    <input type="radio" name="collection_visibility" value="project" checked />
                    Members / viewers of project
                </label>
                <label>
                    <input type="radio" name="collection_visibility" value="private"/>
                    Only me for now
                </label>
            </td></tr>
        </table>
    </form>
</div>