{% spaceless %}
<div class="lesson-content five-step-lesson-content">
    <h3>Pre-planning: Know, So, Show</h3>
    <div class="lesson-objective-goal-wrapper">
        <div class="lesson-objective">
            <h4>Objective</h4>
            <div class="lesson-objective-body"></div>
        </div>
        <div class="lesson-goal">
            <h4>Connection to Big goal</h4>
            <div class="lesson-goal-body"></div>
        </div>
    </div>

    <div class="lesson-assessment">
        <h4>Assessment</h4>
        <div class="lesson-assessment-body"></div>
    </div>
    <div class="lesson-points">
        <h4>Key points</h4>
        <div class="lesson-points-body"></div>
    </div>


    <h3>Lesson Cycle: Go</h3>

    <div class="lesson-opening-materials-wrapper">
        <div class="lesson-opening">
            <h4>Opening</h4>
            <div class="lesson-opening-body lesson-opening-tip"></div>
        </div>
        <div class="lesson-opening-materials">
            <h4>Materials</h4>
            <div class="lesson-opening-materials-body lesson-opening-tip"></div>
        </div>
    </div>

    <div class="lesson-introduction-materials-wrapper">
        <div class="lesson-introduction">
            <h4>Introduction to New Material</h4>
            <div class="lesson-introduction-body lesson-introduction-tip"></div>
        </div>
        <div class="lesson-introduction-materials">
            <h4>Materials</h3>
            <div class="lesson-introduction-materials-body lesson-introduction-tip"></div>
        </div>
    </div>

    <div class="lesson-guided-practice-materials-wrapper">
        <div class="lesson-guided-practice">
            <h4>Guided practice</h4>
            <div class="lesson-guided-practice-body lesson-guided-practice-tip"></div>
        </div>
        <div class="lesson-guided-practice-materials">
            <h4>Materials</h4>
            <div class="lesson-guided-practice-materials-body lesson-guided-practice-tip"></div>
        </div>
    </div>

    <div class="lesson-independant-practice-materials-wrapper">
        <div class="lesson-independant-practice">
            <h4>Independant practice</h4>
            <div class="lesson-independant-practice-body lesson-independant-practice-tip"></div>
        </div>
        <div class="lesson-independant-practice-materials">
            <h4>Materials</h4>
            <div class="lesson-independant-practice-materials-body lesson-independant-practice-tip"></div>
        </div>
    </div>

    <div class="lesson-closing-materials-wrapper">
        <div class="lesson-closing">
            <h4>Closing</h4>
            <div class="lesson-closing-body lesson-closing-tip"></div>
        </div>
        <div class="lesson-closing-materials">
            <h4>Materials</h4>
            <div class="lesson-closing-materials-body lesson-closing-tip"></div>
        </div>
    </div>
</div>

{% endspaceless %}