		<footer>
			OpenCurriculum, Inc. &#183; <a href="{% url about %}">About</a> &#183; <a href="http://blog.theopencurriculum.org" target="_blank">Blog</a> &#183;  <a href="http://opencurriculum.uservoice.com" target="_blank">Feedback</a> &#183; <a href="{% url developers %}">Developers</a> &#183; <a href="{% url jobs %}">Jobs</a> &#183; <a href="{% url terms %}">Terms of Use</a> &#183; <a href="{% url privacy %}">Privacy Policy</a> &#183; <a href="{% url license %}"><img src="{{ STATIC_URL }}images/by-sa.png" /></a>
		</footer>
	</body>
</html>
