<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title|safe }}</title>
		<script type="text/javascript">
			// Initialize WebFont from typography website.
			var WebFontConfig = {
			    fontdeck: { id: '25967' },
			    fontactive: function(familyName, fvd) {
			        OC.onFontLoad();
			    }
			};
			(function(){
				document.getElementsByTagName("html")[0].setAttribute("class","wf-loading")
  				//  NEEDED to push the wf-loading class to your head
  				document.getElementsByTagName("html")[0].setAttribute("className","wf-loading")
        		// for IE…

			    var wf = document.createElement('script'),
			        s = document.getElementsByTagName('script')[0];
			    wf.src = ('https:' === document.location.protocol ? 'https' : 'http') +
			        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			    wf.type = 'text/javascript';
			    wf.async = 'false';
			    s.parentNode.insertBefore(wf, s);
			})();
		</script>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,700italic,400italic,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.css" type="text/css" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" />
		<![endif]-->
		<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />
		<link type="text/css" href="{{ STATIC_URL }}css/print.css" rel="stylesheet" media="print" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie-override.css" />
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>	
		<script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/underscore-min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/modernizr.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/jquery.tipsy.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/tag-it.min.js"></script>
		<script src="{{ STATIC_URL }}js/core.js" type="text/javascript"></script>
		<script type="text/javascript">
			OC.config.user = {
				id: {% if user.is_authenticated %}'{{ user.id }}'{% else %}undefined{% endif %},
				username: '{{ user.username }}'
			}
		</script>
		<link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon"/>
	</head>
	<body{% if body_class %} class="{{ body_class }}"{% endif %}>
		<header>
			<div id="header-prebanner"></div>
			<hgroup id="header-center">
					<hgroup id="header-left">
						<div id="header-brand-wrapper">
							<a href="/"><img src="{{ STATIC_URL }}images/logo.png" id="logo" alt="OpenCurriculum" title="OpenCurriculum" /></a>
							<hgroup id="search-bar">
								<form method="GET" action="/search" id="search-form">
									<input type="search" name="q" title="Search">
									<input type="submit" value="" />
									<div class="search-options-button"></div>
									<div class="search-options"></div>
								</form>
							</hgroup>
						</div>
					</hgroup>
					<hgroup id="header-right">
						<nav id="user-buttons">
							<ul>
							{% if user.is_authenticated %}
								<li class="user-firstname-wrapper"><a href="{% url user:user_profile username=user.username %}" id="user-dropdown">
									<div style="background-image: url('{{ MEDIA_URL }}{{ user.get_profile.profile_pic.name }}')" class="header-user-picture"></div>
									<div class="user-firstname">{{ user.first_name }}</div> 
									<div class="horizontal-caret username-caret user-firstname-assistant"></div>
									</a>

								</li>
								<li class="user-notification-count {% if notification_count > 0 %}unread-notifications {% else %}no-notifications{% endif %}" title="Notifications">
									<a href="">{% if notification_count > 0 %}{{ notification_count }}{% endif %}</a>
								</li>
								<nav id="user-menu">
									<div class="floating-menu-spacer"></div>
									<ul>
										<li><a href="{% url user:user_profile username=user.username %}"><span class="profile-icon"></span>My profile</a></li>
										<!--<li><a href=""><span class="dashboard-icon"></span>My dashboard</a></li>-->
										<li><a href="/logout/"><span class="logout-icon"></span>Logout</a></li>
									</ul>
								</nav>
								<nav id="notifications-menu">
									<div class="floating-menu-spacer"></div>
									<ul>
										<form id="user-info"><input type="hidden" value="{{ user.id }}" name="user_id" /></form>
										{% for notification in top_notifications %}
											<li><a {% if not notification.read %} class="new-notification" {% endif %}id="notification-{{ notification.id }}" href="{{ notification.url }}">{{ notification.description }}</a></li>
										{% empty %}
											<li class="no-notification-contents">You have no notifications.</li>
										{% endfor %}
									</ul>
								</nav>
							</ul>
						</nav>
					{% else %}
						<nav id="authenticate-buttons">
							<ul>
								<li id="sign-up-button"><a href="{% url register %}">Sign up</a></li>
								<li id="login"><a href="{% url home %}?login=true">Login</a></li>
							</ul>
						</nav>
					{% endif %}
					</hgroup>
			</hgroup>
		</header>
	    <div class="login-messages-wrapper">
	        <span class="login-messages{% if message.tags %} {{ message.tags }}{% endif %}">{% for message in messages %}{{ message }}{% endfor %}</span><span class="close-message-box"></span>
	    </div>