{% if not debug %}
<script src="{{ STATIC_URL }}js/build/core_light.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/build/react.js" type="text/javascript"></script>

{% if page == 'home' or page == 'profile' %}
<script src="{{ STATIC_URL }}js/build/org_feed.js" type="text/javascript"></script>
{% elif page == 'files' %}
<script src="{{ STATIC_URL }}js/build/filesNew.js" type="text/javascript"></script>
{% elif page == 'planner' %}
<script src="{{ STATIC_URL }}js/build/planner.js" type="text/javascript"></script>
{% elif page == 'curricula' and subpage == 'curriculum' %}
<script src="{{ STATIC_URL }}js/build/curriculum.js" type="text/javascript"></script>
{% elif page == 'curricula' and subpage == 'curricula' %}
<script src="{{ STATIC_URL }}js/build/curricula.js" type="text/javascript"></script>
{% endif %}
{% endif %}

<script>
require([{% if debug %}'common'{% else %}'{{ STATIC_URL }}js/common-build.js'{% endif %}], function(){

    {% if page == 'curricula' and subpage == 'curriculum' %}
    OC.config.page = 'curriculum';
    {% endif %}

    OC.config.urls = {
        profile: {% if user.is_authenticated %}'{% url user:user_profile username=user.username %}'{% else %}null{% endif %},
        preferences: '{% url user:user_preferences %}',
        logout: '{% url logout %}',
    };

    require(['org_profile'], function(Views){
        OC.config.profile = {
            id: {% if user_profile %}'{{ user_profile.id }}'{% else %}null{% endif %},
            name: '{{ user_profile.first_name }}'
        };

        {% if page == 'profile' %}
        {% if subpage and subpage != 'activity' %}
        OC.follow = {};
        OC.follow.followerCount = {{ follower_count }};
        OC.follow.followingCount = {{ following_count }};
  
        OC.follow.context = '{{ subpage }}';

        require(['follow']);
        {% else %}
        OC.feed = {};
        OC.feed.feedCount = {{ feed_count }};
        OC.feed.currentCount = 0;
        OC.feed.context = '{{ page }}';
        OC.feed.subscribed = {% if user_subscribed %}true{% else %}false{% endif %};
        require(['org_feed']);

        {% endif %}

        {% elif page == 'home' %}
        OC.feed = {};
        OC.feed.feedCount = {{ feed_count }};
        OC.feed.currentCount = 0;
        OC.feed.context = '{{ page }}';

        {% if page == 'home' %}
        {% if feed_count == 0 %}
        OC.feed.suggestions = [];

        {% for suggestion in suggestions %}
        OC.feed.suggestions.push({
            id: {{ suggestion.id }},
            url: '{% url user:user_profile username=suggestion.username %}',
            name: '{{ suggestion.get_full_name }}',
            thumbnail: '{{ MEDIA_URL }}{{ suggestion.get_profile.profile_pic.name }}'
        });
        {% endfor %}
        {% endif %}
        {% endif %}

        require(['org_feed']);

        {% elif page == 'files' %}
        OC.files = {};
        OC.files.folderID = {% if drive %}null{% else %}{{ folder.id }}{% endif %};
        OC.files.fileCount = 0;
        OC.files.itemsCount = {{ items_count }};
        OC.files.drive = {% if drive %}true{% else %}false{% endif %};
        OC.files.isHome = {% if isHome %}true{% else %}false{% endif %}
        {% if isHome %}
        OC.files.driveURL = '{% url user:user_drive username=user_profile.username %}'
        {% endif %}

        require(['filesNew']);

        {% elif page == 'planner' %}
        OC.planner = {};

        {% if subpage %}

        OC.planner.plannerURL = '{% url user:user_planner username=user_profile.username %}';
        OC.planner.classes = [];

        var serializedSchedule;
        {% for class in classes %}
        serializedSchedule = {% if class.schedule %}JSON.parse('{{ class.serialized_schedule|safe }}'){% else %}null{% endif %};
        OC.planner.classes.push({
            id: {{ class.id }},
            title: '{{ class.title }}',
            palette: OC.utils.palettes['{{ class.palette }}'],
            paletteName: '{{ class.palette }}',
            schedule: serializedSchedule,
            start: {% if class.start %}'{{ class.start }}'{% else %}null{% endif %},
            end: {% if class.end %}'{{ class.end }}'{% else %}null{% endif %}
        });
        {% endfor %}

        require(['classes']);

        {% else %}
        OC.planner.classesURL = '{% url user:user_classes username=user_profile.username %}';
        OC.planner.classes = [];

        {% for class in classes %}
        OC.planner.classes.push({
            id: {{ class.id }},
            title: '{{ class.title }}',
            palette: '{{ class.palette }}'
        });
        {% endfor %}

        require(['planner']);
        {% endif %}

        {% elif page == 'curricula' and subpage == 'curriculum' %}
        {% include 'js/explorer.js' %}

        {% elif page == 'curricula' and subpage == 'curricula' %}
        require(['curricula']);

        {% endif %}
    });
    
});
</script>