<div class="center-stage">
    <div class="home-library">
        <div class="library-subjects-wrapper">
            <div class="library-subject library-subject-inactive">
                <img src="{{ STATIC_URL }}images/english-light.png" />
                <div class="library-subject-title">ENGLISH</div>
                <div class="library-subject-content">
                    <div class="library-subject-content-caption">INVITE ONLY</div>
                </div>
            </div>
            <a href="/browse/common-core/mathematics/" class="library-subject">
                <img src="{{ STATIC_URL }}images/math-light.png" />
                <div class="library-subject-title">MATHEMATICS</div>
                <div class="library-subject-thumbnail"></div>
                <div class="library-subject-content">
                    <div class="library-subject-content-meta">
                        <div class="library-subject-content-meta-caption">5,000+ materials</div>
                    </div>
                </div>
            </a>
            <div href="/browse/common-core/science/" class="library-subject library-subject-inactive">
                <img src="{{ STATIC_URL }}images/science-light.png" />
                <div class="library-subject-title">SCIENCE</div>
                <div class="library-subject-content">
                    <div class="library-subject-content-caption">COMING SOON</div>
                </div>
            </div>
        </div>
    </div>
</div>