<div class="center-stage">
    <div class="home-library">
        <h1 class="home-section-title">Browse our library</h1>
        <h3>Teacher-curated and Common Core standards-aligned sets of high-quality lessons, activities and assessments</h3>
        <div class="library-subjects-wrapper">
            <div class="library-subject library-subject-inactive">
                <div class="library-subject-title">English</div>
                <div class="library-subject-thumbnail english-subject-thumbnail"></div>
                <div class="library-subject-content">
                    <div class="library-subject-content-caption">COMING SOON</div>
                </div>
            </div>
            <a href="/browse/common-core/mathematics/" class="library-subject">
                <div class="library-subject-title">Mathematics</div>
                <div class="library-subject-thumbnail"></div>
                <div class="library-subject-content">
                    <div class="library-subject-content-meta">
                        <div class="library-subject-content-meta-count">4,700+</div>
                        <div class="library-subject-content-meta-caption">materials</div>
                    </div>
                </div>
            </a>
            <div href="/browse/common-core/science/" class="library-subject library-subject-inactive">
                <div class="library-subject-title">Science</div>
                <div class="library-subject-thumbnail science-subject-thumbnail"></div>
                <div class="library-subject-content">
                    <div class="library-subject-content-caption">COMING SOON</div>
                </div>
            </div>
        </div>
    </div>
</div>