<div class="article-actions">
	<ul>
		<li class="download-action"><a href=""><span class="icon"></span>Download as...</li>
		<li class="share-action"><a href=""><span class="icon"></span>Share</a></li>
	</ul>
</div>
<div class="article-community">
	<ul>
		<li class="no-action">{{ resource.views }} views</li>
		<li class="favorite-action"><a href=""><span class="icon"></span>Favorite</a></li>
		<li class="thumbs-up-action"><a href=""><span class="icon"></span>49</a></li>
		<li class="thumbs-down-action"><a href=""><span class="icon"></span>2</a></li>		
	</ul>
</div>
