<div class="center-midstage resource-body{% if resource_type %} {{ resource_type }}{% endif %}">
    {% include 'partials/resource-meta-snippet.html' %}
    <section id="oer">
        <div class="oer-document document-body">
            {% include 'partials/oer-document.html' %}
        </div>
    </section>
    <div class="request-resource-review">From a star rating of 1 star to 5 stars, how useful was this resource? <div class="request-resource-review-stars"><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span></div></div>
</div>
<div class="center-midstage resource-license">
    {{ resource.license.description }}
</div>