<div class="article-actions">
	<ul>
		<!--<li class="download-action"><a href=""><span class="icon"></span>Download as... <span class="horizontal-caret-up breadcrumb-caret"></span></li>-->
		{% if user == resource.user %}
        <li class="edit-action"><a href="{% url resource:edit_resource resource_id=resource.id %}"><span class="icon"></span>Edit</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="add-action"><a href=""><span class="icon"></span>Add to...</a></li>
        {% endif %}
        <li class="history-action"><a href="{% url resource:view_history resource_id=resource.id %}"><span class="icon"></span>View history</a></li>
        <li class="share-action"><a href=""><span class="icon"></span>Share <span class="horizontal-caret-up breadcrumb-caret"></span></a></li>
        {% include 'partials/share.html' %}
	</ul>
</div>
<div class="article-community">
	<ul>
        {% if not revision_view %}
		<li class="no-action">{{ resource.views }} views</li>
        <li class="favorite-action"><a href="" title="Favorite"><span class="icon"></span></a></li>
        {% endif %}
		<li class="thumbs-up-action"><a href=""><span class="icon"></span><span class="count"></span></a></li>
		<li class="thumbs-down-action"><a href=""><span class="icon"></span><span class="count"></span></a></li>
	</ul>
</div>

{% include 'partials/add.html' %}
