<div class="article-actions">
	<ul>
		<li class="share-action"><a href=""><span class="icon"></span>Share <span class="horizontal-caret-up breadcrumb-caret"></span></a></li>
        {% include 'partials/share.html' %}
	</ul>
</div>
<div class="article-community">
	<ul>
		<li class="no-action">{{ resource.views }} views</li>
		<!--<li class="favorite-action"><a href=""><span class="icon"></span>Favorite</a></li>
		<li class="thumbs-up-action"><a href=""><span class="icon"></span>49</a></li>
		<li class="thumbs-down-action"><a href=""><span class="icon"></span>2</a></li>-->		
	</ul>
</div>
