<div class="article-actions">
	<ul>
	<!--<li class="download-action"><a href=""><span class="icon"></span>Download as... <span class="horizontal-caret-up breadcrumb-caret"></span></li>-->
        {% if user == resource.user %}
        <li class="edit-action"><a href="{% url resource:edit_resource resource_id=resource.id %}?collection={{ resource_collection.id }}"><span class="icon"></span>Edit</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="add-action"><a href=""><span class="icon"></span>Add to...</a></li>
        {% endif %}
        <li class="history-action"><a href="{% url resource:view_history resource_id=resource.id %}"><span class="icon"></span>View history</a></li>
        {% if resource_type == 'document' %}
        <li class="print-action"><a href=""><span class="icon"></span>Print</a></li>
        <li class="export-action"><a href=""><span class="icon"></span>Export as PDF</a></li>
        <li class="word-action"><a href=""><span class="icon"></span>Word</a></li>
        {% endif %}
        <li class="share-action"><a href=""><span class="icon"></span>Share <span class="horizontal-caret-up breadcrumb-caret"></span></a></li>
        {% include 'partials/share.html' %}
	</ul>
</div>
<div class="article-community">
	<ul>
        {% if not revision_view %}
		<li class="no-action">{{ resource.views }} views</li>
        <li class="favorite-action"><a href="" title="Favorite"><span class="icon"></span></a></li>
        {% endif %}
		<li class="thumbs-up-action"><a href=""><span class="icon"></span><span class="count"></span></a></li>
		<li class="thumbs-down-action"><a href=""><span class="icon"></span><span class="count"></span></a></li>
	</ul>
</div>

{% if resource_type == 'document' %}
<div class="export-document-pdf-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Export to PDF</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="export-document-pdf-status">Exporting to PDF...</div>
        <div class="export-document-pdf-progress oc-progressbar">
            <div class="export-document-pdf-progress-indicator oc-progressbar-indicator"></div>
        </div>
    </div>
</div>

<div class="export-document-word-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Export to Word</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="export-document-word-status">Exporting to Word...</div>
        <div class="export-document-word-progress oc-progressbar">
            <div class="export-document-word-progress-indicator oc-progressbar-indicator"></div>
        </div>
    </div>
</div>

{% endif %}
{% include 'partials/add.html' %}
