<div class="post-new-comment">
    <div class="post-comment-user-thumbnail">
        {% if user.is_authenticated %}
        <div style="background-image: url('{{ MEDIA_URL }}{{ user.get_profile.profile_pic.name }}')" class="discussion-response-thumbnail"></div>
        {% else %}
        <div style="background-image: url('{{ STATIC_URL }}images/moe-thumbnail.png')" class="discussion-response-thumbnail"></div>
        {% endif %}
    </div>
    <div class="post-comment-body">
        <form>
            <input type="hidden" name="user" value="{{ user.id }}" />
            <input type="hidden" name="parent_type" value="{{ host_content_type.id }}" />
            <input type="hidden" name="parent_id" value="{% if post %}{{ post.id }}{% else %}{{ resource.id }}{% endif %}" />
            <textarea name="body_markdown" placeholder="Say something..."></textarea>
            <div class="post-comment-button-wrapper">
                <div class="action-button post-comment-button">Post comment</div>
            </div>
        </form>
    </div>
</div>