{% if contributions %}
<div class="profile-contributions">
    <h3>{% if user == user_profile %}My{% else %}{{ user_profile.first_name }}'s{% endif %} Contributions</h3>
    <div class="profile-contributions-list">
        {% for contribution in contributions %}
            <div class="profile-contribution">
                <span class="contribution-icon"></span>
                <a href="{% url articles:reader category_slug=contribution.article.category.slug %}?q={{ contribution.article.slug }}&revision={{ contribution.id }}">{{ contribution.title }}</a>
                <a href="{{ contribution.category.url }}" class="category-label">{{ contribution.article.category.title }}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
    {% if projects %}
    <div class="profile-projects projects-listing">
        <h3>{% if user == user_profile %}My{% else %}{{ user_profile.first_name }}'s{% endif %} Projects</h3>
        {% include 'partials/project-item.html' %}
    </div>
    {% endif %}

    {% if resources or edits %}
    <div class="profile-resources">
        <h3>{% if user == user_profile %}My{% else %}{{ user_profile.first_name }}'s{% endif %} Resources</h3>

        {% include 'partials/resources-collections-listing.html' with host='profile' %}

        {% if edits %}
        <h4>Forks</h4>
        {% for edit in edits %}
        <div>
            <a href="{% url articles:reader category_slug=edit.article.category.slug %}?q={{ edit.article.slug }}&revision={{ edit.id }}">{{ edit.created }}</a>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    {% endif %}

    {% if favorites %}
    <div class="profile-favorites">
        <h3>Favorites</h3>
    </div>
    {% endif %}

    {% if not favorites and not resources and not edits %}
        {% if user == user_profile %}
            You haven't created any content or participated in any projects. Get started by <a href="{% url articles:catalog %}">editing articles</a>, creating / uploading a resource or project.
        {% else %}
            {{ user_profile.first_name }} hasn't shared any content.
        {% endif %}
    {% endif %}