{% include 'partials/header.html' %}
{% include 'partials/profile-header.html' with page="files" %}

<div id="fill-panel" class="panel-left">
    {% if user == user_profile %}
        {% include 'partials/create-resource-collection.html' with host='profile' %}
    {% endif %}
    <nav class="collections-navigation">
        {% load project_tags %}
        {# browse_tree|user_navigation_tree:user|safe #}
    </nav>
</div>
<div id="key-panel" class="panel-right">
    {% if resources or collections %}
    {% include 'partials/resources-collections-listing.html' with host='profile' %}
    {% else %}
    Sorry, there is nothing in this collection.
    {% endif %}
</div>

{% include 'partials/profile-footer.html' %}

<script type="text/javascript" src="{{ STATIC_URL }}js/resources-collections.js"></script>
{% include 'partials/add.html' %}

{% include 'partials/footer.html' %}