<div class="content-panel-body-wrapper files-content-panel-body-wrapper"></div>

<div class="move-file-folder-dialog popup">
    <div class="popup-title-bar">
        <div class="popup-title">Move to...</div>
        <div class="popup-exit"></div>
    </div>
    <div class="popup-body">
        <div class="popup-body-message">Select a folder:</div>
        <div class="move-file-folder-browser popup-dialog-browser
 loading-browser">
        </div>
        <div class="move-file-folder-submit-wrapper popup-submit-wrapper">
            <button class="oc-button move-file-folder-submit-button popup-submit-button">Done</button>
        </div>
    </div>
</div>

<div class="rename-file-folder-dialog popup">
    <div class="popup-title-bar">
        <div class="popup-title">Rename file / folder...</div>
        <div class="popup-exit"></div>
    </div>
    <div class="popup-body">
        <div class="popup-body-message">New name:</div>
        <div><input name="new_name" type="text" /></div>
        <div class="rename-file-folder-submit-wrapper popup-submit-wrapper popup-simple-submit-wrapper">
            <button class="oc-button rename-file-folder-submit-button popup-submit-button">Done</button>
        </div>
    </div>
</div>


<div class="delete-file-folder-dialog popup">
    <div class="popup-title-bar">
        <div class="popup-title"><span class="delete-file-folder-dialog-title"></span></div>
        <div class="popup-exit"></div>
    </div>
    <div class="popup-body">
        <span class="delete-file-folder-dialog-message popup-body-message">Are you sure you want to delete this resource?</span>
        <div class="delete-file-folder-submit-wrapper popup-submit-wrapper-set">
            <div class="popup-submit-button-set">
                <button class="oc-button oc-dull-button delete-file-folder-cancel-button">No, cancel</button>
                <button class="oc-button delete-file-folder-submit-button">Yes, delete</button>
            </div>
        </div>
    </div>
</div>
