<h3>{% if user == user_profile%}You have{% else%}{{ user_profile.first_name }} has{% endif %} subscribed to</h3>
<div id="subscriber-list" class="user-list">    
    {% for subscriber in subscriptions %}
    <form class="subscribe-suggestion-form">
        <input type="hidden" name="user_id" value="{{ subscriber.subscribee.user.id }}" />
        <div class="subscriber user">
            <div class="subscriber-info user-info">
                <div class="subscriber-photo user-photo" style="background-image: url('{{ MEDIA_URL }}{{ subscriber.subscribee.profile_pic.name }}');">
                </div>
                <div class="subscriber-description user-description">
                    <a href="{% url user:user_profile username=subscriber.subscribee.user.username %}">{{ subscriber.subscribee.user.get_full_name }}</a>
                    {% if user != subscriber.subscribee.user %}
                    <p><button class="action-button mini-action-button subscribe-button">Subscribe</button></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
    {% empty %}
    No one on that list, yet. But you have the chance to change that!
    {% endfor %}
</div>