<div class="classes-box-wrapper"></div>
<div class="ajax-spinner"></div>

<div class="setup-class-dialog popup">
    <div class="setup-class-header popup-title-bar">
        <div class="popup-exit"></div>
    </div>
    <div class="popup-body">
        <div class="select-days popup-body-message">
            Which days of the week do you teach this class?
                <div class="setup-class-options">
                    <label><input type="checkbox" name="Monday" /> Monday</label>
                    <label><input type="checkbox" name="Tuesday" /> Tuesday</label>
                    <label><input type="checkbox" name="Wednesday" /> Wednesday</label>
                    <label><input type="checkbox" name="Thursday" /> Thursday</label>
                    <label><input type="checkbox" name="Friday" /> Friday</label>
                </div>
            <div class="setup-class-days-wrapper popup-submit-wrapper popup-simple-submit-wrapper">
                <button class="oc-button setup-class-days-button popup-submit-button">Next &#187;</button>
            </div>
        </div>

        <div class="select-times popup-body-message">
            On <span class="select-times-day-name"></span>, what time(s) do you teach this class?
            <div class="setup-class-options">
                <div class="class-periods"></div><a class="add-class-period">+ Add class period</a>
            </div>
            <div class="replicate-labels-wrapper">Set same times for <span class="replicate-labels"></span></div>
        
            <div class="setup-class-days-wrapper popup-submit-wrapper popup-simple-submit-wrapper">
                <button class="oc-button setup-times-days-button popup-submit-button"></button>
            </div>

        </div>
    
    </div>
</div>