<div class="curriculum"></div>

<div class="ajax-loader-wrapper curriculum-loader-wrapper"><div class="ajax-loader loading"></div></div>

<div class="explorer-resource-preview-wrapper">
    <div class="explorer-resource-preview">
        <div class="explorer-resource-header">
            <div class="explorer-resource-header-thumbnail-wrapper">
                <div class="explorer-resource-header-thumbnail"></div>
            </div>
            <div class="explorer-resource-header-title"></div>
        </div>
        <div class="explorer-resource-contents">
            <div class="explorer-resource-body" id="document-body"></div>
            <div class="explorer-resource-actions">
                <div class="explorer-resource-actions-close" title="Close"></div>
                <a class="explorer-resource-actions-open" title="Open in new tab / window" target="_blank"></a>
                <div class="explorer-resource-actions-favorite" title="Favorite"></div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/upload.html' %}

{% include 'partials/post.html' %}
