<div class="authenticate-form">
    {% if not social_id and not social_buttons %}
    {% if expedite %}
    <div class="registration-cover visible" title="{{ expedite }}"></div>
    {% endif %}
    <aside class="google-signin">
        <div data-state="{{ state }}" id="session-state"></div>
        <div id="signinButtons">
            <button class="google-plus-button" id="custom-plus-button">Log in with Google+</button>
            <button class="facebook-button">Log in with Facebook</button>
            <script type="text/javascript">
                var GPlusClientID = '{{ client_id }}',
                    fbAppID = '{{ FB_APP_ID }}'
            </script>
        </div>

        <div id="results"></div>
    </aside>

    <div class="or-wrapper">
        <span class="or-loading"></span>
        <span class="or-text">OR</span>
    </div>
    {% endif %}
    {% if profile_form.social_id.errors %}
    <div class="form-error">{{ profile_form.social_id.errors|first }}</div>
    {% endif %}

    <form method="POST" action="/signup/" id="signup-form">
        <input type="hidden" name="social_login" value="{{ social_login }}" />
        <input type="hidden" name="social_service" value="{{ social_service }}" />
        <input type="hidden" name="social_id" value="{{ social_id }}" />
        <input type="hidden" name="no-recaptcha" value="true" />
        <input type="hidden" name="profile_pic" />
        {% csrf_token %}
        <table id="signup-form-table">
            <tr><td><input type="text" name="first_name" placeholder="First name" value="{{ form.first_name }}"{% if user_form.first_name.errors %} title="{{ user_form.first_name.errors|first }}" class="form-input-error"{% endif %}></td><td><input type="text" name="last_name" placeholder="Last name" value="{{ form.last_name }}" {% if user_form.last_name.errors %}title="{{ user_form.last_name.errors|first }}" class="form-input-error"{% endif %}></td></tr>
            
            <tr><td colspan="2" class="email-address-input-wrapper"><input type="text" name="email" placeholder="Email address" value="{{ form.email }}"{% if user_form.email.errors %} title="{{ user_form.email.errors|first }}" class="form-input-error"{% endif %}></tr>
            
            <tr class="registration-username-password">
                <td{% if social_id %} colspan="2"{% endif %}>
                    <input type="text" name="username" placeholder="Username" value="{{ form.username }}" />
                </td>
                {% if not social_id %}
                <td>
                    <input type="password" name="password" placeholder="Password" />
                </td>
                {% endif %}
            </tr>
            
            <tr class="extra-information"><td></td></td></td></tr>
            <tr><td colspan="2"><span class='form-info-text'>I am a</span>
            <select name="profession">
                <option name="Teacher" selected>Teacher</option>
                <option name="Student">Student</option>
                <option name="Administrator">Administrator</option>
                <option name="Publisher">Publisher</option>
                <option name="Other">Other</option>
            </select>
            </td></tr>
            <tr><td><input type="text" name="location" value="{{ form.location }}" placeholder="Location"></td><td>
                <label><input type="radio" name="gender" value="1"> MALE</label>
                <label><input type="radio" name="gender" value="0" checked> FEMALE</label>
                
            </td></tr>
            <tr class="dob-inputs-info-wrapper"><td class="dob-inputs-info">Date of birth</td><td></td></tr>
            <tr><td colspan="2">
                <div class="dob-inputs-wrapper">
                    <select name="dob_month" placeholder="Month">
                        <option value="0">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>                        
                    </select>
                    <input type="text" placeholder="Date" name="dob_date" value="{{ form.dob_date }}" {% if profile_form.dob.errors %} title="{{ profile_form.dob.errors }}" class="form-input-error"{% endif %}/>
                    <input type="text" placeholder="Year" name="dob_year" value="{{ form.dob_year }}"/>
                </div>
            
                <button class="action-button large-action-button new-action-button">Sign up</button>
            </td></tr>
            <tr class="terms-privacy-message-wrapper"><td colspan="3" class="terms-privacy-message">By clicking submit, you agree to our <a href="{% url terms %}" target="_blank">Terms</a> and <a href="{% url privacy %}" target="_blank">Privacy Policy</a>.</td></tr>
        </table>
    </form>
</div>