<input type="hidden" name="user" value="{{ user.id }}"/>
{% if project %}
<input type="hidden" name="project" value="{{ project.id }}"/>
{% elif resource.project_id %}
<input type="hidden" name="project" value="{{ resource.project_id }}"/>
{% endif %}
{% if collection %}
<input type="hidden" name="collection" value="{{ collection.id }}"/>
{% elif resource.collection_id %}
<input type="hidden" name="collection" value="{{ resource.collection_id }}"/>
{% endif %}
{% if resource %}
<input type="hidden" name="resource_id" value="{{ resource.id }}" />
{% endif %}
