<tr><td>Who can see this?</td><td>
    {% include 'partials/resource-form-visibility.html' %}
</td></tr>
<tr><td></td><td><span class="resource-form-error">{{ form.errors.visibility }}</span></td></tr>
<tr><td>License</td><td>
    <select name="license">
        {% for license in licenses %}
        <option value="{{ license.id }}" {% ifequal resource.license license %}selected{% endifequal %}>{{ license.title }}</option>
        {% endfor %}
    </select>
</td></tr>
<tr><td></td><td><span class="resource-form-error">{{ form.errors.license }}</span></td></tr>
<tr><td>Description</td><td><textarea name="description" class="new-resource-description">{{ resource.description }}</textarea></td></tr>
<tr><td></td><td><span class="resource-form-error">{{ form.errors.body_markdown }}</span></td></tr>
<tr><td>Tags</td><td>
    <ul class="new-resource-tags">
        {% if resource.tags %}
        {% for tag in resource.tags.all %}
        <li>{{ tag }}</li>
        {% endfor %}
        {% endif %}
    </ul>
</textarea></td></tr>
<tr><td colspan="2" class="right">
    <div id="submission-buttons">
        <button class="action-button" type="submit">Submit</button>
    </div>
</td></tr>
<tr><td></td><td><span class="resource-form-error">{{ form.errors.tags }}</span></td></tr>