{% if host == 'project' %}
{% if user in project.confirmed_members %}
{% include 'partials/collection-actions.html' %}
{% endif %}
{% elif user == user_profile %}
{% include 'partials/collection-actions.html' %}
{% endif %}
<div class="{{ host }}-resources-collections resources-collections-added collection-visibility-{{ collection.visibility }}{% if host == 'project' %} project-listing project-visibility-{{ project.visibility }}{% endif %}" id="collection-{{ collection.id }}">
    <div class="{{ host }}-collections-added-list">
        {% with item_category='collection' %}
        {% for item in collections %}
        {% include 'partials/resource-collection-item-filter.html' %}
        {% endfor %}
        {% endwith %}

        {% with item_category='collection' item_type='unit' %}
        {% for item in units %}
        {% include 'partials/resource-collection-item-filter.html' %}
        {% endfor %}
        {% endwith %}
    </div>
    <div class="{{ host }}-resources-added-list">
        {% with item_category='resource' %}
        {% for item in resources %}
        {% include 'partials/resource-collection-item-filter.html' %}
        {% endfor %}
        {% endwith %}
    </div>
</div>
{% if resource_count > 20 %}
<div class="lazy-load-button">Load more...</div>
{% endif %}

<div class="delete-resource-dialog dialog" title="Delete resource">
    Are you sure you want to delete this resource?
</div>

<div class="delete-collection-dialog dialog" title="Delete resource">
    Are you sure you want to delete this folder? This will delete all the folders and resources within this folder
</div>

<div class="move-resource-collection-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Move to...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        Select a folder from the following project folders:
        <div class="move-resource-collection-browser oc-popup-dialog-browser
 loading-browser">
        </div>
        <div class="move-resource-collection-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button move-resource-collection-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>

{% include 'partials/share-file-folder.html' %}
