{% if resource.meta.context %}
<div class="oer-context">
    <div class="oer-context-key">
        <h3>A little background</h3>
        <ul>
            {% for context in resource.meta.context %}
            <li>{{ context|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="oer-context-fill"></div>
</div>
{% endif %}
{% if resource.meta.show_description %}
<div class="oer-description">
    <div class="oer-description-key">
        {{ resource.description }}
    </div>
    <div class="oer-description-fill"></div>
</div>
{% endif %}
{% if resource.meta.objectives %}
<section class="oer-meta">
    <div class="oer-meta-key">
        <h3>Objectives</h3>
        <ul>
            {% for objective in resource.meta.objectives %}
            <li>{{ objective }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="oer-meta-fill">
        {% if resource.meta.prior.all|length != 0 %}
        <h3>Prior Knowledge</h3>
        <ul>
            {% for prior in resource.meta.prior.all %}
            <li>{{ prior.topic.title }}{% if prior.concept %}<span class="vertical-caret breadcrumbs-caret"></span>{{ prior.concept }}{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</section>
{% endif %}
{% if resource.meta or standards %}
{% if resource.meta.time != 0 or resource.meta.materials or standards %}
<section class="oer-meta-support">
    {% if resource.meta.time != 0 %}<span class="oer-meta-time-icon"></span>{{ resource.meta.time }} mins{% endif %}{% if resource.meta.materials %}<span class="oer-meta-materials-icon"></span>{{ resource.meta.materials|join:', ' }}{% endif %}{% if standards %}<span class="oer-meta-tag-icon"></span>{% for standard in standards %}<a href="{% url meta:standard tag_title=standard.title %}" class="oer-meta-support-tag" title="{{ standard.description }}">{{ standard.title }}</a>{% endfor %}{% endif %}
</section>
{% endif %}
{% endif %}
{% if not resource.meta.show_description and not resource.meta.objectives %}
<div class="need-more-info">Confused about what the purpose of this resource is? Click <button class="action-button mini-action-button need-more-info-button">Need more information</button></div>
{% endif %}