{% if resources or collections %}
<div class="{{ host }}-resources-added">
    <div class="{{ host }}-collections-added-list">
        {% for collection_item in collections %}
        <div class="{{ host }}-browse-item resource-collection-item directory">
        {% if collection_item.visibility == 'public' %}
            {% include 'partials/collection-item.html' %}
        {% elif host == 'profile' %}
            {% if user == user_profile %}
                {% include 'partials/collection-item.html' %}
            {% endif %}
        {% elif host == 'project' %}
            {% if user in project.members.all %}
                {% include 'partials/collection-item.html' %}
            {% endif %}
        {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="{{ host }}-resources-added-list">
        {% for resource in resources %}
        {% if resource.visibility == 'public' %}
            {% include 'partials/resource-item.html' %}
        {% elif host == 'profile' %}
            {% if user == user_profile %}
                {% include 'partials/resource-item.html' %}
            {% endif %}
        {% elif host == 'project' %}
            {% if user in project.members.all %}
                {% include 'partials/resource-item.html' %}
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="delete-resource-dialog dialog" title="Delete resource">
    Are you sure you want to delete this resource?
</div>

<div class="delete-collection-dialog dialog" title="Delete resource">
    Are you sure you want to delete this collection? This will delete all the collections and resources within this collection
</div>

{% endif %}