<div class="resource-snippet">
	<div class="resource-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ resource.image.name }}')" title="{{ resource.title }}" alt="{{ resource.title }}"></div>
	<div class="description">
		<div class="resource-title"><a href="{% url read resource_id=resource.id resource_slug=resource.slug %}" title="{{ resource.title }}">{{ resource.title }}</a></div>
		<div class="resource-description">{{ resource.description|striptags|truncatechars:110}}</div>
	</div>
</div>
