<div class="search-filters">
    <div class="search-filter">
        <div class="search-filter-title">Type of content <span class="horizontal-caret-up breadcrumb-caret"></span></div>
        <div class="search-filter-menu">
            <label><input type="checkbox" name="type" value="article" checked />OpenCurriculum article</label>
            <label><input type="checkbox" name="type" value="project" checked />OpenCurriculum project</label>
            <label><input type="checkbox" name="type" value="audio-clip" checked />Audio clip</label>
            <label><input type="checkbox" name="type" value="video" checked />Video clip</label>
            <label><input type="checkbox" name="type" value="app-game" checked />App / game</label>
            <label><input type="checkbox" name="type" value="image" checked />Image(s) / Graphic(s)</label>
            <label><input type="checkbox" name="type" value="attachment" checked />PDF / PPT / Document</label>
            <label><input type="checkbox" name="type" value="url" checked />External Webpage</label>
        </div>
    </div>
    <div class="search-filter">
        <div class="search-filter-title">License <span class="horizontal-caret-up breadcrumb-caret"></span></div>
        <div class="search-filter-menu">
            <label><input type="checkbox" name="license" value="CC-BY-SA" checked />Creative Commons</label>
            <label><input type="checkbox"  name="license" value="gnu-fdl" checked />GNU / FDL</label>
        </div>
    </div>
</div>

<div id="search-result-set"></div>

<div class="loading-dialog oc-popup"></div>
{% include 'partials/add.html' %}
