<div class="browse-post-new-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Post new lesson or resource...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <p class="browse-post-new-message">What would you like to share with the community today?</p>
        <ul class="browse-post-new-options">
            <li class="browse-post-new-option upload-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">Upload something</div>
            </li>
            <li class="browse-post-new-option file-folder-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">My file or folder</div>
            </li>
            <li class="browse-post-new-option url-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">Website link</div>
            </li>
        </ul>
    </div>
</div>

<div class="post-new-file-folder-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Select an existing file or folder</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="post-new-file-folder-profile-browser oc-popup-dialog-browser loading-browser"></div>

        <form id="post-new-file-folder-profile-form" method="POST" action="{% url resource:post_existing_resource_collection %}">
            {% csrf_token %}
            <input type="hidden" name="is_resource" value="" />
            <input type="hidden" name="resource_collection_ID" value="" />
            <input type="hidden" name="category_id" value="{{ selected_category.id }}" />
            <div class="post-new-file-folder-submit-wrapper oc-popup-submit-wrapper">
                <button class="action-button post-new-file-folder-submit oc-popup-submit-button">Next &#187;</button>
            </div>
        </form>
    </div>
</div>

<div class="post-new-url-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Share a website URL</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <form method="POST" action="{% url resource:post_url %}">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ selected_category.id }}" />
            <table>
                <tr><td>URL</td><td><input type="text" name="url" /></td></tr>
                <tr><td>Title</td><td><input type="text" name="title" /></td></tr>
            </table>
            <div class="post-new-url-submit-wrapper oc-popup-submit-wrapper">
                <button class="action-button post-new-url-submit oc-popup-submit-button">Next &#187;</button>
            </div>
        </form>
    </div>
</div>

<div class="post-tag-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Tell us a little more...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <table>
            <tr><td>This resource is a</td><td>
                <select name="type">
                    <option name="lesson" selected>Lesson</option>
                    <option name="activity">Activity</option>
                    <option name="worksheet">Worksheet</option>
                    <option name="assessment">Assessment</option>
                    <option name="assessment">Exercise</option>                    
                    <option name="lecture">Lecture</option>
                </select>
            </td></tr>
            <tr><td>Common Core standards met <span class="standards-suggestion-text">(begin typing to select from suggestions)</span></td><td><ul class="standards-input"></ul>
            </td></tr>
        </table>        
        <div class="post-tag-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button post-tag-submit oc-popup-submit-button">Post</button>
        </div>
    </div>
</div>