<form method="POST" action="/authenticate/" id="sign-in-form">
    {% if source %}
    <input type="hidden" name="redirect_to" value="{{ source }}" />
    {% endif %}
    {% csrf_token %}
    <div>Username or Email address</div>
    <div><input type="text" name="username" placeholder="Username or Email address"/></div>
    <div>Password</div>
    <div><input type="password" name="password" placeholder="Password" /></div>
    <div class="login-authentication-failure">{% if login_error_message %}{{ login_error_message }}{% endif %}</div>
    <div id="loggedin-button">
        <input type="checkbox" name="stay-logged-in" />Keep me logged in
        <button class="action-button new-action-button">Log in<span class="vertical-caret"></span></button>
    </div>
    <div id="forgot-username-password">Forgot username or password? <a href="">Click here</a></div>
    <table id="signup-or">
        <tr><td class="signup-or-flank"></td><td>OR</td><td class="signup-or-flank"></td></tr>
    </table>
    <div data-state="{{ state }}" id="session-state"></div>
    <div id="signinButtons">
        <button class="google-plus-button" id="custom-plus-button">Log in with Google+</button>
        <button class="facebook-button">Log in with Facebook</button>

        <script type="text/javascript">
            var GPlusClientID = '{{ client_id }}',
                fbAppID = '{{ FB_APP_ID }}'
        </script>
    </div>
    <div id="result"></div>
</form>
<form class="google-plus-login">
    <input type="hidden" name="google_id" />
    <input type="hidden" name="redirect_to" value="{{ source }}" />
</form>
<form class="facebook-login">
    <input type="hidden" name="facebook_id" />
    <input type="hidden" name="redirect_to" value="{{ source }}" />
</form>

<div class="new-account-redirect-dialog oc-popup">
    <div class="oc-popup-body">
        <div class="new-account-redirect-body">
        <h3>Redirecting you to complete account setup...</h3>
        </div>
    </div>
</div>