{% spaceless %}
<div class="lesson-content simple-lesson-content">
    <h3>Essential question</h3>
    <div class="lesson-question-body"></div>
    
    <h3>Objectives</h3>
    <div class="lesson-objectives-body"></div>

    <h3>Activating strategy</h3>
    <div class="lesson-activation-body"></div>

    <h3>Activity</h3>
    <div class="lesson-activity-body"></div>

    <h3>Guided practice</h3>
    <div class="lesson-guided-practice-body"></div>

    <h3>Independant practice</h3>
    <div class="lesson-independant-practice-body"></div>

    <h3>Assessment practice</h3>
    <div class="lesson-assessment-body"></div>

    <h3>Reflection &amp; closing</h3>
    <div class="lesson-reflection-body"></div>
</div>
{% endspaceless %}