{% spaceless %}
<div class="lesson-content">
    <h3>Act one</h3>
    <div class="lesson-act-one-resource-suggestion insert-widget">Insert a video, image or upload something</div>
    <div class="lesson-act-one-body"></div>
    <h3>Act two</h3>
    <div class="lesson-act-two-resource-suggestion insert-widget">Insert a video, image or upload something</div>
    <div class="lesson-act-two-body"></div>
    <h3>Act three</h3>
    <div class="lesson-act-three-resource-suggestion insert-widget">Insert a video, image or upload something</div>
    <div class="lesson-act-three-body"></div>
    <h3>Sequel</h3>
    <div class="lesson-sequel-resource-suggestion insert-widget">Insert a video, image or upload something</div>
    <div class="lesson-sequel-body"></div>    
</div>
{% endspaceless %}