{% spaceless %}
<div class="lesson-content">

    <h3>Stage 1 - Desired Results</h3>
    <div class="lesson-established-goals">
        <h4>Established Goal(s):</h4>
        <div class="lesson-established-goals-body"></div>
    </div>

    <div class="lesson-understandings-questions-wrapper">
        <div class="lesson-understandings">
            <h4>Understanding(s):</h4>
            <div class="lesson-understandings-body"></div>
        </div>
        <div class="lesson-questions">
            <h4>Essential Question(s):</h4>
            <div class="lesson-questions-body"></div>
        </div>
    </div>

    <div class="lesson-knowledge-ability-wrapper">
        <div class="lesson-knowledge">
            <h4>Students will know...</h4>
            <div class="lesson-knowledge-body"></div>
        </div>
        <div class="lesson-ability">
            <h4>Students will be able to...</h4>
            <div class="lesson-ability-body"></div>
        </div>
    </div>


    <h3>Stage 2 - Assessment Evidence</h3>
    <div class="lesson-performance-evidence-wrapper">
        <div class="lesson-performance">
            <h4>Performance Task(s):</h4>
            <div class="lesson-performance-body"></div>
        </div>
        <div class="lesson-evidence">
            <h4>Other Evidence:</h4>
            <div class="lesson-evidence-body"></div>
        </div>
    </div>

    <h3>Stage 3 - Learning Plan</h3>
    <div class="lesson-activities">
        <h4>Learning activities:</h4>
        <div class="lesson-activities-body"></div>
    </div>
</div>
{% endspaceless %}