<div class="new-discussion-post-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>New post</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <form id="new-discussion-post-form" action="/group/{{ project.slug }}/discussions/post/" method="POST">
            <div style="background-image: url('{{ MEDIA_URL }}{{ user.get_profile.profile_pic.name }}')" class="user-thumbnail-xsmall new-discussion-post-prompt-user-thumbnail"></div>
            <div class="new-discussion-post-prompt"><span class="new-discussion-post-prompt-suggest new-discussion-post-prompt-suggest-post-as">Post as</span> {{ user.get_full_name }} <span class="new-discussion-post-prompt-suggest">in</span> 
                <select class="new-discussion-post-prompt-category" name="category">
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ project.id }}" />
                <textarea name="body_markdown" class="new-discussion-post-body" placeholder="Say something..."></textarea>
                <input type="hidden" name="attachment_id" value="" />
                <input type="hidden" name="is_resource" value="" />
            <div class="new-discussion-post-submit-wrapper">
                <div class="new-discussion-post-attach-wrapper">
                    <a href="" class="new-discussion-post-attach">Attach a file / folder</a>
                </div>
                <div class="action-button new-discussion-post-submit">Post</div>
            </div>
        </form>
        
    </div>
</div>
<div class="new-discussion-post-attach-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Attach to post...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        Upload something or select an existing file or folder:
        <div class="new-discussion-post-attach-resource-browser">
            <nav class="new-discussion-post-attach-resource-tabs">
                <ul>
                    <li><a href=".upload-new">Upload new</a></li>
                    <li><a href=".my-files">From my files</a></li>
                </ul>
            </nav>
            <div class="new-discussion-post-attach-resource-content oc-tabs-content">
                <div class="upload-new">
                    <div class="upload-new">
                        <div class="upload-drag-drop">
                        </div>
                        <div class="upload-drag-drop-message">
                            DRAG AND DROP YOUR FILES HERE
                        </div>
                    </div>
                </div>
                <div class="my-files">
                    <div class="new-discussion-post-attach-resource-project-browser oc-popup-dialog-browser loading-browser"></div>

                    <div class="new-discussion-post-attach-submit-wrapper oc-popup-submit-wrapper">
                        <div class="action-button new-discussion-post-attach-submit oc-popup-submit-button">Attach</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/post-new-comment-reply.html' %}
