.article-example
	padding: 10px
	padding-top: 2px
	background-color: #FFF8E7
	margin: 20px 0px

.article-block
	padding: 10px
	padding-top: 2px
	background-color: #E9EFFA
	margin: 20px 0px

#article table
	margin: 10px 0px

.article-caption
	text-align: center
	
code, pre
	font-family: monospace
	margin: 10px 0px
	background-color: #e9effa

pre
	padding: 10px
	
#article ol
	list-style-type: decimal
	padding-left: 25px
