{% include 'partials/header.html' %}
{% include 'project/header.html' with page="browse" %}

<div class="center-stage browse-page">
    <div id="fill-panel" class="panel-left">
        {% if user in project.members.all %}
            {% include 'partials/create-resource-collection.html' with host='project' %}
        {% endif %}

        <nav class="collections-navigation">
            {% load project_tags %}
            {{ browse_tree|project_navigation_tree|safe }}
        </nav>
    </div>
    <div id="key-panel" class="panel-right">
        {% if resources or collections %}
        {% include 'partials/resources-collections-listing.html' with host='project' %}
        {% else %}
        Sorry, there is nothing in this collection.
        {% endif %}
    </div>
</div>

{% include 'project/footer.html' %}
{% include 'partials/footer.html' %}