{% include 'partials/header.html' %}
{% include 'project/header.html' with page="browse" %}

<div class="center-stage browse-page">
    <div id="fill-panel" class="panel-left">
        {% if user in project.confirmed_members %}
            {% include 'partials/create-resource-collection.html' with host='project' %}
        {% endif %}

        <nav class="collections-navigation">
            {% load project_tags %}
            {{ browse_tree|project_navigation_tree:user|safe }}
        </nav>
    </div>
    <div id="key-panel" class="panel-right">
        {% include 'partials/resources-collections-listing.html' with host='project' %}
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/resources-collections.js"></script>

{% include 'project/footer.html' %}
{% include 'partials/footer.html' %}