{% include 'partials/header.html' with body_class='project-view' %}
{% include 'project/header.html' %}

<script type="text/javascript">
    OC.config.contentTypes.comment = '{{ host_content_type.id }}'
</script>

<div class="center-stage individual-discussion">
    <div id="key-panel" class="panel-left">
        <div class="discussion-board">
            {% include 'project/partials/discussion.html' %}
        </div>
    </div>
    <div id="fill-panel" class="panel-right">
    </div>
</div>

{% include 'project/partials/discussion-footer.html' %}

{% include 'project/footer.html' %}
{% include 'partials/footer.html' %}