{% include 'partials/header.html' with body_class='project-view' %}
{% include 'project/header.html' with page="home" %}

<div class="center-midstage">
    <div id="key-panel" class="panel-left">
        <div class="discussion-board-filters-search">
            <form>
                <input type="text" placeholder="Search..." />
            </form>
        </div>
    </div>

    <div id="fill-panel" class="panel-right">
        <div class="discussion-board-filters-sort">
            <span class="sort-by">Sort by: </span><span class="filter-sort-option filter-sort-option-newest selected">Newest</span> <span class="filter-sort-option filter-sort-option-popularity">Popularity</span>
            <!--
            <div class="sort-by-type">All types<span class="sort-by-type-button"></div>
            <div class="sort-by-type-menu">
                <div class="sort-by-type-menu-content">
                    <h4>Content type</h4>
                    <label><input type="checkbox" name="type" value="lesson" checked />Lesson</label>
                    <label><input type="checkbox" name="type" value="project" checked />Project</label>
                    <label><input type="checkbox" name="type" value="worksheet" checked />Worksheet</label>
                    <label><input type="checkbox" name="type" value="handout" checked />Handout</label>
                    <label><input type="checkbox" name="type" value="activity" checked />Activity</label>
                    <label><input type="checkbox" name="type" value="test" checked />Test / assessment</label>
                    <label><input type="checkbox" name="type" value="lecture" checked />Lecture</label>
                </div>
                 <div class="sort-by-type-menu-format">
                    <h4>Format type</h4>
                    <label><input type="checkbox" name="type" value="document" checked />Document</label>
                    <label><input type="checkbox" name="type" value="slideshow" checked />Slideshow</label>
                    <label><input type="checkbox" name="type" value="website" checked />Website</label>
                    <label><input type="checkbox" name="type" value="video" checked />Video</label>
                    <label><input type="checkbox" name="type" value="audio" checked />Audio</label>
                </div>
            </div>
            -->
        </div>
    </div>
</div>

<div class="center-substage">
    <div id="key-panel" class="panel-left">
        <div class="discussion-board">
            <script type="text/javascript">
                OC.config.contentTypes.comment = '{{ host_content_type.id }}'
            </script>
            {% include 'project/partials/discussion.html' %}
        </div>
    </div>
    <div id="fill-panel" class="panel-right">
        <div class="discussion-board-filters">
            <h4>Show posts in</h4>
            {% for category in categories %}
            <label><input type="checkbox" name="category" value="{{ category.title|lower }}" checked />{{ category.title }}</label>
        {% endfor %}
        </div>
    </div>
</div>

{% include 'project/partials/discussion-footer.html' %}

{% include 'project/footer.html' %}
{% include 'partials/footer.html' %}