{% include 'partials/header.html' %}
<!-- script src="{{ STATIC_URL }}js/search-results.js" type="text/javascript"></script-->

{% load highlight %}
{% load stripper %}

<div class="center-stage">
	<div id="fill-panel" class="panel-left">
		<aside id="support">
			<h3>Search filters</h3>
			<div class="search-filter">
				<div class="search-filter-header">Content type</div>
				<label><input type="checkbox" name="type" value="article" checked />OpenCurriculum article</label>
				<label><input type="checkbox" name="type" value="project" checked />OpenCurriculum project</label>
				<label><input type="checkbox" name="type" value="audio-clip" checked />Audio clip</label>
				<label><input type="checkbox" name="type" value="video-clip" checked />Video clip</label>
				<label><input type="checkbox" name="type" value="app-game" checked />App / game</label>
				<label><input type="checkbox" name="type" value="image" checked />Image(s) / Graphic(s)</label>
				<label><input type="checkbox" name="type" value="pdf-document" checked />PDF / Document</label>
				<label><input type="checkbox" name="type" value="ex-webpage" checked />External Webpage</label>
			</div>
			<div class="search-filter">
				<div class="search-filter-header">Difficulty level</div>
				<div id="difficulty-slider-range" class="thermometer"></div>
			</div>
			<div class="search-filter">
				<div class="search-filter-header">Cost</div>
				<label><input type="checkbox" name="cost" value="free" checked />Free</label>
				<label><input type="checkbox" name="cost" value="paid" checked />Paid (Premium)</label>
			</div>
			<div class="search-filter">
				<div class="search-filter-header">License category</div>
				<!-- TODO: Change value of license to "creative commons" and support other licenses -->
				<label><input type="checkbox" name="license" value="CC-BY-SA" checked />Creative Commons</label>
				<label><input type="checkbox"  name="license" value="gnu-fdl" checked />GNU / FDL</label>
			</div>
		</aside>
	</div>
	<div id="key-panel" class="panel-right">
		<h3>Search results for <span class="search-term">{{ query }}</span></h3>
		{% if query %}
			<div id="search-result-set">
				<script type="text/javascript">
				{% for result in page.object_list %}
					{% if result.content_type == "articles.article" %}				
					var result = new Result({
						url: '{% url articles:reader category_slug=result.object.category.slug %}?q={{ result.object.slug }}',
		    			title: '{{ result.object.title }}',
				   	{% with result.object.revision.body_markdown_html|striptags|escapejs as stripped_result %}				
					summary: '{% highlight stripped_result with query %}',
		    			{% endwith %}
		    			created: '{{ result.object.created }}',
		    			user: '{{ result.object.revision.user }}',
		    			difficulty: '{{ result.object.difficulty }}',
		    			cost: 'free',
		    			license: '{{ result.object.license }}',
		    			type: 'article',
		    			thumbnail: '{{ STATIC_URL }}images/thumbnails/{{ result.object.id }}-thumb.jpg'
		    		});
		    		{% endif %}
					{% if result.content_type == "oer.resource" %}
					var result = new Result({
						url: '{% url resource:read resource_id=result.object.id %}',
		    			title: '{{ result.object.title }}',
		    			{% with result.object.body|striptags as stripped_result %}
		    			summary: '{% highlight stripped_result with query %}',
		    			{% endwith %}
		    			created: '{{ result.object.created }}',
		    			user: '{{ result.object.user }}',
		    			difficulty: '{{ result.object.difficulty }}',
		    			cost: 'free',
		    			license: '{{ result.object.license }}',
		    			type: '{{ result.object.type }}',
		    			thumbnail: '{{ STATIC_URL }}images/oer_thumbnails/{{ result.object.id }}-thumb.jpg'
		    		});
					{% endif %}
					resultSet.add(result);
				{% empty %}
		            //<p>No results found.</p>
		        {% endfor %}
				</script>
				<!--<div class="search-result">
					<div class="description">
						<div class="search-result-title"><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></div>
						<div class="search-result-description">{# highlight result.object.revision.body with query #}</div>
						<div class="search-result-meta">Created on {{ result.object.created }} by {{ result.object.revision.user }}</div>
					</div>
					<div class="search-result-thumbnail"></div>
				</div>-->

			</div>
				<!--
				{% if page.has_previous or page.has_next %}
			        <div>
			            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
			            |
			            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
			        </div>
			    {% endif %}-->
		{% endif %}
	</div>
</div>

{% include 'partials/footer.html' %}
