/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}




body {
	font-family:"Proxima Nova Regular", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:normal;
	font-style:normal;
	line-height: 1em;
	font-size: 0.95em;
	color: #1a1a1a;
}

body > header {
	background-color: #efefef;
	display: block;
	height: 55px;
}

#header-prebanner {
	background-color: #5abd02;
	display: block;
	height: 4px;
}

#header-center {
	width: 960px;
	margin: auto;
	padding-top: 10px;
}

#logo {
	height: 25px;
	float: left;
	margin-top: 2px;
}

#search-bar {
	margin-left: 20px;
	float: left;
}

#search-bar input[type=search] {
	background-color: #f2f2f2;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	height: 16px;
	width: 260px;
	padding: 4px;
	padding-left: 6px;
	font-size: 0.75em;
	padding-right: 20px;
}

#search-bar input[type=search]:focus {
	background-color: #f6f6f6;
	font-style: normal;
	font-weight: normal;
	box-shadow: 0 0 5px rgba(90, 189, 2, 0.6);
    outline: 0 none;
}

#search-bar input[type=search].typing {
    color: #222222;
}

#search-bar input[type=search].default {
	font-style: italic;
	font-weight: bold;
	color: #a2a2a2;
}

#search-bar input[type=search].empty {
	color: #cecece;
	transition: color .2s linear;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
}

#search-bar input[type=submit]{
	border-width: 0px;
	background-color: #f2f2f2;
	background-image: url('../images/search-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	height: 23px;
	left: -30px;
	top: 1px;
	width: 25px;
	position: relative;
}

#search-bar input[type=submit]:hover {
	background-color: #e2e2e2;
}

.live-filter-wrapper input[type=search] {
	background-color: #f8f8f8;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	height: 12px;
	width: 200px;
	padding: 4px;
	margin-left: 20px;
	font-size: 0.75em;
}

#chief-panel-container.home {
	height: 450px;
	background-color: #b7dcf7;
	background: -moz-radial-gradient(center, ellipse cover, rgba(210,229,242,1) 0%, rgba(210,229,242,1) 1%, rgba(183,220,247,1) 100%);
		
}

#chief-panel-container.developers {
	height: 800px;
	background: url('../images/developers_backdrop.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#chief-panel-wrapper {
	width: 100%;
	margin: auto;
}

.home #chief-panel-wrapper {
	background-image: url('../images/sun-flare.png');
	height: 450px;
	background-position: center -50px;
	background-repeat: no-repeat;
}

#chief-panel {
	width: 960px;
	margin: auto;
	padding: 60px 0px 0px 0px;
	position: relative;
	overflow: hidden;
}

.home #chief-panel {
	top: -450px;
	overflow: hidden;
	height: 390px;
	margin-bottom: -450px;
}

#center-stage {
	width: 960px;
	margin: auto;
	margin-top: 40px;
	overflow: hidden;
}

#chief-panel-footer {
	background-image: url('../images/grass.png');
	position: relative;
	top: -75px;
	height: 75px;
	width: 100%;
	background-repeat: repeat-x;
	background-position: -100px 0px;
	margin-bottom: -75px;
}

footer {
	margin: auto;
	width: 960px;
	text-align: right;
	margin-top: 15px;
	font-size: 0.95em;
	color: #666666;
	margin-bottom: 20px;
}

footer a {
	color: #557799;
}

footer a:hover {
	color: #1155cc;
}

a {
	color: #1155cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#plant {
	margin: 0px 0px 0px 150px;
	position: relative;
	top: -20px;
}

#cloud {
	position: relative;
	float: right;
	right: 75px;
}

#left-panel {
	width: 337px;
	padding-right: 30px;
	float: left;
	height: 270px;
}

#left-panel > h1 {
	margin-bottom: 20px;
	font-style: italic;
}

#right-panel {
	float: right;
	width: 593px;
}

#key-panel {
	width: 573px;
}

.panel-left {
	float: left;
	padding-right: 20px;
}

#fill-panel {
	width: 367px;
}

.panel-right {
	float: right;
}

#article-panel li {
	/*background-image: url('../images/article.jpg');*/
	width: 114px;
	height: 88px;
	float: left;
	font-size: 0.8em;
	margin: 1px;
}

#article-panel li:nth-child(1) {
	height: 178px;
	width: 346px;
}

#article-panel a:hover, .catalog-article-panel a:hover, .category-article-panel a:hover {
	text-decoration: none;
}

#article-panel a:hover .chapter-info, .catalog-article-panel a:hover .chapter-info, .category-article-panel a:hover .chapter-info {
	background: rgba(0,0,0,0.8);
}

.catalog-article-panel {
	background-color: #efefef;
	width: 573px;
	height: 88px;
	box-shadow: 0px 6px 5px -6px rgba(0,0,0,0.25);
}

.catalog-article-panel li, .category-article-panel li {
	float: left;
	width: 114px;
	height: 88px;
}

.catalog-article-panel li.more-articles {
	line-height: 88px;
	text-align: center;
}

.catalog-article-panel li.more-articles a:hover {
	color: #1155cc;
}

.catalog-article-panel li.more-articles a:hover span {
	border-color: transparent transparent transparent #1155cc;
}

.chapter-thumbnail {
	z-index: 1;
	height: 88px;
	width: 114px;
	background-position: center;
	background-size: 100%;
}

/**
.chapter-thumbnail img {
	display: block;
	height: 88px;
	width: 114px;
}**/

#article-panel li:nth-child(1) .chapter-thumbnail {
	height: 178px;
	width: 346px;
}

/**
#article-panel li:nth-child(1) .chapter-thumbnail img {
	height: 178px;
	width: 346px;
}**/

#article-panel li:nth-child(1) .chapter-info {
	top: -178px;
	height: 162px;
}

#article-panel li:nth-child(1) .chapter-info-title {
	font-size: 1.2em;
	margin-bottom: 4px;
}

.chapter-info {
	padding: 8px;
	position: relative;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(150,150,150,0.25) 100%); /* FF3.6+ */
	text-shadow: 0 0 3px #000;
	height: 72px;
	color: #fff;
	top: -88px;
}

.btn {
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border-width: 1px;
	border-style: solid;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 6px 12px;
	min-height: 20px;
	font-size: 0.9em;
	background-repeat: repeat-x;
}

.btn:hover {
	-moz-transition: background-position 0.1s linear 0s;
	background-color: #E6E6E6;
	background-position: 0 -15px;
}

.success-button {
	color: #fff;
	background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);
	background-color: #006DCC;
}

.success-button:hover {
	background-color: #0044CC;
}

.fine-print {
	font-size: 0.7em;
	margin-top: 8px;
	color: #666;
}

.dull-button {
	background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
	background-color: #F5F5F5;
}

.vertical-caret {
	margin-left: 8px;
	content: "";
	display: inline-block;
	border-width: 5px 0px 5px 5px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	height: 0px;
}

.breadcrumbs-caret {
	margin-left: 4px;
	margin-right: 4px;
	border-width: 4px 0px 4px 4px;
	border-color: transparent transparent transparent #aaa;
}

.horizontal-caret {
	margin-top: 8px;
	content: "";
	display: inline-block;
	border-width: 10px 10px 0px 10px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
	height: 0px;
}

#chief-panel .actions-wrapper {
	margin-top: 30px;
	text-align: right;
}

ul[data-liffect="slideRight"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: slideRight 600ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: slideRight 600ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: slideRight 600ms ease both;
    -o-animation-play-state: paused;
    animation: slideRight 600ms ease both;
    animation-play-state: paused;
}

ul[data-liffect="slideRight"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

@-moz-keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

@-o-keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

@keyframes slideRight {
    0% { opacity: 0; left: 30px; }
    100% { opacity: 1; left: 0; }
}

ul[data-liffect="slideUp"] li {
    opacity: 0;
    position: relative;
    -webkit-animation: slideUp 600ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: slideUp 600ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: slideUp 600ms ease both;
    -o-animation-play-state: paused;
    animation: slideUp 600ms ease both;
    animation-play-state: paused;
}

ul[data-liffect="slideUp"].play li {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes slideUp {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-moz-keyframes slideUp {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@-o-keyframes slideUp {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

@keyframes slideUp {
    0% { opacity: 0; top: 30px; }
    100% { opacity: 1; top: 0; }
}

.thermometer-difficulty-wrapper {
	width: 100%;
	height: 100%;
	float: right;
}

.thermometer-difficulty {
	background-color: rgba(0,0,0,0.8);
	width: 0%;
	height: 8px;
	float: right;
	opacity: 0;
    -webkit-animation: rollLeft 1500ms ease both;
    -webkit-animation-play-state: paused;
    -moz-animation: rollLeft 1500ms ease both;
    -moz-animation-play-state: paused;
    -o-animation: rollLeft 1500ms ease both;
    -o-animation-play-state: paused;
    animation: rollLeft 1500ms ease both;
    animation-play-state: paused;
    
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    -o-animation-delay: 300ms;
    animation-delay: 300ms;
}

.renderDifficulty {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes rollLeft {
    0% { opacity: 0; width: 0%; }
    100% { opacity: 1; width: 100%; }
}

@-moz-keyframes rollLeft {
    0% { opacity: 0; width: 0%; }
    100% { opacity: 1; width: 100%; }
}

@-o-keyframes rollLeft {
    0% { opacity: 0; width: 0px; }
    100% { opacity: 1; width: 100%; }
}

@keyframes rollLeft {
    0% { opacity: 0; width: 0%; }
    100% { opacity: 1; width: 100%; }
}

h1 {	
	font-family: 'PT Sans', sans-serif;
	font-size: 2.5em;
	font-size-adjust: none;
}

h2 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	letter-spacing: -1px;
}

h3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 12px;
	color: #444;
}

select {
	background: transparent;
	border-width: 0px;
	outline: 0 none;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	letter-spacing: -1px;
	width: 540px;
	color: #000;
}

select:hover {
	cursor: pointer;
}

select option {
	padding: 5px;
	font-size: 0.8em;
}

.select-wrapper {
	z-index: 5;
	width: 520px;
	overflow: hidden;
	background: url('../images/arrow.png') no-repeat right;
	left: -5px;
	position: relative;
	top: -2px;
	height: 35px;
}

.selector {
	width: 20px;
	background-color: #fff;
}

.selector-wrapper {
	text-align: right;
	top: 30px;
	margin-right: 78px;
	position: relative;
	float: right;
	width: 20px;
	margin-top: -25px;
}

.breadcrumb {
	line-height: normal;
	font-size: 0.87em;
	overflow: hidden;
}

.breadcrumb a {
	color: #557799;
}

#article-thermometer {
	height: 8px;
	width: 120px;
	float: left;
	margin-top: 4px;
	margin-right: 40px;
}

.chapter-thermometer {
	height: 8px;
	width: 80px;
	position: relative;
	top: -104px;
	right: -25px;
}

.thermometer {
	background: #ff2222; /* Old browsers */
	background: -moz-linear-gradient(left, #ff2222 0%, #ff22ff 15%, #2222ff 30%, #22ffff 45%, #22ff22 60%, #22ff22 75%, #ffff22 90%, #ff2222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff2222), color-stop(15%,#ff22ff), color-stop(30%,#2222ff), color-stop(45%,#22ffff), color-stop(60%,#22ff22), color-stop(75%,#22ff22), color-stop(90%,#ffff22), color-stop(100%,#ff2222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ff2222 0%,#ff22ff 15%,#2222ff 30%,#22ffff 45%,#22ff22 60%,#22ff22 75%,#ffff22 90%,#ff2222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ff2222 0%,#ff22ff 15%,#2222ff 30%,#22ffff 45%,#22ff22 60%,#22ff22 75%,#ffff22 90%,#ff2222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ff2222 0%,#ff22ff 15%,#2222ff 30%,#22ffff 45%,#22ff22 60%,#22ff22 75%,#ffff22 90%,#ff2222 100%); /* IE10+ */
	background: linear-gradient(to right, #ff2222 0%,#ff22ff 15%,#2222ff 30%,#22ffff 45%,#22ff22 60%,#22ff22 75%,#ffff22 90%,#ff2222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2222', endColorstr='#ff2222',GradientType=1 ); /* IE6-9 */
}

.breadcrumb .links {
	float: left;
	width: 400px;
}

.article-actions {
	float: left;

}

.article-community {
	float: right;
}

#article-do {
	margin-top: 10px;
	overflow: hidden;
}

.article-actions ul li, .article-community ul li {
	float: left;
	margin: 0px 20px 0px 0px;
	border: 1px solid #fff;
	padding: 2px 4px;
	border-radius: 2px 2px 2px 2px;
}

#article-do li.no-action:hover {
	background-color: #fff;
	border: 1px solid #fff;
}

.article-actions ul li:hover, .article-community ul li:hover {
	border: 1px solid #b2b2b2;
	background-color: #efefef;
	transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
}

.article-actions ul li a, .article-community ul li a, #article-do li.no-action {
	color: #666;
}

.article-actions ul li, .article-community ul li, #article-do li.no-action {
	font-size: 0.9em;
}

.article-actions ul li a:hover, .article-community ul li a:hover {
	text-decoration: none;
	color: #333;
}

ul li span.icon {
	background-image: url("../images/glyphicons-halflings.png");
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	display: inline-block;
	margin-right: 4px;
}

.edit-action span {
	background-position: 0 -72px;
}

.download-action span {
	background-position: -96px -24px;
}

.history-action span {
	background-position: -48px -24px;
}

.share-action span {
	background-position: -120px -72px;
}

.favorite-action span {
	background-position: -120px 0px;
}

.thumbs-up-action span {
	background-position: -96px -144px;
}

.thumbs-down-action span {
	background-position: -120px -144px;
}

#article-objectives {
	margin-top: 15px;
	padding: 18px;
	margin-bottom: 15px;
	border-bottom: 1px solid #b2b2b2;
	background: #E4F7D2; /* Old browsers */
	border-radius: 2px 2px 0px 0px;
}

#article-objectives ul {
	padding-left: 0px;
}

#article-objectives span.breadcrumbs-caret {
	left: -12px;
	margin-right: -8px;
	position: relative;
}

#article-objectives ul li {
	padding-left: 0px;
	font-size: 0.9em;
}

p {
	margin-top: 12px;
	font-size: 0.9em;
}

#social-panel {
	border: 1px solid #b2b2b2;
	height: 80px;
	margin-bottom: 12px;
}

#author-panel {
	height: 100px;
	background-color: #444;
	color: #fff;
	padding: 18px;
}

#author-thumbnail {
	background-color: #b2b2b2;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 15px;
}

#author-info {

}

#author-name {

}

#author-resources {
	color: #888;
}

button.subscribe {
	padding: 2px 8px;
	margin-top: 15px;
	font-size: 0.9em;
}

aside#support {
	background-color: #efefef;
	padding: 18px;
	overflow: hidden;
	font-size: 0.9em;
}

.resource-thumbnail {
	background-color: #b2b2b2;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 15px;
	background-size: 150%;
	background-position: center;
}

.resource {
	overflow: hidden;
	margin-bottom: 15px;
}

.resource-title {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	white-space: nowrap;
}

.resource-description {
	height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	color: #666;
}

.search-result {
	margin: 20px 0px;
	overflow: hidden;
	font-size: 0.9em;
}

.search-result-thumbnail {
	background-color: #b2b2b2;
	width: 80px;
	height: 80px;
	margin-left: 15px;
	float: left;
}

.search-result > .description {
	float: left;
	width: 475px;
}

.search-result-meta {
	font-style: italic;
	color: #666;
}

.search-filter {
	margin-bottom: 20px;
}

.search-filter-header {
	margin: 5px 0px;
}

li, p {
	line-height: 1.1em;
}

.search-term {
	color: #000;
}

#difficulty-slider-range {
	margin-left: 8px;
	margin-top: 20px;
}

/** Styling done in em as per base jQuery UI styling */
.ui-slider .ui-slider-handle {
	background-color: #444;
	height: 1.8em;
	width: 0.9em;
	top: -0.5em;
}

#slider-prefade, #slider-postfade {
	width: 0%;
	background-color: rgba(0,0,0,0.8);
	height: 0.8em;
}

#slider-prefade {
	float: left;
}

#slider-postfade {
	float: right;
	top: -0.8em;
}

/** jQuery UI style rule units ends here */

label {
	display: block;
	margin: 4px 0px;
	cursor: pointer;
}

label input {
	vertical-align: bottom;
	margin-right: 8px;
}

.spinner-background {
	background-image: url("../images/spinner.gif");
	background-repeat: no-repeat;
	background-position: center;	
}

.caption {
	font-family: 'PT Sans', sans-serif;
}

#catalog-listing {
	margin: 20px 0px;
	overflow: hidden;
}

.catalog-category {
	margin-bottom: 15px;
	padding-bottom: 5px;
	overflow: hidden;
}

.article-count {
	color: #666;
}

.true-h3-color {
	color: #444;
}

.true-color {
	color: #1a1a1a;
}

span.highlighted,
.search-filter-header,
.resource-title a,
.search-result-title a,
.article-actions ul li a,
.article-community ul li a,
#article-do li.no-action,
.breadcrumb,
.bold,
strong,
th,
#author-name,
.oer-info-detail,
h1.developers-title {
	font-family: "Proxima Nova Bold", 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:bold; font-style:normal;
}

.resource-title a {
	line-height: 1.25em;
}

em {
	font-style: italic;
}

.bold-italic {
	font-weight: bold;
	font-style: italic;
}

/** Article content styling **/

.article-example {
	padding: 10px;
	padding-top: 2px;
	background-color: #FFF8E7;
	margin: 20px 0px;
}

.article-block {
	padding: 10px;
	padding-top: 2px;
	background-color: #E9EFFA;
	margin: 20px 0px;
}

#article table {
	margin: 10px 0px;
}

.article-caption {
	text-align: center;
}

.live-filter-wrapper {
	padding: 8px;
	margin: 15px 0px;
	background-color: #efefef;
}

.filter-caption {
	color: #444;
}

.page-category-title {
	margin-bottom: 5px;
}

.aside-section {
	margin-bottom: 20px;
}

.oer-video {
	margin-top: 15px;
}

.oer-external {
	margin-top: 15px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	padding: 18px;
	margin-left: 5px;
	overflow: hidden;
}

#oer-preview {
	overflow: hidden;
	margin-bottom: 18px;
}

#oer-description, #oer-details {
	float: left;
	width: 320px;
	margin-right: 18px;
}

#oer-get, #oer-thumbnail {
	float: right;
	width: 194px;
}

#oer-get {
	text-align: center;
	padding-top: 9px;
}

.oer-info-caption {
	color: #666;
}
.oer-url-title {
	margin-bottom: 10px;
}

#thumbnail-image {
	border: 1px solid #b2b2b2;
	height: 150px;
	width: 120px;
	margin: auto;
	background-position: center;
}

#thumbnail-info {
	margin: auto;
	text-align: center;
	width: 120px;
	color: #fff;
	background-color: #444;
	padding: 4px 0px;
	position: relative;
	bottom: 28px;
	height: 20px;
}

code, pre {
	font-family: monospace;
	margin: 10px 0px;
	background-color: #e9effa;
}

pre {
	padding: 10px;
}

#article ol {
	list-style-type: decimal;
	padding-left: 25px;
}

.developers #chief-panel {
	color: #fff;
}

h1.developers-title {
	margin-bottom: 20px;
}

.img-caption {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 4px 8px;
	position: relative;
	border-radius: 4px 4px 4px 4px;
}

.img-wrapper {
	text-align: center;
	margin: 8px;
	display: inline-block;
}

