{% include 'partials/header.html' %}

<div class="center-stage">
    <h2>Import feed</h2>
    <form method="POST" action="{% url resource:feed_importer_list %}">
        {% csrf_token %}
        <table>
            <tr><td>URL</td><td><input type="text" name="url" /></td></tr>
            <tr><td>Username</td><td><input type="text" name="username" /></td></tr>
            <tr><td>Collection ID</td><td><input type="text" name="collection_id" /></td></tr>
            <tr><td>License</td><td>
                <select name="license_id">
                    {% for license in licenses %}
                    <option value="{{ license.id }}">{{ license.title }}</option>
                    {% endfor %}
                </select>
            </td></tr>
            <tr><td colspan="2"><button class="action-button secondary-button">Start choosing &#187;</button></td></tr>
        </table>
    </form>
</div>
