{% include 'partials/header.html' %}

<div class="center-stage">
    <div id="key-panel" class="panel-left">
        <h2>You are not authorized to view this page</h2>
        <p>Hey, there! Unfortunately, you are not permitted to view the contents of this page. If this page / resource is protected, try contacting the creator or owner of this resource for further assistance or to grant you access.</p>
    </div>
    <div id="fill-panel" class="panel-right">
    </div>
</div>

{% include 'partials/footer.html' %}