<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Oopsie - something wen't wrong!</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:700,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/assets/css/jquery-ui-1.10.3.custom.css" type="text/css" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/static/assets/css/ie.css" />
		<![endif]-->
		<link type="text/css" href="/static/assets/css/style.css" rel="stylesheet" />
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="/static/assets/css/ie-override.css" />
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
		<script src="/static/assets/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
		<script src="/static/assets/js/underscore-min.js" type="text/javascript"></script>
		<script src="/static/assets/js/modernizr.js" type="text/javascript"></script>
		<script src="/static/assets/js/jquery.tipsy.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/assets/js/tag-it.min.js"></script>
		<script src="/static/assets/js/core.js" type="text/javascript"></script>
		<link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
		<header>
			<div id="header-prebanner"></div>
			<hgroup id="header-center">
					<hgroup id="header-left">
						<div id="header-brand-wrapper">
							<a href="/"><img src="/static/assets/images/logo.png" id="logo" alt="OpenCurriculum" title="OpenCurriculum" /></a>
							<hgroup id="search-bar">
								<form method="GET" action="/search">
									<input type="search" data-default="Search..." name="q" title="Search">
									<input type="submit" value="" />
								</form>
							</hgroup>
						</div>
					</hgroup>
					<hgroup id="header-right">
					</hgroup>
			</hgroup>
		</header>

		<div class="center-stage pre-footer">
			<div id="fill-panel" class="panel-left">
				<h2>Oopsie, something went wrong!</h2>
				<p>
					Looks like Moe's arch enermy, Troy the Pirate Panda, is back and giving our servers some trouble. To fight Troy the Pirate Panda away, we are dispatching our highly trained team of engineering fighters. They have been armed to protect the OpenCurriculum territory, so please be careful.</p>
			
					<p>If Troy the Pirate Panda continues to give you trouble wherever you go, don't be a silent spectator. Warn us of this terrible situation by <a href="/contact">contacting us</a>, and help shall be on its way. After all, we have the incredible Moe on our side!
				</p>
		
				<p>Peace,<br/>
				<span class="bold">The International Server Protection Declaration Team</span></p>
			</div>
			<div id="key-panel" class="panel-right">
				<img src="/static/assets/images/500.png" />
			</div>
		</div>


		<footer>
			OpenCurriculum, Inc. &#183; <a href="/about">About</a> &#183; <a href="http://blog.opencurriculum.org" target="_blank">Blog</a> &#183;  <a href="http://opencurriculum.uservoice.com" target="_blank">Help</a> &#183; <a href="/developers">Developers</a> &#183; <a href="/jobs">Jobs</a> &#183; <a href="/terms">Terms of Use</a> &#183; <a href="/privacy">Privacy Policy</a> &#183; <a href="/license"><img src="/static/assets/images/by-sa.png" /></a>
		</footer>
	</body>
</html>
