{% include 'partials/header.html' %}
<div id="chief-panel-container" class="about">
	<div id="chief-panel-wrapper">
		<div id="chief-panel">
			<nav>
				<ul>
					<li class="selected"><a href="{% url about %}">About</a></li>
					<li><a href="{% url team %}">People</a></li>
					<li><a href="{% url press %}">Press</a></li>
				</ul>
			</nav>
			<div id="key-panel" class="panel-left">
				<h2 class="about-title">OpenCurriculum is a place to create, access and share K-12 teaching materials
</h2>
				<div class="about-mission">
					<h2>Our mission is to bring openness and innovation to K-12 education around the world</h2>
					<p>We believe that every child in the world deserves access to a high-quality early education. Such an education empowers individuals to grow and get access to opportunities better than ever before, and thus drives economic development.</p>

	<p>A crucial aspect of every individual’s education journey is WHAT he/she learns. It defines not just the instruction and testing, but also each individual and the society on the whole. It is our sincere belief that openness and innovation in curricula is fundamental to moving humanity forward, and affecting positive change in the community. And thus, we are committed to making it happen.</p>
					<p id="philosophy-button"><button class="action-button">Learn more about our philosophy</span></button></p>
				</div>
			</div>
			<div id="fill-panel" class="panel-right">

			</div>
		</div>
		<div class="footer-caption">
			Image source: World Bank
		</div>
	</div>
</div>
<div id="core-pillars">
	<div class="center-stage">
		<h3>Our core pillars</h3>
		<div id="pillars-panel">
			<div class="pillar-community pillar">
				<div class="pillar-caption">Community</div>
			</div>
			<div class="pillar-innovation pillar">
				<div class="pillar-caption">Innovation</div>
			</div>
			<div class="pillar-freedom pillar">
				<div class="pillar-caption">Freedom</div>
			</div>
		</div>
		<div id="pillars-descriptions-wrapper">
			<div id="pillars-default-wrapper">
				<div id="pillars-default-description">(hover on top of one of the above pillars)</div>
			</div>
			<div id="pillars-description">
				<div id="pillars-community-description">Communities drive human thought and progress, and thus are the heart of educational decision making. We believe that open collaboration is the basis of consensus, new ideas and true democracy.</div>
				<div id="pillars-innovation-description">Innovation is key to unlocking human potential. When we renew, and recreate, and open our minds to the world of educational possibilities that could be, we learn to innovate.</div>
				<div id="pillars-freedom-description">Freedom and openness are the fundamentals of growth with equality. Freedom breeds access, and open access alongside advancement of appropriate technologies, leads the path to sustainable development.</div>
			</div>
		</div>
		
	</div>
</div>

<div id="our-philosophy" class="wide-banner-container">
	<div class="wide-banner-panel">
		<h3>Our philosophy</h3>
		<div id="key-panel" class="panel-left">
			<p>A region's economic development is hugely impacted by education of its citizens. While higher education is a major enabler in helping individuals serve in industries, it is really early education, primarily K-12 education, that defines the motivations and intentions of individuals. These are critical in shaping individuals and societies they are a part of.</p>
			<p>We believe that curriculum, or what people learn during their years of schooling, alongside mentorship, educational environment, etc. plays a vital role in building people's wisdom. Curricula ought to be constantly critically examined, as it defines what we think about and what we do. We have for long ignored it; it needs a renaissance and we need to challenge the status quo.</p>
		
			<p class="bold">Vision</p>
			<p>Our vision is to ensure access to high-quality K-12 education opportunities for every single child in the world. To us, high-quality is as important as universal access is. But it goes further than meeting standards of examination and instruction quality. In our definition of "high-quality", community, innovation and freedom are an integral part.</p>
		</div>
		<div id="fill-panel" class="panel-right">
			<span class="bold">Proudly non-profit</span>
			<p>
				Making profit is great - it allows organizations to create additional incentive for investors to engage in creating value. But we are proudly, consciously and loudly a non-profit organization.</p>
				<p>We believe that profit may come in the way of our mission and the value we create. Not only are we fully committed to re-investing our revenues into the organization and only the organization itself, we are deeply connected to our values and long-term goals. We are driven to giving back in the best possible way we can, while running a fast-growing highly-competitive venture.
			</p>
		</div>
	</div>
</div>

<div class="center-stage investor-supporters">
	<h3>Our investors and key supporters</h3>
	<div class="upper-row">
		<div class="itu-logo"></div>
		<div class="heinz-college-logo"><h4>Institute of Social Innovation</h4></div>
		<div class="pol-logo"></div>
	</div>
	<div class="lower-row">
		<div class="thrill-mill-logo"></div>
		<div class="ycombinator-logo"></div>
	</div>
</div>


<div id="contact-us" class="wide-banner-container">
	<div class="wide-banner-panel">
		<h3>Get in touch</h3>
		<div id="key-panel" class="panel-left">
			<p>Engage with us on <a href="http://www.twitter.com/OpenCurriculum" target="_blank">Twitter</a>, <a href="http://www.facebook.com/OpenCurriculum" target="_blank">Facebook</a> and <a href="https://plus.google.com/b/110490420045595560778/" target="_blank">Google+</a>.</p>
			<p>For inquiries related to content and other general comments and suggestions, write in to us at hello [at] opencurriculum [dot] org.</p>
			<p><span class="bold">For press inquiries</span>: press-inquiries [at] opencurriculum [dot] org<br/>
			<span class="bold">For partnerships</span>: partners [at] opencurriculum [dot] org<br/>
			<span class="bold">For jobs</span>: careers [at] opencurriculum [dot] org</p>
			<p>Due to the high volume of messages, kindly understand that we may take a little long to respond to you. For more prompt community responses, kindly consider posting your questions/concerns on our <a href="{% url feedback %}">Help page</a>.</p>
		</div>
		<div id="fill-panel" class="panel-right">
			<p><span class="bold">Write to us (we'd love to receive mail):</span></p>
			
			<p>
			255 Easy Street, Unit #1<br/>
			Mountain View, CA - 94043, USA
			</p>
			<p><iframe width="367" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=255+Easy+St,+Mountain+View,+CA&amp;aq=0&amp;oq=255+&amp;sll=37.269174,-119.306607&amp;sspn=11.339717,19.753418&amp;ie=UTF8&amp;hq=&amp;hnear=255+Easy+St,+Mountain+View,+California+94043&amp;t=m&amp;ll=37.39846,-122.066259&amp;spn=0.006819,0.031414&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /></p>
		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
