{% include 'partials/header.html' %}

<div class="center-stage">
    <div id="key-panel" class="panel-left">
        {% if act == 'add' %}
        <h2>Add link</h2>
        {% else %}
        <h2>Edit link</h2>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% include 'partials/resource-meta.html' %}
            <table class="add-url-inputs">
                <tr><td><span class="bold">Title*</span></td><td><input type="text" name="title" class="new-resource-url" value="{{ original.title }}"></td></tr>
                <tr><td></td><td><span class="resource-form-error">{{ form.errors.title }}</span></td></tr>
                <tr><td><span class="bold">URL (Web address)*</span></td><td><input type="text" name="url" class="new-resource-url" value="{{ original.url }}"></td></tr>
                <tr><td></td><td><span class="resource-form-error">{{ form.errors.url }}</span></td></tr>
                
                {% include 'partials/resource-form-meta.html' %}
            </table>
        </form>
    </div>
    <div id="fill-panel" class="panel-right">
        <div class="new-url-placeholder"></div>
    </div>    
</div>

{% include 'partials/footer.html' %}