{% include 'partials/header.html' %}
<div class="center-stage">
	<div id="key-panel" class="panel-left">
		<form id="article-center-registration">
			<p>Please fill out the fields below to complete the Article Center application. <br />Have a great day!</p>
			<p></p>
			<div class="question">
				<span class="required">* Required</span>
			</div>
			<div class="question">
				<span class="req-txt">First Name <span class="required">*</span></span><br />
				<input type="text" name="first-name">
			</div>
			<div class="question">
				<span class="req-txt">Last Name <span class="required">*</span></span><br />
				<input type="text" name="last-name">
			</div>
			<div class="question">
				<span class="req-txt">Contact Email <span class="required">*</span></span><br />
				<input type="text" name="contact-email">
			</div>
			<div class="question">
				<span class="req-txt">Username <span class="required">*</span></span><br />
				<input type="text" name="username">
			</div>
			<div class="question">
				<span class="req-txt">Password <span class="required">*</span></span><br />
				<input type="text" name="password">
			</div>
			<div class="question">
				<span class="req-txt">Confirm Password <span class="required">*</span></span><br />
				<input type="text" name="confirm-password">
			</div>
			<div class="question">
				<span class="req-txt">Date of Birth</span><br />
				<input type="text" name="birth-date" placeholder="mm/dd/yyyy">
			</div>
			<div class="question">
				<span class="req-txt">Location <span class="required">*</span></span><br />
				<span class="clarifier-txt">Country</span><br />
				<div id="boxes">
					<select name="country">
						<option value="0"></option>
						<option value="united-states">United States</option> 
						<option value="china">China</option>
						<option value="india">India</option>
						<option value="canada">Canada</option>
					</select>
				</div>
			</div>
			<div class="question">
				<span class="req-txt">Location</span><br />
				<span class="clarifier-txt">City</span><br />
				<input type="text" name="city">
			</div>
			<div class="question">
				<span class="req-txt">Gender <span class="required">*</span></span><br />
				<div id="boxes">
					<input type="radio" name="gender" value="female">Female<br />
					<input type="radio" name="gender" value="male">Male<br />
				</div>
			</div>
			<div class="question">
				<span class="req-txt">I am a... <span class="required">*</span></span><br />
				<div id="boxes">
					<input type="radio" name="occup" value="student">Student<br />
					<input type="radio" name="occup" value="teacher">Teacher<br />
					<input type="radio" name="occup" value="school-administrator">School Administrator<br />
					<input type="radio" name="occup" value="publisher">Publisher<br />
					<input type="radio" name="occup">Other:
					<input type="text" name="occup">
				</div>
			</div>
			<div class="question">
				<span class="req-txt">Why are you interested in contributing to OpenCurriculum? <span class="required">*</span></span><br />
				<textarea name="interest" cols="56" rows="8"></textarea><br />
			</div> 
			<div class="question">
				<span class="req-txt">Do you have any experience writing educational content? <span class="required">*</span></span><br />
				<div id="boxes">
					<input type="radio" name="experience" value="yes">Yes<br />
					<input type="radio" name="experience" value="no">No<br />
				</div>
			</div>
			<div class="question">
				<span class="req-txt">What subjects are you interested in contributing to? <span class="required">*</span></span><br />
				<span class="clarifier-txt">Check as many as apply.</span><br />
				<div id="boxes">
					<input type="checkbox" name="subject" value="math">Math<br />
					<input type="checkbox" name="subject" value="languages">Languages<br />
					<input type="checkbox" name="subject" value="biology">Biology<br />
					<input type="checkbox" name="subject" value="chemistry">Chemistry<br />
					<input type="checkbox" name="subject" value="history">History<br />
					<input type="checkbox" name="subject" value="literature">Literature<br />
					<input type="checkbox" name="subject" value="physics">Physics<br />
					<input type="checkbox" name="subject" value="english-language">English Language<br />
					<input type="checkbox" name="subject" value="english-literature">English Literature<br />
					<input type="checkbox" name="subject" value="civic-studies">Civic Studies<br />
					<input type="checkbox" name="subject" value="computer-science">Computer Science<br />
					<input type="checkbox" name="subject">Other: 
					<input type="text" name="subject">
				</div>
			</div>
			<div class="question">
				<span class="req-txt">How tech savvy are you? <span class="required">*</span></span><br />
				<span class="clarifier-txt">Check things you have experience using</span><br />
				<div id="boxes">
					<input type="checkbox" name="savvy" value="browswer">Internet browsers (Internet Explorer, Safari, Mozilla, Chrome, etc.)<br />
					<input type="checkbox" name="savvy" value="office">Microsoft Office (Word, Excel, Powerpoint, etc.)<br />
					<input type="checkbox" name="savvy" value="markdowns">HTML Markdowns<br />
					<input type="checkbox" name="savvy" value="latex">LaTeX<br />
					<input type="checkbox" name="savvy" value="image-software">Image software (Photoshop, GIMP, etc.)<br />
					<input type="checkbox" name="savvy">Other: <!-- Same problem as above -->
					<input type="text" name="savvy">
				</div>
			</div>
			<div class="question">
				<span class="req-txt">How much time are you willing to contribute per week? <span class="required">*</span></span><br />
				<span class="clarifier-txt">OpenCurriculum is a non-profit organization. All activies are voluntary with no monetary compensation, and are meant for the good of the world.</span><br />
				<input type="text" name="time">
			</div>
			<div class="question">
				<span class="req-txt">Preferred method of contact <span class="required">*</span></span><br />
				<div id="boxes">
					<table>
						<tr>
							<td>
								<input type="checkbox" name="contact-type" value="phone">Phone
							</td>
							<td>
								<input type="text" name="phone-number" placeholder="Phone number">
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox" name="contact-type" value="email">Email
							</td>
							<td>
								
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox" name="contact-type" value="skype-video">Skype/Video Calls
							</td>
							<td>
								<input type="text" name="video-call-id" placeholder="Skype username">
							</td>
						</tr>
						<tr>
							<td>
								<input type="checkbox" name="contact-type">Other: 
							</td>
							<td>
								<input type="text" name="contact-other">
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="question">
				<span class="req-txt">Comments or concerns?</span><br />
				<span class="clarifier-txt">We take privacy very seriously. If you want to know how your information is being used, contact us at <a href="privacy@theopencurriculum.org">privacy@theopencurriculum.org</a> or check out our site (<a href="http://theopencurriculum.org">theopencurriculum.org.</a>)</span><br /> <!-- http or https? -->
				<textarea name="comments" cols="56" rows="8"></textarea> <!-- rows is right, cols might be a little off (when comparing to google forms) -->
			</div>
			<div class="question">
				<button class="btn success-button">Submit</button>
			</div>
		</form>
	</div>
	<div id="fill-panel" class="panel-right">
		<div id="animating-panda-column">
			<img src="{{ STATIC_URL }}images/registration_form/Moe8StandingBeltWeb.png" id="panda1" alt="Standing-panda" title="Standing-panda" />
			<img src="{{ STATIC_URL }}images/registration_form/Moe8BambooBelt.png" id="panda2" alt="Eating-panda" title="Eating-panda" />
			<img src="{{ STATIC_URL }}images/registration_form/Moe8SleepingBelt.png" id="panda3" alt="Sleeping-panda" title="Sleeping-panda" />

		</div>
	</div>
</div>

{% include 'partials/footer.html' %}
