{% include 'partials/header.html' %}

<div class="center-stage">
	<div id="key-panel" class="panel-left">
		<article>
			<header>
				<!--<div class="selector-wrapper">
					<button class="selector">
						<span class="horizontal-caret"></span>
					</button>
				</div> -->
				<div class="select-wrapper">
					<select id="chapter-select">
						<option data-url="{% url articles:reader category_slug=article.category.slug %}?q={{ article.slug }}"><h2>{{ article.title }}</h2></option>
						{% for sibling in siblings %}
							{% if sibling.title != article.title %}
							<option data-url="{% url articles:reader category_slug=sibling.category.slug %}?q={{ sibling.slug }}"><h2>{{ sibling.title }}</h2></option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
				<section class="breadcrumb">
					<div class="links">
						{% for category in breadcrumb %}
							<a href="{% url articles:reader category_slug=category.url %}">{{ category.title }}</a> 
							{% if not forloop.last %}
							<span class="vertical-caret breadcrumbs-caret"></span> 
							{% endif %}
						{% endfor %}
					</div>
					<div id="article-thermometer" class="thermometer">
						<div class="thermometer-difficulty-wrapper">
							<div class="thermometer-difficulty" data-level="{{ article.difficulty }}"></div>
						</div>
					</div>
				</section>
				{% include 'partials/article-do.html' %}
			</header>
			{% include 'partials/article-content.html' %}
		</article>
	</div>
	
	<div id="fill-panel" class="panel-right">
		<aside id="social-panel">
			{% if article.citation %}
				{{ article.citation|safe }}
			{% endif %}
		</aside>
		
		<aside id="support">
			<h3>Resources</h3>
			{% for resource in article.resources.all %}
				{% include 'partials/resource.html' %}
			{% empty %}
				No resources have been linked to this article yet.
			{% endfor %}
		</aside>
	</div>
</div>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/article.js"></script>

{% include 'partials/footer.html' %}
