{% if query or query == '' %}
{% include 'partials/header.html' with body_class='search' %}
{% else %}
{% include 'partials/header.html' with body_class='browse' %}
{% endif %}

{% if child_categories_map %}
<div class="center-spread resource-browse resource-browse-subject">
    <div class="resource-browse-header">
        <div class="subjects-header-subjects">
            <h2 class="subjects-header-subjects-subject">English</h2>
            <h2 class="subjects-header-subjects-subject selected">Mathematics</h2>
            <h2 class="subjects-header-subjects-subject">Science</h2>
        </div>
    </div>
    <div class="wide-center-stage">
        <div class="wide-center-stage-fill-panel wide-center-stage-left-panel">
            <div class="grades-topics">
                <ul class="grades">
                    {# for child_category in child_categories #}
                    <!--<li><a href="{{ child_category.url }}" id="category-{{ child_category.id }}">{{ child_category.title }}</a></li>-->
                    {# endfor #}
                </ul>
            </div>
        </div>
        <div class="wide-center-stage-key-panel wide-center-stage-right-panel content-panel">
            <div class="grades-topics-list">
                <div class="grades-topics-list-empty">
                        <img src="{{ STATIC_URL }}images/select-category.png" />
                        <h1 class="empty-state-title"><span class="grades-topics-list-empty-arrow empty-state-arrow"></span>Select a grade level for a list of topic areas</h1>
                    </div>
                    <ul class="grades-topics-list-filled"></ul>
                </div>
            </div>
        </div>
    </div>
<div>
{% else %}

{% if query or query == '' %}
<div class="center-spread resource-browse">
    <div class="wide-center-stage">
        <div class="wide-center-stage-fill-panel wide-center-stage-left-panel category-panel">
            {% if browse_mode != 'suggestions' %}
            <div class="category-panel-listing">
                <div class="category-choice-wrapper">
                    <button class="category-choice action-button" title="Category this page is based on">Common Core<!--<div class="category-choice-button"></div>--></button>
                </div>
                {% if query or query == '' %}
                    <ul class="category-panel-listing-search-category">
                        <li class="selected-category"><a href="">Search for '{{ query }}'</a></li>
                    </ul>
                {% else %}
                <div class="category-panel-listing-categories scrollable-block">
                    <div class="category-panel-listing-categories-body">
                        {% if not child_categories_map %}
                        <h4>{{ selected_category.title }}</h4>
                        <ul class="category-panel-listing-categories-children">
                        {% for child_category in child_categories %}
                            {% if is_catalog %}
                            <li><a href="{{ child_category.url }}">{{ child_category.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% if not is_catalog %}
                        <div class="category-panel-listing-categories-body-filters">
                            {% for tag in category_tags %}
                                <label><input type="checkbox" name="tags" value="{{ tag.title|upper }}" checked />{{ tag.title|upper }}<span class="category-panel-listing-categories-body-filters-description" title="{{ tag.description }}">?</span></label>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% endif %}
                        {% if selected_category.parent.slug != 'opencurriculum' %}
                        <h4 class="category-panel-listing-categories-body-others">Others in {{ selected_category.parent.title }}</h4>
                        <ul class="category-panel-listing-categories-body-siblings">
                        {% for parent_category in parent_categories %}
                            <li><a href="{{ parent_category.url }}">{{ parent_category.title }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="wide-center-stage-key-panel wide-center-stage-right-panel content-panel">
            <div class="content-panel-body-wrapper">
                <div class="content-panel-body" id="category-{{ selected_category.id }}">
                    {% if browse_mode == 'suggestions' %}
                        <script type="text/javascript">
                            OC.categoryResources.suggestionMode = true;
                        </script>
                        <div class="content-panel-body-header">
                            {% include 'partials/browse-title.html' %}
                        </div>
                        <div class="content-panel-body-listing">
                            {% include 'partials/browse-suggestions.html' %}
                        </div>

                    {% else %}
                        {% if child_categories_map %}
                        <!--<div class="content-panel-body-feature">
                            <div class="content-panel-body-feature-title"><h2>{{ selected_category.title }}</h2>
                            <div class="breadcrumb">
                                {% for breadcrumb_category in breadcrumb %}
                                    <a href="{{ breadcrumb_category.url }}">{{ breadcrumb_category.title }}</a> 
                                    {% if not forloop.last %}
                                    <span class="vertical-caret breadcrumbs-caret"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                        <div class="content-panel-body-grades-topics">
                            <div class="content-panel-body-grades-wrapper">
                                <ul class="content-panel-body-grades">
                                    {% for child_category in child_categories %}
                                    <li><a href="{{ child_category.url }}" id="category-{{ child_category.id }}">{{ child_category.title }}</a></li> 
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="content-panel-body-grades-topics-list">
                                <div class="content-panel-body-grades-topics-list-empty">
                                    <img src="{{ STATIC_URL }}images/select-category.png" />
                                    <h1 class="empty-state-title"><span class="content-panel-body-grades-topics-list-empty-arrow empty-state-arrow"></span>Select a grade level for a list of topic areas</h1>
                                </div>
                                <ul class="content-panel-body-grades-topics-list-filled"></ul>
                            </div>
                        </div>-->
                        {% endif %}
                        {% if query or query == '' %}
                        <div class="content-panel-body-header">
                            <div class="content-panel-body-header-title">
                                <h3>Search results for <span class="search-term">{{ query }}</span></h3>
                            </div>
                        </div>
                        <div class="content-panel-body-search content-panel-body-listing">
                        {% include 'partials/search.html' %}
                        </div>
                        {% elif not child_categories_map %}
                        <div class="content-panel-body-header">
                            {% include 'partials/browse-title.html' %}
                            <div class="content-panel-body-listing-questions-toggler">
                                <a href="" class="content-panel-body-listing-questions-toggler-listing selected">Content</a>
                                <a href="" class="content-panel-body-listing-questions-toggler-questions">Community Q&amp;A</a>
                            </div>
                        </div>
                        <div class="content-panel-body-listing-filters-sort-wrapper">
                            <div class="content-panel-body-listing-filters-sort">
                                <span class="sort-by">Sort by: </span><span class="filter-sort-option filter-sort-option-newest selected">Newest</span> <span class="filter-sort-option">Popularity</span>
                            </div>
                        </div>
                        {% if not child_categories_map and not is_catalog %}
                        <div class="content-panel-body-listing-types oc-page-tabs">
                            <ul>
                                <li name="all"><a href="" class="current">All</a></li>
                                <li name="lesson"><a href="">Lesson Plans</a></li>
                                <li name="activity"><a href="">Activities</a></li>
                                <li name="worksheet"><a href="">Worksheets</a><li>
                                <li name="assessment"><a href="">Assessments</a></li>
                                <li name="exercise"><a href="">Exercises</a></li>
                                <li name="lecture"><a href="">Lectures</a></li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="content-panel-body-listing">
                            <div class="content-panel-body-listing-items show"></div>
                            <div class="filter-search-placeholder">Searching for your happiness...</div>
                            {% if current_category_id %}
                                <div class="lazy-load-button enabled">Load more...</div>
                            {% endif %}

                            {% if not query and query != '' and category_group %}
                            <div class="content-panel-body-listing-requests"></div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% include 'partials/footer.html' %}
        </div>
    </div>
</div>
{% endif %}

<div class="center-spread resource-browse resource-browse-listing">
    <div class="wide-center-stage resource-browse-header">
        <div class="wide-center-stage-content">
            <div class="wide-center-stage-key-panel wide-center-stage-left-panel">
                <div class="resource-browse-header-title-wrapper">
                    <div class="resource-browse-header-title{% if not is_catalog %} show-share{% endif %}"><h2>{{ selected_category.title }}</h2><div class="resource-browse-header-share action-button mini-action-button">+ Share new</div></div>
                    <div class="breadcrumb">
                        {% for breadcrumb_category in breadcrumb %}
                            <a href="{{ breadcrumb_category.url }}">{{ breadcrumb_category.title }}</a> 
                            {% if not forloop.last %}
                            <span class="vertical-caret breadcrumbs-caret"></span> 
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="wide-center-stage-fill-panel wide-center-stage-right-panel">
                <div class="resource-browse-header-qna-wrapper">
                    <a href="{% url projects:project_home project_slug=category_group.slug %}?post=new&category=requests&redirect_to={{ selected_category.url }}" target="_blank" class="resource-browse-header-qna">Q&amp;A FORUM</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wide-center-stage resource-browse-body">
        <div class="wide-center-stage-fill-panel wide-center-stage-left-panel category-panel">
            <div class="category-panel-listing">
                <div class="category-panel-listing-categories scrollable-block">
                    <div class="category-panel-listing-categories-body">
                        {% if not child_categories_map and not is_catalog %}
                        <div class="category-panel-body-listing-types">
                            <ul>
                                <li name="all"><a href="" class="current">All</a></li>
                                <li name="lesson"><a href="">Lesson Plans</a></li>
                                <li name="activity"><a href="">Activities</a></li>
                                <li name="worksheet"><a href="">Worksheets</a></li>
                                <li name="assessment"><a href="">Assessments</a></li>
                                <li name="exercise"><a href="">Exercises</a></li>
                                <li name="lecture"><a href="">Lectures</a></li>
                            </ul>
                        </div>

                        <div class="category-panel-body-listing-filters">
                            <div class="category-panel-body-listing-filters-filter category-panel-body-listing-filters-sort">
                                <div class="category-panel-body-listing-filters-filter-title sort-by">Sort by</div>
                                    <div class="filter-sort-option filter-sort-option-newest selected"><span class="filter-radio"></span>Newest</div>
                                    <div class="filter-sort-option"><span class="filter-radio"></span>Popularity</div>
                            </div>
                            
                            <div class="category-panel-body-listing-filters-filter category-panel-body-listing-filters-filter-subtopic">
                                <div class="category-panel-body-listing-filters-filter-title">FILTER BY SUB-TOPIC</div>
                                {% for child_category in child_categories %}
                                    <label><input type="checkbox" name="category" value="{{ child_category.title }}" checked />{{ child_category.title }}</label>
                                {% endfor %}
                            </div>

                            {% if not is_catalog %}
                            <div class="category-panel-body-listing-filters-filter category-panel-body-listing-filters-filter-standards">
                                <div class="category-panel-body-listing-filters-filter-title dropdown-filter">STANDARDS MET</div>
                                <div class="category-panel-body-listing-filters-filter-body category-panel-listing-categories-body-filters hidden">
                                {% for tag in category_tags %}
                                    <label><input type="checkbox" name="tags" value="{{ tag.title|upper }}" checked />{{ tag.title|upper }}<span class="category-panel-listing-categories-body-filters-description" title="{{ tag.description }}">?</span></label>
                                {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="wide-center-stage-key-panel wide-center-stage-right-panel content-panel">
            <div class="content-panel-body-listing">
                <div class="content-panel-body-listing-items show"></div>
                <div class="filter-search-placeholder">Searching for your happiness...</div>
                {% if current_category_id %}
                    <div class="lazy-load-button enabled">Load more...</div>
                {% endif %}

                <!--{% if not query and query != '' and category_group %}
                <div class="content-panel-body-listing-requests"></div>
                {% endif %}-->
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="browse-post-new-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Post new lesson or resource...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <p>What would you like to share with the community today?</p>
        <ul class="browse-post-new-options">
            <li class="browse-post-new-option upload-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">Upload something</div>
            </li>
            <li class="browse-post-new-option file-folder-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">My file or folder</div>
            </li>
            <li class="browse-post-new-option url-option">
                <div class="browse-post-new-option-thumbnail"></div>
                <div class="browse-post-new-option-description">Website link</div>
            </li>
        </ul>
    </div>
</div>

<div class="post-new-file-folder-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Select an existing file or folder</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="post-new-file-folder-profile-browser oc-popup-dialog-browser loading-browser"></div>

        <form id="post-new-file-folder-profile-form" method="POST" action="{% url resource:post_existing_resource_collection %}">
            {% csrf_token %}
            <input type="hidden" name="is_resource" value="" />
            <input type="hidden" name="resource_collection_ID" value="" />
            <input type="hidden" name="category_id" value="{{ selected_category.id }}" />
            <div class="post-new-file-folder-submit-wrapper oc-popup-submit-wrapper">
                <button class="action-button post-new-file-folder-submit oc-popup-submit-button">Next &#187;</button>
            </div>
        </form>
    </div>
</div>

<div class="post-new-url-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Share a website URL</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <form method="POST" action="{% url resource:post_url %}">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ selected_category.id }}" />
            <table>
                <tr><td>URL</td><td><input type="text" name="url" /></td></tr>
                <tr><td>Title</td><td><input type="text" name="title" /></td></tr>
            </table>
            <div class="post-new-url-submit-wrapper oc-popup-submit-wrapper">
                <button class="action-button post-new-url-submit oc-popup-submit-button">Next &#187;</button>
            </div>
        </form>
    </div>
</div>

<div class="post-tag-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Tell us a little more...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <table>
            <tr><td>This resource is a</td><td>
                <select name="type">
                    <option name="lesson" selected>Lesson</option>
                    <option name="activity">Activity</option>
                    <option name="worksheet">Worksheet</option>
                    <option name="assessment">Assessment</option>
                    <option name="assessment">Exercise</option>                    
                    <option name="lecture">Lecture</option>
                </select>
            </td></tr>
            <tr><td>Common Core standards met <span class="standards-suggestion-text">(begin typing to select from suggestions)</span></td><td><ul class="standards-input"></ul>
            </td></tr>
        </table>        
        <div class="post-tag-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button post-tag-submit oc-popup-submit-button">Post</button>
        </div>
    </div>
</div>


<div class="posted-success-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        {% csrf_token %}
        <div class="posted-success-header">
            <h2>Congratulations! You successfully submitted your resource suggestion</h2>
            <p>Now it's our turn to look at what you shared and add it to the list, if approved</p>
        </div>
        <div class="posted-success-body">
            <div class="posted-success-body-user">
                <img src="" class="posted-success-body-user-image" />
            </div>
            <div class="posted-success-body-description">
                <h3>TL;DR: The person on the left is going to get back to you ASAP</h3>
                <p>We have sent a pretty urgent yet polite email to the person on the left, <span class="moderator-name"></span>, to instantly review the amazing resource you have shared so that other teachers can instantly get to it. </p>
                <p>Meanwhile, hang in there, share some other stuff for review, and someone will come running out of whatever they are working on to review it. If none of us are cut off from Internet, we make sure to review within <12 hours :)</p>
            </div>
        </div>
        <div class="posted-success-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button posted-success-submit oc-popup-submit-button">Sounds good!</button>
        </div>
    </div>
</div>

<div class="user-tooltips"></div>
{% include 'partials/footer.html' with footer_type='vanilla' %}
