{% include 'partials/header.html' %}
<div id="center-stage">
	<div id="key-panel" class="panel-left">
		<h2 class="bold page-category-title">{{ category.title }} <span class="article-count">({{ articles.count }} articles)</span></h2>
		<section class="breadcrumb">
			<div class="links">
				{% for bc_category in breadcrumb %}
					<a href="{% url articles:reader category_slug=bc_category.slug %}">{{ bc_category.title }}</a> 
					{% if not forloop.last %}
					<span class="vertical-caret breadcrumbs-caret"></span> 
					{% endif %}
				{% endfor %}
			</div>
		</section>
		<section class="live-filter-wrapper">
			<span class="bold filter-caption">Filter articles by typing</span>
			<input type="search" name="live-filter" />
		</section>
		<div id="catalog-listing">
			<ul class="category-article-panel">
				{% for article in articles %}			
					<li>
						<div class="chapter-thumbnail">
							{% include 'partials/article_image.html' %}
						</div>
						<a href="{% url articles:reader category_slug=article.category.slug %}?q={{ article.slug }} "><div class="chapter-info">{{ article.title }}</div>
						<div class="chapter-thermometer thermometer">
							<div class="thermometer-difficulty-wrapper">
								<div class="thermometer-difficulty" data-level="{{ article.difficulty }}"></div>
							</div>
						</div></a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="fill-panel" class="panel-right">
		<aside id="support">
			<h3>Sets</h3>
				<ul class="aside-section">
					{% for key, value in sets.items %}
					<li><a href="{% url articles:reader category_slug=key.slug %}">{{ key.title }} ({{ value }})</a></li>
					{% endfor %}
				</ul>
			<h3>Resources</h3>
			{% for resource in resources %}
				{% include 'partials/resource.html' %}
			{% endfor %}
		</aside>
	</div>
</div>
{% include 'partials/footer.html' %}
