{% include 'partials/header.html' with header_type='vanilla' body_class='explorer' %}

<div class="state-message-wrapper">
    <span class="state-message">Saved</span>
</div>

<div class="wide-header explorer-header">
    <a class="explorer-header-current">
        <span class="explorer-header-current-organization-thumbnail"></span>
        <span class="explorer-header-current-organization-title">{{ curriculum.grade }} <span class="explorer-header-current-organization-title-subject">{{ curriculum.subject }}</span></span>
    </a>
    <a href="" class="explorer-header-child">Trimester 1</a>
    <a href="" class="explorer-header-child">Trimester 2</a>
    <a href="" class="explorer-header-child">Trimester 3</a>

    <nav class="explorer-home-menu">
        <div class="floating-menu-spacer"></div>
        <ul>
            <li class=""><a href="">Level 1 English</a></li>
            <li class=""><a href="">Level 2 English</a></li>
            <li class=""><a href="">Level 3 English</a></li>
            <li class=""><a href="">Level 4 English</a></li>
        </ul>
    </nav>
</div>
<div class="wide-header explorer-body">
    <div class="explorer-body-side scrollable-block">
        <ul class="explorer-body-side-menu explorer-body-side-menu-main scroll-content">
            <li class="overview"><a href="">OVERVIEW</a></li>
            <li class="learning-outcomes"><a href="">LEARNING OUTCOMES</a></li>
            <li class="textbooks"><a href="">TEXTBOOKS / RESOURCES</a></li>
        </ul>

    </div>
    <div class="explorer-body-stage">
        <div class="explorer-body-stage-spread">
            <div class="explorer-resource-overview show">
                <div class="explorer-overview-section">
                    <h2>Overview</h2>
                    <p>No description found.</p>
                </div>

                <div class="explorer-overview-section">
                    <h2>Issues</h2>
                    <div class="explorer-overview-issues-wrapper">
                    </div>
                </div>

            </div>
            <div class="explorer-resource-module-wrapper"></div>
            <div class="explorer-resource-listing">
                <div class="explorer-resource-listing-labels">
                    <div class="explorer-resource-listing-labels-pre"></div>
                    <div class="explorer-resource-listing-labels-header">
                        <div class="explorer-resource-listing-labels-header-fill"><span class="explorer-resource-listing-label">Objective / Skill</span></div>
                        <div class="explorer-resource-listing-labels-header-key"><span class="explorer-resource-listing-label">Resources</span></div>
                    </div>
                </div>

                <div class="explorer-resource-listing-body"></div>

                <div class="explorer-resource-listing-actions">
                    <button id="new-objective">+ New objective / skill</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="objective-status-popouts"></div>
<div class="explorer-loader"></div>
<div class="light-popup-background"></div>

{% include 'partials/upload-dialog.html' %}
{% include 'partials/share-new.html' %}

{% include 'partials/footer.html' with footer_type='vanilla' %}
