{% include 'partials/header.html' with header_type='vanilla' body_class='explorer' %}

<div class="state-message-wrapper">
    <span class="state-message">Saved</span>
</div>

<div class="wide-header explorer-header">
    <a class="explorer-header-current">
        <span class="explorer-header-current-organization-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ curriculum.user.get_profile.profile_pic.name }}');"></span>
        <span class="explorer-header-current-organization-title">{{ curriculum.grade }} <span class="explorer-header-current-organization-title-subject">{{ curriculum.subject }}</span></span>
    </a>
    <!--<a href="" class="explorer-header-child">Trimester 1</a>
    <a href="" class="explorer-header-child">Trimester 2</a>
    <a href="" class="explorer-header-child">Trimester 3</a>-->

    <!--<nav class="explorer-home-menu">
        <div class="floating-menu-spacer"></div>
        <ul>
            <li class=""><a href="">Level 1 English</a></li>
            <li class=""><a href="">Level 2 English</a></li>
            <li class=""><a href="">Level 3 English</a></li>
            <li class=""><a href="">Level 4 English</a></li>
        </ul>
    </nav>-->
</div>
<div class="wide-header explorer-body-wrapper">
    <!--<div class="explorer-body-side scrollable-block">
        <ul class="explorer-body-side-menu explorer-body-side-menu-main scroll-content">
            <li class="overview"><a href="">OVERVIEW</a></li>
            <li class="textbooks"><a href="">UNITS / RESOURCES</a></li>
        </ul>

    </div>
    <div class="explorer-body-stage">
        <div class="explorer-body-stage-spread">
            <div class="explorer-resource-overview show">
                <div class="explorer-overview-section">
                    <h2>Overview</h2>
                    <p>{{ curriculum.description|safe }}</p>
                </div>

                <div class="explorer-overview-section">
                    <div class="explorer-overview-unit-table">
                    </div>
                </div>

                <div class="explorer-overview-section">
                    <h2>Issues</h2>
                    <div class="explorer-overview-issues-wrapper explorer-resource-module">
                    </div>
                </div>

            </div>
            <div class="explorer-resource-module-wrapper"></div>
        </div>
    </div>-->
</div>

<div class="explorer-suggest-resources-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Resource suggestions</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="explorer-suggest-resources-body">
            <div class="explorer-suggest-resources-listing"></div>
        </div>
    </div>
</div>

<div class="objective-status-popouts"></div>
<div class="explorer-loader"></div>
<div class="light-popup-background"></div>

{% include 'partials/upload-dialog.html' %}
{% include 'partials/share-new.html' %}

{% include 'partials/footer.html' with footer_type='vanilla' %}
