{% include 'partials/header.html' with header_type='vanilla' body_class='explorer' %}

<div class="state-message-wrapper">
    <span class="state-message">Saved</span>
</div>

<div class="wide-header explorer-header">
    <a class="explorer-header-current">
        <span class="explorer-header-current-organization-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ curriculum.user.get_profile.profile_pic.name }}');"></span>
        <span class="explorer-header-current-organization-title">{{ curriculum.grade }} <span class="explorer-header-current-organization-title-subject">{{ curriculum.subject }}</span></span>
    </a>
</div>
<div class="wide-header explorer-body-wrapper"></div>

<div class="explorer-suggest-resources-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Resource suggestions</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="explorer-suggest-resources-body">
            <div class="explorer-suggest-resources-listing"></div>
        </div>
    </div>
</div>

<div class="explorer-resource-preview-wrapper">
    <div class="explorer-resource-preview">
        <div class="explorer-resource-header">
            <div class="explorer-resource-header-thumbnail-wrapper">
                <div class="explorer-resource-header-thumbnail"></div>
            </div>
            <div class="explorer-resource-header-title"></div>
        </div>
        <div class="explorer-resource-contents">
            <div class="explorer-resource-body"></div>
            <div class="explorer-resource-actions">
                <div class="explorer-resource-actions-close" title="Close"></div>
                <a class="explorer-resource-actions-open" title="Open in new tab / window" target="_blank"></a>
                <div class="explorer-resource-actions-favorite" title="Favorite"></div>
            </div>
        </div>
    </div>
</div>

<div class="objective-status-popouts"></div>
<div class="explorer-loader"></div>
<div class="light-popup-background"></div>

{% include 'partials/upload-dialog.html' %}
{% include 'partials/share-new.html' %}

{% include 'partials/footer.html' with footer_type='vanilla' %}
