{% include 'partials/header.html' %}

<form id="new-resource-document-form" class="document-edit-form resource-create-edit-form" method="POST">
    {% csrf_token %}
    <div id="submission-info-wrapper">
        <div id="submission-info">
            <div>
                <div id="submission-status">{{ message }}</div>
                <div id="submission-buttons">
                    <button class="btn success-button" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>

    <article id="article-edit" class="resource-article-edit">
        <span class="document-meta-collapser"></span>
        <div class="center-stage">
            {% include 'partials/resource-meta.html' %}
            <div id="key-panel" class="panel-left">
                <input type="hidden" name="user" value="{{ user.id }}" />
                <h2 id="article-title"><input type="text" value="{{ resource.title }}" name="title" class="browser-edit" placeholder="(Document title)" /></h2>
                <section class="drop-edit document-description-drop-edit">
                    <div class="edit-dropdown edit-dropdown-opened">Description</div>
                    <div class="edit-dropped show-dropped">
                        <textarea name="description" class="document-description"></textarea>
                    </div>
                </section>
            </div>
            <div id="fill-panel" class="panel-right">
                <table class="document-visibility-license">
                    <tr><td><span class="bold">Who can see this?</span></td><td>
                        {% include 'partials/resource-form-visibility.html' %}
                    </td></tr>
                    <tr><td><span class="bold">License</span></td><td>
                        <select name="license">
                            {% for license in licenses.all %}
                            <option value="{{ license.id }}">{{ license.title }}</option>
                            {% endfor %}
                        </select>
                    </td></tr>
                    <tr><td></td><td><span class="resource-form-error">{{ form.errors.license }}</span></td></tr>
                </table>
                <section class="drop-edit tags-drop-edit">
                    <div class="edit-dropdown edit-dropdown-opened">Tags</div>
                    <div class="edit-dropped show-dropped">
                        <ul class="tagit document-tags">
                            {% if resource.tags %}
                            {% for tag in resource.tags.all %}
                            <li>{{ tag }}</li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
        <div class="center-spread document-body">
            {% include 'partials/oer-document.html' %}
        </div>
        <div class="center-stage document-actions">
            <!--
            <div id="wmd-button-bar"></div>
            <textarea class="wmd-input large-textarea" id="wmd-input" name="body_markdown">{{ original.body_markdown }}</textarea>       
            <tr><td></td><td><span class="resource-form-error">{{ form.errors.body_markdown }}</span></td></tr>-->
            <button class="page-action-button add-widget">Add...</button>
        </div>
    </article>
</form>

<div id="log-message" title="Log message" class="dialog">
    <p>Briefly describe your edits:</p>
    <input type="text" name="log_message" />
</div>

<div title="Delete this block?" class="dialog widget-delete-dialog">
    <p>Are you sure you would like to delete this block from the document?</p>
</div>


<div class="add-document-widget-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Add...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="add-widget-options">
            <div class="add-widget-option table">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">TABLE</div>
                    <div class="add-widget-description-info">
                        Upto 3 column and unlimited row table
                    </div>
                </div>
            </div>
            <div class="add-widget-option text-block">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">SINGLE TEXT BLOCK</div>
                    <div class="add-widget-description-info">
                        Empty text block with formatting options
                    </div>
                </div>
            </div>
        </div>

        <div class="add-document-widget-submit-wrapper">
            <button class="action-button add-document-widget-submit-button">Done</button>
        </div>
    </div>
</div>
<div class="link-resource-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Link to...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        Select a resource or collection, or write a custom URL:
        <div class="link-resource-browser">
            <nav class="link-resource-tabs">
                <ul>
                    <li><a href=".my-profile">My profile</a></li>
                    <li><a href=".my-projects">My projects</a></li>
                    <li><a href=".other-resources">Other resources / link</a></li>
                </ul>
            </nav>
            <div class="link-resource-content oc-tabs-content">
                <div class="my-profile">
                    <div class="link-resource-profile-browser oc-popup-dialog-browser
 loading-browser"></div>
                </div>
                <div class="my-projects">
                    <div class="link-resource-project-browser oc-popup-dialog-browser
 loading-browser"></div>
                </div>
                <div class="other-resources">
                    <div class="oc-popup-dialog-tab-body">
                        <form id="link-to-url-form">
                            Enter a link URL:<br/>
                            <input type="text" name="resource-url" /><p/>
                            Link text:<br/>
                            <input type="text" name="resource-url-text" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-resource-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button link-resource-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>
<div class="popup-background"></div>


{% include 'partials/image-upload.html' %}

{% include 'partials/editor-imports.html' %}

{% include 'partials/footer.html' %}
