{% include 'partials/header.html' with body_class='editor' %}

<script type="text/javascript">
    OC.document_type = '{{ document_type }}';
    OC.document_act = '{{ act }}'
</script>

<form id="new-resource-document-form" class="document-edit-form resource-create-edit-form" method="POST">
    {% csrf_token %}
    <div class="center-stage editor-header">
        {% include 'partials/resource-meta.html' %}
        <div id="key-panel" class="panel-left">
             <input type="hidden" name="user" value="{{ user.id }}" />
             <input type="hidden" name="description" class="document-description" />
             <h2 id="article-title" class="browser-edit"><input type="text" value="{{ resource.title }}" name="title" class="browser-edit" placeholder="(Document title)" /></h2>
        </div>
        <div id="fill-panel" class="panel-right">
            <div class="editor-button-wrapper">
                <button class="action-button secondary-button license-button">License <span class="horizontal-caret-up breadcrumb-caret"></span></button>
                <button class="action-button secondary-button tags-button">Tags <span class="horizontal-caret-up breadcrumb-caret"></span></button>
                <button class="action-button secondary-button share-button">Share <span class="horizontal-caret-up breadcrumb-caret"></span></button>
                <button class="action-button save-button">Save</button>

                <nav id="license-menu">
                    <div class="floating-menu-spacer"></div>
                    <select name="license">
                        {% for license in licenses.all %}
                        <option value="{{ license.id }}">{{ license.title }}</option>
                        {% endfor %}
                    </select>
                </nav>
                <nav id="tags-menu">
                    <div class="floating-menu-spacer"></div>
                    <ul class="tagit document-tags">
                        {% if resource.tags %}
                        {% for tag in resource.tags.all %}
                        <li>{{ tag }}</li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </nav>
                <nav id="share-menu">
                    <div class="floating-menu-spacer"></div>
                    {% include 'partials/resource-form-visibility.html' %}
                </nav>
            </div>
        </div>
    </div>
    <div class="center-spread editor-toolbar-wrapper">
        <div id="editor-toolbar">
        </div>
    </div>
    <div class="center-spread editor-frame">
        {% if document_type == 'lesson' %}
        <div class="lesson-assist">
            <div class="lesson-assist-pullout">Tips and tricks</div>
            <div class="lesson-assist-body"></div>
        </div>
        {% else %}
        <div class="editor-search">
            <div class="editor-search-pullout">
            </div>
            <div class="editor-search-main-panel">
                <div class="editor-search-bar">
                    <input type="search" placeholder="Search">
                </div>
                <div class="editor-search-body">
                    <nav class="editor-search-tabs">
                        <ul>
                            <li><a href=".my-search-results" class="editor-search-tab">"<span class="search-query"></span>"</a></li>
                            <li><a href=".my-favorites" class="editor-favorites-tab">Favorites</a></li>
                            <li><a href=".my-profile" class="editor-files-tab">Files</a></li>
                            <li><a href=".my-projects" class="editor-projects-tab">Groups</a></li>
                        </ul>
                    </nav>

                    <div class="editor-search-body-content">
                        <div class="my-search-results">
                            <div class="editor-search-result"><div class="editor-search-result-handle"></div><div style="background-image: url('http://localhost:8000/media/resource_thumbnail/114_1.jpg');" class="editor-search-result-thumbnail"></div><div class="editor-search-result-description"><div class="editor-search-result-description-title">Inverse Variation</div><div class="editor-search-result-description-meta">21 views ·By <a href="/user/ocrootu/">Administrator Arora</a></div></div><div class="editor-search-result-preview"></div></div>
                        </div>
                        <div class="my-favorites">
                            <div class="editor-favorites-browser oc-popup-dialog-browser
         loading-browser"></div>
                        </div>
                        <div class="my-profile">
                            <div class="editor-profile-browser oc-popup-dialog-browser
         loading-browser"></div>
                        </div>
                        <div class="my-projects">
                            <div class="editor-project-browser oc-popup-dialog-browser
         loading-browser"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="center-stage editor-body-wrapper">
            <div class="editor-body" contentEditable="true">
                {% for document_element in resource.data %}
                {{ document_element.element.body.data|safe }}
                {% endfor %}
            </div>
        </div>
        <div class="editor-frame-result-clones">
        </div>
    </div>
</form>

<div class="hidden-templates"></div>

<div id="log-message" title="Log message" class="dialog">
    <p>Briefly describe your edits:</p>
    <input type="text" name="log_message" />
</div>

<div title="Delete this block?" class="dialog widget-delete-dialog">
    <p>Are you sure you would like to delete this block from the document?</p>
</div>


<div class="add-document-widget-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Add...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="add-widget-options">
            <div class="add-widget-option video">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">VIDEO</div>
                    <div class="add-widget-description-info">
                        An embeddable YouTube or Vimeo video link
                    </div>
                </div>
            </div>
            <div class="add-widget-option image">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">IMAGE</div>
                    <div class="add-widget-description-info">
                        A picture your previously uploaded or new one
                    </div>
                </div>
            </div>
            <div class="add-widget-option resource">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">MY FILE or FOLDER</div>
                    <div class="add-widget-description-info">
                        An existing file/document or folder in your files
                    </div>
                </div>
            </div>
            <div class="add-widget-option upload">
                <div class="add-widget-thumbnail"></div>
                <div class="add-widget-description">
                    <div class="add-widget-description-title">UPLOAD NEW...</div>
                    <div class="add-widget-description-info">
                        A new file attachment upload
                    </div>
                </div>
            </div>
        </div>

        <div class="add-document-widget-submit-wrapper">
            <button class="action-button add-document-widget-submit-button oc-popup-submit-button">Next <span class="vertical-caret"></span></button>
        </div>
    </div>
</div>
<div class="link-resource-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Link to...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        Select a resource or folder, or write a custom URL:
        <div class="link-resource-browser">
            <nav class="link-resource-tabs">
                <ul>
                    <li><a href=".my-profile">My profile</a></li>
                    <li><a href=".my-projects">My groups</a></li>
                    <li><a href=".standards">Standards</a></li>
                    <li><a href=".other-resources">Other resources / link</a></li>
                </ul>
            </nav>
            <div class="link-resource-content oc-tabs-content">
                <div class="my-profile">
                    <div class="link-resource-profile-browser oc-popup-dialog-browser
 loading-browser"></div>
                </div>
                <div class="my-projects">
                    <div class="link-resource-project-browser oc-popup-dialog-browser
 loading-browser"></div>
                </div>
                <div class="standards">
                    <div class="link-resource-standards-browser oc-popup-dialog-browser
 loading-browser"></div>
                </div>
                <div class="other-resources">
                    <div class="oc-popup-dialog-tab-body">
                        <form id="link-to-url-form">
                            Enter a link URL:<br/>
                            <input type="text" name="resource-url" /><p/>
                            Link text:<br/>
                            <input type="text" name="resource-url-text" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-resource-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button link-resource-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>
<div class="add-video-widget-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Add video...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <p>YouTube or Vimeo video URL:</p>
        <form id="add-video-widget-form">
            <input type="text" name="video_url" />
        </form>
        <div class="add-video-widget-submit-wrapper">
            <button class="action-button add-video-widget-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>
<div class="upload-widget-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Upload new...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="upload-new">
            <div class="upload-drag-drop">
            </div>
            <div class="upload-drag-drop-message">
                DRAG AND DROP YOUR FILES HERE
            </div>
        </div>
        <div class="upload-widget-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button upload-widget-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>

{% if document_type == 'lesson' %}
<div class="lesson-path-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Create a new lesson...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="lesson-path-options">
            <div class="lesson-path-blank"><h3>Start off with a blank template</h3></div>
            <div class="lesson-path-wizard"><h3>Use the lesson wizard for a quick plan</h3></div>
        </div>
    </div>
</div>
<div class="lesson-template-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Choose a lesson plan template...</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
        <div class="lesson-template-browser">
            <div class="lesson-template-option lesson-template-option-simple">Simple Lesson Plan</div>
            <div class="lesson-template-option lesson-template-option-five-step selected">5 step Lesson Plan</div>
            <div class="lesson-template-option lesson-template-option-three-acts">Three Acts Lesson Plan</div>
            <div class="lesson-template-option lesson-template-option-ubd">Understanding by Design Lesson Plan</div>
            <div class="lesson-template-option lesson-template-option-weekly">Weekly Lesson Planner</div>
            <div class="lesson-template-option lesson-template-option-empty">Empty Lesson Plan</div>            
        </div>
        <div class="lesson-template-submit-wrapper oc-popup-submit-wrapper">
            <button class="action-button lesson-template-submit-button oc-popup-submit-button">Done</button>
        </div>
    </div>
</div>
<div class="lesson-wizard-dialog oc-popup">
    <div class="oc-popup-step-bar">
        <nav class="lesson-wizard-steps">
            <div class="lesson-wizard-steps-step lesson-wizard-step-one selected">1</div>
            <div class="lesson-wizard-steps-step lesson-wizard-step-two">2</div>
            <div class="lesson-wizard-steps-step lesson-wizard-step-three">3</div>
            <div class="lesson-wizard-steps-step lesson-wizard-step-four">4</div>
            <div class="lesson-wizard-steps-step lesson-wizard-step-five">5</div>
        </nav>
        <div class="lesson-wizard-steps-flow"></div>
    </div>
    <div class="oc-popup-body">
        <div class="lesson-wizard-step-body lesson-wizard-step-one-body">
            <h3 class="lesson-wizard-step-body-title">Choose your subject</h3>
            <div class="lesson-wizard-step-body-content"></div>
        </div>

        <div class="lesson-wizard-step-body lesson-wizard-step-two-body">
            <h3 class="lesson-wizard-step-body-title">Choose your standards</h3>
            <div class="lesson-wizard-step-body-content"></div>
        </div>

        <div class="lesson-wizard-step-body lesson-wizard-step-three-body">
            <h3 class="lesson-wizard-step-body-title">Choose a grade &amp; topic</h3>
            <div class="lesson-wizard-step-body-content">
                <div class="lesson-wizard-grade-level">
                    <ul class="lesson-wizard-grade-level-list"></ul>
                    <div class="lesson-wizard-grade-level-topic-browser"></div>
                </div>
                <div class="lesson-wizard-submit-wrapper oc-popup-submit-wrapper">
                    <button class="action-button lesson-wizard-next-button oc-popup-submit-button disabled-action-button" disabled="true">Next ></button>
                </div>
            </div>
        </div>

        <div class="lesson-wizard-step-body lesson-wizard-step-four-body">
            <h3 class="lesson-wizard-step-body-title">Choose your standard(s)</h3>
            <div class="lesson-wizard-step-body-content">
                <div class="lesson-wizard-standards-browser">
                    <ul class="lesson-wizard-standards-list"></ul>
                </div>
                <div class="lesson-wizard-submit-wrapper oc-popup-submit-wrapper">
                    <button class="action-button lesson-wizard-next-button oc-popup-submit-button disabled-action-button" disabled="true">Next ></button>
                </div>
            </div>
        </div>

        <div class="lesson-wizard-step-body lesson-wizard-step-five-body">
            <h3 class="lesson-wizard-step-body-title">Choose the type of lesson you want to build</h3>
            <div class="lesson-wizard-step-body-content">
                <div class="lesson-wizard-lesson-types">
                    <button class="lesson-wizard-lesson-type lesson-wizard-lesson-type-lecture">Lecture-based / guided lesson</button>
                    <button class="lesson-wizard-lesson-type lesson-wizard-lesson-type-project">Project / activity based lesson</button>
                    <button class="lesson-wizard-lesson-type lesson-wizard-lesson-type-review">Review</button>
                </div>
                <div class="lesson-wizard-templates-browser-wrapper">
                    <h4>Select a template</h4>
                    <div class="lesson-wizard-templates-browser lesson-template-browser">
                        <div class="lesson-template-option lesson-template-option-simple">Simple Lesson Plan</div>
                        <div class="lesson-template-option lesson-template-option-five-step selected">5 step Lesson Plan</div>
                        <div class="lesson-template-option lesson-template-option-ubd">Understanding by Design Lesson Plan</div>
                    </div>
                </div>
                <div class="lesson-wizard-submit-wrapper oc-popup-submit-wrapper">
                    <button class="action-button lesson-wizard-done-button oc-popup-submit-button disabled-action-button" disabled="true">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="popup-background"></div>

{% include 'partials/image-upload.html' %}

{% include 'partials/editor-imports.html' %}
