{% include 'partials/header.html' %}

<div class="center-stage">
    <div id="key-panel" class="panel-left">
        <h2>Edit uploaded file</h2>
        <form method="POST">
            {% csrf_token %}
            {% include 'partials/resource-meta.html' %}
            <table class="add-attachment-inputs">
                <tr><td><span class="bold">Title*</span></td><td><input type="textbox" name="title" class="new-resource-url" value="{{ original.title }}"></td></tr>
                <tr><td></td><td><span class="resource-form-error">{{ form.errors.title }}</span></td></tr>
                {% include 'partials/resource-form-meta.html' %}
            </table>
        </form>
    </div>
    <div id="fill-panel" class="panel-right">
        <div class="new-video-placeholder"></div>
    </div>    
</div>

{% include 'partials/footer.html' %}