{% include 'partials/header.html' %}
		<div id="chief-panel-container" class="home">
			<div id="chief-panel-wrapper">
							<img src="{{ STATIC_URL }}images/cloud.png" id="cloud" />
			</div>
			<div id="chief-panel">
			
				<div id="left-panel">
					<h1>High-quality K-12 textbook content, <span class="bold-italic">created by you</span></h1>
					<span class="bold">{{ count }}</span> textbook articles along with 100s of related videos, audio, worksheets, documents, etc. produced and curated by the community!
					
					<div class="actions-wrapper">
						<a href="articles" onclick="javascript:window.location=this.href"><button class="success-button btn">Get more FREE content <span class="vertical-caret"></span></button></a>
						<!--<button class="dull-button btn">Learn more</button>-->
						<div class="fine-print">No sign-up or log-in required.</div>
					</div>
				</div>
				
				
				<div id="right-panel">
					<ul id="article-panel">
						{% for article in top_articles %}
						<li>
							<div class="chapter-thumbnail-wrapper">
								{% include 'partials/article_image.html' %}
							</div>
							
							<a href="{% url articles:reader category_slug=article.category.slug %}?q={{ article.slug }}" title="{{ article.title }}" alt="{{ article.title }}"><div class="chapter-info">
								<div class="chapter-info-title">{{ article.title }}</div>
								<div class="chapter-info-caption">{{ article.views }} views</div> 
							</div></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<div id="chief-panel-footer">
			<img src="{{ STATIC_URL }}images/plant.png" id="plant" />
		</div>
		
		<div class="center-stage">
			<div id="key-panel" class="panel-left">
				<h3>Are you a teacher?</h3>
				
			</div>
			<div id="fill-panel" class="panel-right">
				<aside id="support">
					<h3>Sign up for updates</h3>
					<p>To get one of our first private invites to sign up as a user on OpenCurriculum in a couple of weeks, sign up below so we can package it up and send it to you just right:</p>						
					
					<br/>
					<div id="general-invite-error" class="form-error"></div>
					<div id="general-invite-success" class="form-success"></div>
					<form id="general-invite" action="/signup-invite/">
						{% csrf_token %}
						<p class="center"><input type="text" name="name" id="id_name" max_length="100" placeholder="Your name"/><br/>
						<input type="text" name="organization" id="id_organization" placeholder="Organization you are affiliated with" /><br/>
						<input type="hidden" name="purpose" id="id_purpose" value="Invite" />
						<input type="text" name="email" id="id_email" placeholder="Your email address" /></p>
						<p class="center"><button class="btn dull-button">Sign up</button>
						<div class="form-spinner"></div>
						</p>
					</form>
				</aside>
			</div>
		</div>
{% include 'partials/footer.html' %}
