{% include 'partials/header.html' %}
		<div id="chief-panel-container" class="home">
			<div id="chief-panel-wrapper">
							<img src="{{ STATIC_URL }}images/cloud.png" id="cloud" />
			</div>
			<div id="chief-panel">
			
				<div id="left-panel">
					<h1>High-quality K-12 textbook content, <span class="bold-italic">created by you</span></h1>
					<span class="bold">80+</span> textbook articles along with 1000s of related videos, audio, worksheets, documents, etc. produced and curated by the community!
					
					<div class="actions-wrapper">
						<a href="articles"><button class="success-button btn">Get more FREE content <span class="vertical-caret"></span></button></a>
						<button class="dull-button btn">Learn more</button>
						<div class="fine-print">No sign-up or logging-in required.</div>
					</div>
				</div>
				
				
				<div id="right-panel">
					<ul id="article-panel">
						{% for article in top_articles %}
						<li>
							<div class="chapter-thumbnail">
								{% include 'partials/article_image.html' %}
							</div>
							
							<a href="{% url articles:reader category_slug=article.category.slug %}?q={{ article.slug }}"><div class="chapter-info">
								<div class="chapter-info-title">{{ article.title }}</div>
								<div class="chapter-info-caption">{{ article.views }} views</div> 
							</div></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<div id="chief-panel-footer">
			<img src="{{ STATIC_URL }}images/plant.png" id="plant" />
		</div>
{% include 'partials/footer.html' %}
