{% include 'partials/header.html' %}
<div class="center-stage about press">
	<nav>
		<ul>
			<li><a href="{% url about %}">About</a></li>
			<li><a href="{% url team %}">People</a></li>
			<li class="selected"><a href="{% url press %}">Press</a></li>
		</ul>
	</nav>
	<div id="key-panel" class="panel-left">
		<div class="pressult-set">
			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/programmable_web.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://blog.programmableweb.com/2013/08/23/education-technology-trends-part-ii-lms-and-lcms-education-marketplaces/" target="_blank">Education Technology Trends – Part II – LMS and LCMS, Education Marketplaces</a>
					</div>
					<div class="pressult-description">
						This post features information about Learning Management Systems (LMS), Learning Content Management Systems (LCMS), and Education Marketplaces.<br/>
						<div class="pressult-meta">Uploaded on Aug 23, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/fast_company.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://www.fastcompany.com/3015099/new-school-two-apps-that-let-teachers-remix-lessons-like-djs" target="_blank">New School: Two Apps That Let Teachers Remix Lessons Like DJs</a>
					</div>
					<div class="pressult-description">
						OpenCurriculum and Activate Instruction offer free platforms for teachers to share digital "playlists."<br/>
						<div class="pressult-meta">Uploaded on Aug 14, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/prweb.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://www.prweb.com/releases/2013/8/prweb11033565.htm" target="_blank">“Open Education” Platform OpenCurriculum Launches</a>
					</div>
					<div class="pressult-description">
						OpenCurriculum aims to create “Amazon Marketplace” of free educational materials; developers see potential to improve education worldwide.<br/>
						<div class="pressult-meta">Uploaded on Aug 16, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/hechingerreport.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://digital.hechingerreport.org/content/getting-teachers-to-share-nicely_791/" target="_blank">Getting teachers to share nicely</a>
					</div>
					<div class="pressult-description">
						Most teachers have file folders and flash drives full of material that they use to generate awesome lessons year after year: activities, projects, discussion questions, texts, audio, video...<br/>
						<div class="pressult-meta">Uploaded on Aug 6, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/points-of-light-civicx.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://www.csrwire.com/press_releases/35628-Points-of-Light-s-Civic-Accelerator-Invests-in-10-Startups-that-Put-People-at-Center-of-Change" target="_blank">Points of Light's Civic Accelerator Invests in 10 Startups that Put People at Center of Change</a>
					</div>
					<div class="pressult-description">
						Points of Light's Civic Accelerator – the first national startup accelerator dedicated solely to investing in civic ventures announced the inclusion of OpenCurriculum in its second cohort, making a $10,000 investment.<br/>
						<div class="pressult-meta">Uploaded on May 17, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/heinz-college.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://www.heinz.cmu.edu/news/news-detail/index.aspx?nid=1647" target="_blank">MISM Alum selected as the 2013-14 Lewis Post-Graduate Fellow in Social Innovation</a>
					</div>
					<div class="pressult-description">
						Varun Arora, an alum from the Masters of Information Systems Management program at Heinz College, was awarded the prestigious Anne and Edward Lewis Social Innovation Fellowship for 2013-14.<br/>
						<div class="pressult-meta">Uploaded on May 10, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/thrill-mill-opening.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://www.post-gazette.com/stories/business/news/hustle-den-gets-going-in-east-liberty-675316/" target="_blank">First class of Hustle Den, Pittsburgh's newest incubator, gets going</a>
					</div>
					<div class="pressult-description">
						Pittsburgh's newest entrepreneurship ecosystem, Thrill Mill, announced its social start-up incubator in East Liberty, selecting OpenCurriculum in its first class.<br/>
						<div class="pressult-meta">Uploaded on Feb 14, 2013</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/varun-google-thinkvoice.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="https://www.youtube.com/watch?v=rUqnF4TD28I" target="_blank">Google thinkvoices: Communities Building Curriculum</a>
					</div>
					<div class="pressult-description">
						Varun Arora, Founding Director of OpenCurriculum and a Zeitgeist Young Mind (http://www.youtube.com/user/ZeitgeistYoungMinds), talks about online communities can build K-12 curriculum and technology empowers education.<br/>
						<div class="pressult-meta">Uploaded on Oct 18, 2011</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/bill-cgiu.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://press.clintonglobalinitiative.org/press_releases_cgiu/president-clinton-announces-the-launch-of-the-2012-clinton-global-initiative-university-commitments-bracket-challenge/" target="_blank">CGI U 2012 Bracket finalists announced; OpenCurriculum selected</a>
					</div>
					<div class="pressult-description">
						OpenCurriculum becomes a finalist at the Clinton Global University's 2012 Bracket challenge in Washington, DC, chosen from over 3,000 commitments.<br/>
						<div class="pressult-meta">Uploaded on Mar 20, 2012</a></div>
					</div>
				</div>
			</div>

			<div class="pressult">
				<div class="pressult-thumbnail">
					<img src="{{ STATIC_URL }}images/about/ewb-2011.jpg" />
				</div>
				<div class="description">
					<div class="pressult-title">
						<a href="http://ewb.hct.ac.ae/news/ewb2011-winning-student-papers/" target="_blank">Best Paper in Education at "Education Without Borders 2011", UAE</a>
					</div>
					<div class="pressult-description">
						Varun Arora, Founding Director, was honored with the 'Best Paper in Education' for his whitepaper 'OpenCurriculum: Open source K-12 curricula', at the closing of Education Without Borders 2011, by Sheikh Nahayan Mabarak Al Nahayan.<br/>
						<div class="pressult-meta">Uploaded on Apr 12, 2011</a></div>
					</div>
				</div>
			</div>
			
			<div class="press-block">
			As you can see, we have not had much focused press coverage yet. If you are a press/media agency,
we would love for you to cover us - reach us at press-inquiries [at] theopencurriculum [dot] org
			</div>
			
		</div>
		<h3>Our story <span class="title-helper">(for your reading pleasure)</span></h3>
		<p>
		Our founder, Varun, spent a huge amount of time in middle and high school building social websites hosting learning content and building communities for his school. In 2009, as an undergraduate student at Carnegie Mellon University in Qatar, when he got the opportunity to spend 3 months on assessing a One Laptop Per Child deployment in the island country Niue, he finally got the chance to apply his learnings in a developing country. What he learned there would change the course of his life and become the reasons that gave birth to OpenCurriculum.</p>
<p>Varun spent the rest of his undergraduate and graduate degrees focusing on learning about technology and international development, education &amp; literacy, software engineering, information design and online communities. He started working on OpenCurriculum as a proof-of-concept in mid-2010 and began development of a web platform in mid-2011 after putting together a team. By mid-2012, OpenCurriculum would go on to be released in private beta and fail magnanimously quietly. Varun wasn’t done yet.</p>
<p>While working on OpenCurriculum’s v 1.0, Varun became friends with Zeinab, his neighbor at Shirley Apartments who would invite him to free food events all around campus. Zeinab started contributing content early on, and went on to lead content efforts since the beginning of 2013, which is when OpenCurriculum got its new beginning.</p>
<p>While the team got a couple of micro-grants in the past to pay for basic costs, the project has never received any real funding.
		</p>
	</div>
	<div id="fill-panel" class="panel-right">
		<aside id="support">
			<h3>Press Kit</h3>
			<div class="press-kit-header">Logo graphics</div>
			<p>
				Color: <a href="{{ STATIC_URL }}images/public/opencurriculum-color-s.png" target="_blank">S.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-color-m.png" target="_blank">M.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-color-l.png" target="_blank">L.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-color.eps" target="_blank">Vector.eps</a><br/>
				Mono (white): <a href="{{ STATIC_URL }}images/public/opencurriculum-mono-s.png" target="_blank">S.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-mono-m.png" target="_blank">M.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-mono-l.png" target="_blank">L.png</a> - <a href="{{ STATIC_URL }}images/public/opencurriculum-mono.eps" target="_blank">Vector.eps</a>
			</p>
			<div class="press-kit-header">Fonts</div>
			<p>
				<a href="http://www.fontsquirrel.com/fonts/Luxi-Sans" target="_blank">Luxi Sans</a><br/>
				<a href="http://www.fontsquirrel.com/fonts/PT-Sans" target="_blank">PT Sans</a>
			</p>
			<div class="press-kit-header">Boilerplate</div>
			<p>
				OpenCurriculum is a non-profit technology initiative to empower people to create and share K-12 curricula material around the world. Started in 2010, it aims to create the largest repository of openly-licensed textbook content that can be used to print and distribute millions of free textbooks in the developing world. To get access to the amazing content catalog, or to contribute your own feedback on a K-12
curriculum you care about, visit www.theopencurriculum.org
			</p>
			<div class="press-kit-header">Strategic goals</div>
			<p><a href="{{ STATIC_URL }}other/OCStrategicGoals.pdf" target="_blank">[PDF] OpenCurriculum Strategic goals 2012-13</a></p>		
		</aside>
	</div>
</div>
{% include 'partials/footer.html' %}
