{% include 'partials/header.html' %}
<div class="center-stage">
	<div id="key-panel" class="panel-left">
		<h2>Privacy Policy</h2>
		Updated on March 14th, 2013
		<p>We are deeply concerned about your privacy. In the course of using our website <a href="http://www.theopencurriculum.org/">http://www.theopencurriculum.org/</a> (“Website”), you may provide us with personally identifiable information, used to contact and identify you (“Personal Information”). This notice describes the privacy practices on the Website and its subdomains, including articles, discussion forums, resources and the services and features available through this website (the “Services”) as provided by OpenCurriculum, Inc. (“OpenCurriculum”, “we” or “us”) and tells you how we collect, use, disclose and protect your Personal Information.</p>
		<p>To protect your privacy, we update our privacy policy often, and post the changes on <a href="http://www.theopencurriculum.org/privacy">http://www.theopencurriculum.org/privacy.</a></p>
		<p>We reserve the right to modify this privacy policy at any time, so please review it frequently. If we make changes that materially affects our users, we will notify you here, by email, or by means of a notice on our home page.</p>
		<p><h3>Information We Collect</h3></p>
		<p><h4 class="bold">Through your activity</h4></p>		
		<ul class="bulleted-list">
				<li>
					<p><span class="bold">Sign-ups and invites. </span>When you sign-up to receive invitations to new and beta services, we collect your name, email address and organization information so that we can notify you when these services are available and/or ready for your use. We do not share this information with third-party advertisers or partners, as this is meant for our communication with you only.</p>
					<p></p>
				</li>
				<li>
					<p><span class="bold">Registration. </span>When you register for an account as a user on the Website, we ask you to provide us with information about yourself, including your name, email address, home address, demographic information, as well as your job description. We use this information to build a member profile for you on the Website and communicate with you changes on the Website. We do not share this information with third-parties without your permission.</p>
					<p></p>
				</li>
		</ul>
		
		
		
		<p><h4 class="bold">Through Technology in the background</h4></p>
		<p>
			<ul class="bulleted-list">
				<li>
					<p><span class="bold">Cookies. </span>Cookies are small text files that are stored for record-keeping purposes. We use cookies on the Website. Cookies can be used to store personally identifiable sign-in credentials so that you don't have to enter them each time you return to our Website. Cookies may also be used to store other information to make your experience on the Website customized or efficient upon future visits.</p>
					<p>Our advertisers may use their own cookies on the Website, which we do not have control or access over. Please see the section “Third party advertisers” for more information.</p>
					<p>You can configure your web browser to not accept cookies, though this will make the accessing the Website sub-optimal.</p>
					<p></p>
				</li>
				<li>
					<span class="bold">Web Beacons. </span>We may use technologies called technologies called Web Beacons that communicate information from your browser to our web server. Web Beacons are tiny graphics with unique identifiers, similar in function to cookies, and are used to track the online movements of Web users. Web Beacons can be embedded in web pages, videos, or emails, and can allow a web server to read certain types of information from your browser, check whether you have viewed a particular web page or email message, and determine, among other things, the time and date on which you view the Web Beacon, the IP of your computer, and the URL of the web page from which the Web Beacon was viewed. These Web Beacons may be us used for a variety of purposes, including to analyze the use of the Services in conjunction with cookies to provide content and ads that are more relevant to you.</p>
				</li>
				<li>
					<span class="bold">IP addresses. </span>We collect and store Internet Protocol (IP) addresses of users accessing the Website and using the Service anonymously. These, when used in a purely aggregated form, allow us to understand and serve user needs in heavily trafficked geographic locations better using technologies that allow servers being scattered around the world.</p>
				</li>
				<li>
					<span class="bold">Log Files. </span>Similar to most other websites accessible via a web server,  we collect and store footprints of user traffic activity in flat files called log files. This information includes Internet Protocol (IP) addresses, browser type, referring/exit pages, operating system and date/time stamp. We use this data as aggregated information to observe and analyze trends, and subsequently to serve the Website to the demographic users in a better fashion.</p>
				</li>
			</ul>
		</p>
		
		<p><h3>How we use the Information We Collect</h3></p>
		<p><h4 class="bold">Offering you with the services you request</h4></p>
		<p>We constantly use the inputs on the Website and email newsletters to elicit feedback on your preferences for new products or services, and concerns and suggestions regarding existing Services. This allows us to offer the best new products and services and improve upon existing Services.</p>
		
		<p><h4 class="bold">Personalize your experience</h4></p>
		<p>We use your usage information and preferences expressed upon registration and updates to your account to constantly personalize your experience while using our Services. We may also use the non-personally identifiable information that we gather about you to be be targeted for the users for whom advertising is most pertinent. </p>
		
		<p><h4 class="bold">Analysis of Website visitors</h4></p>
		<p>We use aggregate demographic data of our anonymous and authenticated visitors to analyze usage trends in order to serve the needs of active communities using the Website much better.</p>

		<p><h3>Choice/Opt-Out</h3></p>
		<p>We may send you communications regarding your user account and major notice updates. You cannot opt out of this communication. We may also occasionally send you marketing communication upon the release of new products and services on the Website and communication relating to our partners. You may opt-out of these by following the unsubscribe directives in each of these messages.</p>
		<p>If you no longer wish to receive our newsletter and promotional communications, may opt-out of receiving them by following the instructions included in each newsletter or communication by emailing us at hello [at] theopencurriculum [dot] org.</p>
				
		<p><h3>Disclosure to Third parties</h3></p>		
		<p>We do not sell, share, transfer or otherwise share your Personal Information to third parties or any data that you store on the Website to any third party except as outlined in this Privacy Policy or without your consent. We may release your Personal Information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property or safety, or protect against misuse or unauthorized use of the Services.</p>
		<p>We may share non-personally identifiable aggregated demographic information about our users and usage trends with our partners and advertisers.</p>		

		<p><h3>Third-party services</h3></p>
		<p>We link to, include or offer third party products or services on or through the Website. If you choose to use any third party services, we may facilitate sharing of your information and documents you choose to use with those services. Your use of those services is not governed by our Terms of Use or Privacy Policy. We do not control the services of those third parties or how they use your information and documents. Be sure to review the terms and conditions and privacy policies of those third parties before using their services.</p>

		<p><h3>Third-party advertisers</h3></p>
		<p>Third parties may collection information about you through the Service, specifically advertising and analytics service third parties, using the technologies described in the section 'Through technology in the background'. We may not have access to, nor control over, these third parties' data collection practices and we do not assume any liability related to their collection or use.</p>
		
		<p><h3>Contact Us</h3></p>
		<p>If you have any questions, suggestions or concerns regarding our privacy policy, contact us at privacy [at] theopencurriculum [dot] org or write to us at:</p>
		<p>
		Attn: Legal Dept.<br/>
		OpenCurriculum, Inc.<br/>
		6024 Broad Street<br/>
		Pittsburgh, PA – 15206<br/>
		United States of America<br/>
		</p>
		</div>
	<div id="fill-panel" class="panel-right">
	</div>
</div>
{% include 'partials/footer.html' %}
