{% include 'partials/header.html' %}
<div class="center-stage">
    <div id="key-panel" class="panel-left">
    {{ popup_message }}
        <div class="user-info{% if user == user_profile %} my-profile{% endif %}">
            <div class="user-profile-picture">
                <div style="background-image: url('{{ MEDIA_URL }}{{ user_profile.get_profile.profile_pic.name }}')" class="user-picture-cover"></div>
                {% if user == user_profile %}
                <div class="edit-profile-picture edit-picture">
                    <span class="edit-picture-icon"></span>Change...
                </div>
                {% endif %}
            </div>
            <div class="user-profile-info">
                <div class="profile-name">
                    <h2>{{ user_profile.get_full_name }}</h2>
                </div>
                <div class="profile-headline-wrapper">
                    <form>
                        <input type="hidden" name="user_id" value="{{ user_profile.id }}"/>
                        <input type="text" title='{{ user_profile.get_profile.headline }}' class="profile-headline" value="{% if user == user_profile %}{% if user_profile.get_profile.headline %}{{ user_profile.get_profile.headline }}{% else %}(edit headline){% endif %}{% else %}{{ user_profile.get_profile.headline }}{% endif %}" autocomplete="off"  {% if user != user_profile %} readonly{% endif %}/>
                    </form>
                    <span class="headline-edit"></span>
                </div>
                {% if user == user_profile %}
                    {% include 'partials/create-resource-collection.html' with host='profile' %}
                {% endif %}
                <!--
                <div class="profile-subscribe">
                    <button class="btn dull-button">SUBSCRIBE</button><span class="profile-subscriber-count">23 subscribers (3 mutual)</span>
                </div>
                -->
            </div>
        </div>
    </div>
    <div id="fill-panel" class="panel-right">
    </div>
</div>
<div class="profile-background-wrapper"></div>
<div class="center-stage profile-details">
    {% if collection != user_profile.get_profile.collection %}
    <div id="fill-panel" class="panel-left">
        <h3>{{ collection.title }}</h3>
        <nav class="collections-navigation">
            {% load project_tags %}
            {{ browse_tree|user_navigation_tree:user|safe }}
        </nav>
    </div>
    <div id="key-panel" class="panel-right">
        {% if resources or collections %}
        {% include 'partials/resources-collections-listing.html' with host='profile' %}
        {% else %}
        Sorry, there is nothing in this collection.
        {% endif %}
    </div>
    {% else %}

    <div id="key-panel" class="panel-left">
        {% include 'partials/profile-content.html' %}
    </div>
    <div id="fill-panel" class="panel-right">
        {% include 'partials/profile-updates.html' %}
    </div>
    {% endif %}
</div>
<div class="picture-upload-dialog dialog">
    <form method="POST" action="/user/{{ user_profile.username }}/change-picture/" enctype="multipart/form-data">
        {% csrf_token %}
        Choose a new profile picture from your computer (less than 2 MB in size):<p/>
        <input type="file" name="new_profile_picture" id="id_new_profile_picture"/>
    </form>
</div>

{% include 'partials/footer.html' %}