{% include 'partials/header.html' with header_type='vanilla' body_class='signup' %}
<div class="center-stage synchronous-signup authenticate-panel">
    <div class="authenticate-header">
        <img src="{{ STATIC_URL }}images/logo_shine.png" class="easy-sign-header-logo" />
        <h3>Create a free account</h3>
        <p>It's free and takes 30 seconds!</p>
    </div>
    {% include 'partials/registeration-form.html' %}
</div>

    <div class="page-form-submission-loader"></div>
    </body>
</html>
