{% include 'partials/header.html' %}
<div class="center-stage registration">
	<div id="key-panel" class="panel-left">
		<h2>Sign up for an account</h2>
		<div id="new-account-signup-info" class="form-info-box"><p>You may sign up for an account either through your Google account or by filling the form below</p></div>
			<aside class="content-block google-signin">
				<div data-state="{{ state }}" id="session-state"></div>
				<div id="signinButton">
					<span class="g-signin"
						data-scope="https://www.googleapis.com/auth/plus.login"
						data-clientid="{{ client_id }}"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="gPlusRegistrationCallback"
						data-theme="dark"
						data-approvalprompt="force"
						data-width="wide">
					</span>
				</div>
				<div id="results"></div>
			</aside>
		<p id="or-fill-form" class="social-login-hide"><span class="bold">OR</span> fill the form below:</p>
		<form method="POST" action="/signup/" id="signup-form">
			<input type="hidden" name="social_login" value="{{ social_login }}" />
			<input type="hidden" name="social_id" value="{{ social_id }}" />
			<input type="hidden" name="profile_pic" />
			{% csrf_token %}
			<table id="signup-form-table">
				<tr><td>First name*</td><td class="field"><input type="text" name="first_name" placeholder="First name" value="{{ form.first_name }}"><div id="first-name-error" class="form-error">{{ user_form.first_name.errors }}</div></td></tr>
				<tr><td>Last name*</td><td class="field"><input type="text" name="last_name" placeholder="Last name" value="{{ form.last_name }}"><div id="last-name-error" class="form-error">{{ user_form.last_name.errors }}</div></td></tr>
				<tr><td>Email address*</td><td class="field"><input type="text" name="email" placeholder="Email address" value="{{ form.email }}"><div id="email-error" class="form-error">{{ user_form.email.errors }}</div></td></tr>
				<tr><td>Username*</td><td class="field"><input type="text" name="username" placeholder="Username" value="{{ form.username }}"><div id="username-error" class="form-error">{{ user_form.username.errors }}</div></td></tr>
				<tr class="social-login-hide"><td>Password*</td><td class="field"><input type="password" name="password"><div id="password-error" class="form-error">{{ user_form.password.errors }}</div></td></tr>
				<tr class="social-login-hide"><td>Confirm Password*</td><td class="field"><input type="password" name="password2"></td></tr>
				<tr><td>Date of birth*</td><td class="field">
						<select name="dob_month" placeholder="Month">
							<option value="0">Month</option>
							{% for key, value in months %}
							<option value="{{ key }}" {% ifequal form.dob_month key %}selected{% endifequal %}>{{ value }}</option>
							{% endfor %}
						</select>
						<input type="text" placeholder="Date" name="dob_date" value="{{ form.dob_date }}" />
						<input type="text" placeholder="Year" name="dob_year" value="{{ form.dob_year }}"/>
						<div id="dob-error" class="form-error">{{ profile_form.dob.errors }}</div>
					</td>
				</tr>
				<tr><td>Location*</td><td class="field"><input type="text" name="location" value="{{ form.location }}" placeholder="Location"><div id="location-error" class="form-error">{{ profile_form.location.errors }}</div></td></tr>
				<tr><td>Gender</td><td class="field">
					<label><input type="radio" name="gender" value="1" {% ifequal form.gender "1" %}checked{% endifequal %}> Male</label>
					<label><input type="radio" name="gender" value="0" {% ifequal form.gender "0" %}checked{% endifequal %}> Female</label>
					<div id="gender-error" class="form-error">{{ profile_form.gender.errors }}</div>
				</td></tr>
				<tr><td>I am a...*</td><td class="field">
					<select name="profession">
						{% for p in professions %}
						<option name="{{ p }}" {% ifequal form.profession p %}selected{% endifequal %}>{{ p }}</option>
						{% endfor %}				
					</select>
					<div id="profession-error" class="form-error">{{ profile_form.profession.error }}</div>
				</td></tr>
				<tr class="social-login-hide"><td>What does the image say?*</td><td class="field">
					 <script type="text/javascript">
					 var RecaptchaOptions = {
						theme : 'clean'
					 };
					 </script>
					 <script type="text/javascript"
						 src="http://www.google.com/recaptcha/api/challenge?k=6LeG_8USAAAAAANqhH2IHJ1wSAer3epBCNvTrHW0">
					  </script>
					  <noscript>
						 <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LeG_8USAAAAAANqhH2IHJ1wSAer3epBCNvTrHW0"
							 height="300" width="500" frameborder="0"></iframe><br>
						 <textarea name="recaptcha_challenge_field" rows="3" cols="40">
						 </textarea>
						 <input type="hidden" name="recaptcha_response_field"
							 value="manual_challenge">
					  </noscript>
				<div id="recaptcha-error" class="form-error">{{ profile_form.recaptcha.errors }}</div>
				</td></tr>
				<tr><td colspan="2"><label><input type="checkbox" id="agree-terms-conditions"> I agree to the OpenCurriculum <a href="{% url terms %}" target="_blank">Terms of Use</a> and <a href="{% url privacy %}" target="_blank">Privacy Policy</a></label></td></tr>
				<tr><td colspan="2" class="right"><button class="btn success-button disabled" id="signup-button" disabled>Sign up <span class="vertical-caret"></span></button></td></tr>
			</table>
		</form>
	</div>
	<div id="fill-panel" class="panel-right">
	</div>
</div>
{% include 'partials/footer.html' %}
