{% include 'partials/header.html' %}

<div class="center-stage">
    <div id="key-panel" class="panel-left">
        <h2>Reset your password</h2>
        <p>Set a new password below, using the temporary password assigned to you in the email:</p>
        {% if errors %}
        <ul class="reset-form-errors">
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
        <table class="reset-password-table">
            <tr><td>Temporary password*</td><td><input type="password" name="temporary_password" /></td></tr>
            <tr><td>New password*</td><td><input type="password" name="new_password" /></td></tr>
            <tr><td>Repeat password*</td><td><input type="password" name="repeat_password" /></td></tr>
            <tr><td colspan="2">
                <div class="right"><button class="btn success-button">Submit</button></div>
            </td></tr>
        </table>
    </div>
    <div id="fill-panel" class="panel-right">
    </div>
</div>

{% include 'partials/footer.html' %}
