{% include 'partials/header.html' with body_class='resource-view' %}

<article>
	<div class="center-substage">
		<header>
            	{% include 'partials/resource-header.html' %}
			<section id="article-do">
				{% with obj=resource caption=resource.user.first_name|add:" "|add:resource.user.last_name %}
					{# include 'partials/oer-do.html' #}
				{% endwith %}
			</section>
		</header>
	</div>
	<form id="resource-form">
		<input type="hidden" name="resource_id" value="{{ resource.id }}" />
		{% if revision_view %}
		<input type="hidden" name="revision_id" value="{{ resource.revision.id }}" />
		{% endif %}
		<input type="hidden" name="collection_id" value="{{ resource_collection.id }}" />
		<input type="hidden" name="user_id" value="{% if user.id %}{{ user.id }}{% endif %}" />
	</form>

	{% if resource.revision.content_type.name == "attachment" %}
		{% include 'partials/oer-attachment.html' %}
	{% elif resource.revision.content_type.name == "link" %}
		{% include 'partials/oer-url.html' %}
	{% elif resource.revision.content_type.name == "document" %}
	<div class="center-midstage resource-body{% if resource_type %} {{ resource_type }}{% endif %}">
		{% include 'partials/resource-meta-snippet.html' %}
		<section id="oer">
			<div class="oer-document document-body">
				{% include 'partials/oer-document.html' %}
			</div>
		</section>
		<div class="request-resource-review">From a star rating of 1 star to 5 stars, how useful was this resource? <div class="request-resource-review-stars"><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span><span class="empty-star"></span></div></div>
	</div>
	{% endif %}

	<div class="center-stage resource-footer">
		<div id="key-panel" class="panel-left">
			<div class="comment-thread resource-comments">
            	{% include 'partials/post-new-comment.html' %}
			</div>
		</div>
		<div id="fill-panel" class="panel-right">
			<h3>Reviews ({{ reviews|length }})</h3>
			<div class="resource-reviews">
				{% for review in reviews %}
				<div class="resource-review">
					<div class="resource-review-user">
						<div class="resource-review-user-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ review.comment.user.get_profile.profile_pic.name }}');"></div>
						<div class="resource-review-user-description">
							<div><a href="{% url user:user_profile username=review.comment.user.username %}">{{ review.comment.user.get_full_name }}</a><div class="resource-review-user-description-stars">{% for rating in review.rating %}<span class="full-star"></span>{% endfor %}</div></div>
							<div class="resource-review-user-date">{{ review.comment.created }}</div>
						</div>
					</div>
					<div class="resource-review-body">{{ review.comment.body_markdown|safe }}</div>
				</div>
				{% empty %}
				No reviews found.
				{% endfor %}
			</div>
		</div>
	</div>
</article>

{% include 'partials/post-new-comment-reply.html' %}

<div class="review-comment-dialog oc-popup">
    <div class="oc-popup-title-bar">
        <div class="oc-popup-title"><h3>Leave some comments with your review</h3></div>
        <div class="delete-button oc-popup-exit"></div>
    </div>
    <div class="oc-popup-body">
    	<p>Would you like to share why you left these many stars?</p>
    	<form id="review-comment-form">
    		<input type="hidden" name="stars" value="0" />
    		<input type="hidden" name="classification" value="review" />
            <input type="hidden" name="parent_type" value="{{ host_content_type.id }}" />
            <input type="hidden" name="parent_id" value="{{ resource.id }}" />
    		<textarea name="body_markdown"></textarea>
        </form>
        <div class="review-comment-submit-wrapper oc-popup-submit-wrapper">
        	<button class="action-button review-comment-done-button oc-popup-submit-button">Done</button>
		</div>
    </div>
</div>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/article.js"></script>

{% include 'partials/footer.html' %}
