{% include 'partials/header.html' with body_class='resource-view' %}

<article>
	<div class="center-substage">
		<header>
            	{% include 'partials/resource-header.html' %}
			<section id="article-do">
				{% with obj=resource caption=resource.user.first_name|add:" "|add:resource.user.last_name %}
					{# include 'partials/oer-do.html' #}
				{% endwith %}
			</section>
		</header>
	</div>
	<form id="resource-form">
		<input type="hidden" name="resource_id" value="{{ resource.id }}" />
		{% if revision_view %}
		<input type="hidden" name="revision_id" value="{{ resource.revision.id }}" />
		{% endif %}
		<input type="hidden" name="collection_id" value="{{ resource_collection.id }}" />
		<input type="hidden" name="user_id" value="{% if user.id %}{{ user.id }}{% endif %}" />
	</form>

	<div class="center-midstage resource-body{% if resource_type %} {{ resource_type }}{% endif %}">
		<section id="oer">
			{% if resource.revision.content_type.name == "document" %}
				<div class="oer-document document-body">
					{% include 'partials/oer-document.html' %}
				</div>
			{% elif resource.revision.content_type.name == "link" %}
				{% include 'partials/oer-url.html' %}
			{% elif resource.revision.content_type.name == "attachment" %}
				{% include 'partials/oer-attachment.html' %}
			{% endif %}
		</section>
	</div>

	<div class="center-stage resource-footer">
		<div id="key-panel" class="panel-left">
			<div class="resource-comments comment-thread">
            	{% include 'partials/post-new-comment.html' %}
			</div>
		</div>
		<div id="fill-panel" class="panel-right">
			<h3>Related resources</h3>
			No related resources found.
		</div>
	</div>
</article>

{% include 'partials/post-new-comment-reply.html' %}

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>	
<script type="text/javascript" src="{{ STATIC_URL }}js/article.js"></script>

{% include 'partials/footer.html' %}
