{% include 'partials/header.html' %}
<div class="center-stage about team">
	<nav>
		<ul>
			<li><a href="{% url about %}">About</a></li>
			<li class="selected"><a href="{% url team %}">Team</a></li>
			<li><a href="{% url press %}">Press</a></li>
		</ul>
	</nav>
	<div class="horizontal-panel-wrapper">
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image varun-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Varun Arora, Founding Director + Developer + Designer</h3>
				<p>
					Varun is the chief dreamer on the team. A fanatic about open education, Varun is a double alum of Carnegie Mellon University, and holds an MSc. in Information Systems Management from Heinz College. He writes the code for the front-end, back-end & UI and designs all interfaces. Originally from Oman, Varun started writing his first lines of code at the age of 12, when he got his hands on his mum's web development textbook at nights and on weekends. He spent much of high school building social and learning content websites for his school.<p/>
					<p>Varun has been engaged with the technology for development community for several years, and was involved in his first field mission in 2009, when he was invited to assess a failing One Laptop Per Child deployment. Since then, he has worked for several organizations including the United Nation's GAID, TechBridgeWorld, Qtel (now ooredoo) and Silicon Valley start-up Inkling in consulting and engineering roles. In 2011, Google named him a Zeitgeist Young Mind.</p>
					<p>When he is not coding, preaching+blogging or using Illustrator, Varun can be found writing poor jokes or finding great chocolate.</p>
				
				</p>
			</div>
		</div>
		
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image zeinab-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Zeinab Mohamed, Director of Content Operations</h3>
				<p>Zeinab is our in-house content guru. Zeinab holds BSc. in Chemical Engineering and Biomedical Engineering from Carnegie Mellon University. She is responsible for editing, planning, managing, porting and everything related to meeting highest-quality needs of content for OpenCurriculum.</p>
				<p>An alum of Toyota and Palmer Labs' intern programs, Zeinab has been a leader in women's engineering and the community for as long as she can remember. K-12 educational challenges resonate deeply with her as she was unable to afford being schooled until she arrived in the United States as a child. Originally of Somali ethnicity, Zeinab describes herself as eccentric, crazy, hyper and tired, gregarious, and an oxymoron of all oxymora.<p/>
				<p>In addition to trying to save the world when she can, Zeinab enjoys a weekly dose of Korean dramas and also loves cooking, with some success. She goes by 'Z'.</p>
			</div>
		</div>
		<!-- NOTE: COMMENT UNTIL ANUP IS ASSOCIATED WITH PPS

		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image anup-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Anup Aryal, Evangelist</h3>
				<p>Everyday Anup is hustlin'. A consultant by practice, Anup holds an undergraduate degree from Robert Morris University in Business Management and Information systems and an MBA from University of Phoenix. Anup is involved with core outreach and evangelism for OpenCurriculum as a part-time volunteer.</p>
				<p>Originaly born in a village outside Kathmandu, Nepal, Anup immigrated to the US in 1989 with his parents when they were attending University of Pittsburgh - a reminder that education is the key to social mobility. This was made even more evident as he started working at Pittsburgh Public Schools through Gates Foundation. Besides, his work with the Pittsburgh Public Schools, Anup works as a community outreach volunteer for Rukmini Foundation, a foundation established to provide education to under privileged girls in Nepal. He can also be found volunteering at neighborhood education related activities.
				<p>When he is not tackling education challenges, Anup likes to travel and meet people from all around the world.</p>
			</div>
		</div>
		-->
	</div>
</div>
{% include 'partials/footer.html' %}
