{% include 'partials/header.html' %}
<div class="center-stage about team">
	<nav>
		<ul>
			<li><a href="{% url about %}">About</a></li>
			<li class="selected"><a href="{% url team %}">People</a></li>
			<li><a href="{% url press %}">Press</a></li>
		</ul>
	</nav>
	<div class="horizontal-panel-wrapper">
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image varun-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Varun Arora, Founding Director &amp; Lead engineer</h3>
				<p>
					Varun is the chief dreamer on the team. A fanatic about open education, Varun is a double alum of Carnegie Mellon University, and holds an MSc. in Information Systems Management from Heinz College. He writes the code for the front-end, back-end &amp; UI and designs all interfaces. Originally from Oman, Varun started writing his first lines of code at the age of 12, when he got his hands on his mum's web development textbook at nights and on weekends. He spent much of high school building social and learning content websites for his school.<p/>
					<p>Varun has been engaged with the technology for development community for several years, and was involved in his first field mission in 2009, when he was invited to assess a failing One Laptop Per Child deployment. Since then, he has worked for several organizations including the United Nation's GAID, TechBridgeWorld, Qtel (now ooredoo) and Silicon Valley start-up Inkling in consulting and engineering roles. In 2011, Google named him a Zeitgeist Young Mind.</p>
					<p>When he is not coding, preaching+blogging or using Illustrator, Varun can be found writing poor jokes or finding great chocolate.</p>
				
				</p>
			</div>
		</div>
		<!--<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image adil-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Adil Majid, Director of User Experience</h3>
					<p>Adil Majid studied Decision Science and Human-Computer Interaction at Carnegie Mellon. Adil dedicates all his time to making sure that the users of OpenCurriculum are very happy.<p/>
					<p>A former debater, he enjoys following politics the way others follow sports.</p>
					<p>In his free time, Adil enjoys reading, running, and playing chess.</p>
			</div>
		</div>-->

		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image jonathan-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Jonathan Chen, Director of Product</h3>
					<p>Jonathan E. Chen is a product designer with a B.S. in Computer Science from Carnegie Mellon. He spends his waking hours thinking about user-centered design, interactive storytelling, and mission-driven startups. In his previous life, he worked as a front-end and mobile developer, founded a college fraternity, ran a hacker hostel, and started a small rental empire in San Francisco. At night he dreams of molecular gastronomy and samoyed pups.<p/>
					<p>His ultimate calling in life, while still not as lucid as his dreams of molecular gastronomy and samoyed puppies at night, is doing good while doing well with the best people he knows.</p>
			</div>
		</div>	
		<!--
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image zeinab-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Zeinab Mohamed, Director of Content Operations</h3>
				<p>Zeinab is our in-house content guru. Zeinab holds a BSc. in Chemical Engineering and Biomedical Engineering from Carnegie Mellon University. She is responsible for editing, planning, managing, porting and everything related to meeting highest-quality needs of content for OpenCurriculum.</p>
				<p>An alum of Toyota and Palmer Labs' intern programs, Zeinab has been a leader in women's engineering and the community for as long as she can remember. K-12 educational challenges resonate deeply with her as she was unable to afford being schooled until she arrived in the United States as a child. Originally of Somali ethnicity, Zeinab describes herself as eccentric, crazy, hyper and tired, gregarious, and an oxymoron of all oxymora.<p/>
				<p>In addition to trying to save the world when she can, Zeinab enjoys a weekly dose of Korean dramas and also loves cooking, with some success. She goes by 'Z'.</p>
			</div>
		</div>
		-->
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image josh-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Joshua Siktar, Lead Content Developer</h3>
				<p>Joshua Siktar is a junior from Winchester Thurston High School. Excited at the opportunity to be able to teach students across the globe the knowledge he had amassed, he interviewed the company for a position as a content developer in January 2013 and was welcomed to the company as an intern not long afterward. He focuses on writing articles on mathematics and chemistry, as well as other subjects on occasion. He also proofreads some articles developed by other team members and implements other resources for the community.</p>
				<p>Since joining OpenCurriculum, and even partly before that, Joshua has been an inspiring open K-12 content creator for student teachers around the US, and has been at the forefront of bringing better content to educator communities.</p>
				<p>When he is not creating interesting content, Joshua likes to study and talk about his research in understanding investments.</p>
			</div>
		</div>
	</div>
</div>
{% include 'partials/footer.html' %}
