{% include 'partials/header.html' %}
<div class="center-stage about team">
	<nav>
		<ul>
			<li><a href="{% url about %}">About</a></li>
			<li class="selected"><a href="{% url team %}">People</a></li>
			<li><a href="{% url press %}">Press</a></li>
		</ul>
	</nav>
	<div class="horizontal-panel-wrapper">
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image varun-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Varun Arora, Founding Director</h3>
				<p>Varun Arora works on product and curriculum. He holds a Bachelors and Masters in Information Systems Management from Carnegie Mellon University. Previously, Varun has worked for Inkling, United Nations, Ooredoo, and a controversial One Laptop Per Child deployment in Polynesia.</p>
				<p>Varun grew up in Oman building websites and apps for learning and education communities. In his days as a student in higher ed, he immersed himself in learning theory, curriculum and existing education technologies, and even taught a semester-long university class. In 2013, the International Telecommunications Union named him a 'Young Innovator', and he had been previously named a Zeitgeist Young Mind by Google and Livity. He has been a Lingren Fellow and recently ended his Anne Lewis Social Innovation Fellowship.</p>
				<p>Varun loves fine chocolate, scented candles, and cooking vegetarian food.</p>
			</div>
		</div>
		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image josh-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>Joshua Siktar, Lead Content Developer</h3>
				<p>Joshua Siktar works on authentic learning content and community. Currently a senior, Joshua spends an enormous amount of effort in contributing to and building communities around open-source mathematics and chemistry learning content, and has recently started authoring engaging real-world activities for the teacher community. He also is responsible for curating a lot of the content on the website. Joshua started as an intern in January 2013. Joshua is also a leading contributor (on student perspectives in teaching) to OpenCurriculum's blog.</p>
				<p>Based in Pittsburgh, Joshua's high school years at Winchester Thurston High School revolved around his advancing commununity interest and knowledge in math, chemistry and other subjects, apart from pursuing his musical passion. He has been an aspiring teacher for as long as he can remember. He has also recently begun programming and hopes to become much better at it!</p>
				<p>Joshua loves to talk about his research in understanding investments.</p>

				<!--<p>Joshua Siktar is a junior from Winchester Thurston High School. Excited at the opportunity to be able to teach students across the globe the knowledge he had amassed, he interviewed the company for a position as a content developer in January 2013 and was welcomed to the company as an intern not long afterward. He focuses on writing articles on mathematics and chemistry, as well as other subjects on occasion. He also proofreads some articles developed by other team members and implements other resources for the community.</p>
				<p>Since joining OpenCurriculum, and even partly before that, Joshua has been an inspiring open K-12 content creator for student teachers around the US, and has been at the forefront of bringing better content to educator communities.</p>
				<p>When he is not creating interesting content, Joshua likes to study and talk about his research in understanding investments.</p>-->
			</div>
		</div>

		<div class="horizontal-panel">
			<div id="fill-panel" class="panel-left">
				<div class="founder-image community-image"></div>
			</div>
			<div id="key-panel" class="panel-right">
				<h3>You, the community</h3>
				<p>OpenCurriculum could not exist without the efforts of a large number of volunteers and interns who have put in huge amount of time into building a strong foundation for the organization.</p>
				<p>A few people who deserve a special shoutout include Shoshana Grossman-Crist, Amin Ali, Zeinab Mohamed, Kathy Bates, Shailin Gosalia, Laurel Michel-Schottman, Srinivasan Vijayaraghavan, Andy Minton, Anup Aryal, Adil Majid &amp; Jonathan Chen.
			</div>
		</div>
	</div>
</div>
{% include 'partials/footer.html' %}
