.resource-thumbnail
	background-color: #b2b2b2
	width: 60px
	height: 60px
	float: left
	margin-right: 15px
	background-size: 150%
	background-position: center

.resource-snippet
	overflow: hidden
	margin-bottom: 15px

.resource-title
	overflow: hidden
	/* NEEDS ATTENTION */
	text-overflow: ellipsis
	-o-text-overflow: ellipsis
	-ms-text-overflow: ellipsis
	white-space: nowrap
	
	a
		line-height: 1.25em

.resource-description
	height: 45px
	overflow: hidden
	/* NEEDS ATTENTION */
	text-overflow: ellipsis
	-o-text-overflow: ellipsis
	-ms-text-overflow: ellipsis
	color: #666

.oer-video
	margin-top: 15px

.oer-external
	margin: 15px 0px
	@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.25))
	margin-left: 5px
	overflow: hidden
	height: 250px
	background-size: 100%

#oer-preview
	overflow: hidden
	margin-bottom: 18px

#oer
	.center-stage
		margin-top: 0px

#oer-info
	background: rgba(0,0,0,0.6)
	padding: 18px
	position: relative
	top: 165px
	height: 50px

	#oer-details
		float: left
		width: 60%

#oer-description
	padding: 18px
	font-size: 0.85em
	height: 30px

.oer-meta
	margin-top: 10px
	background-color: #efefef
	overflow: hidden

#oer-get
	text-align: center
	overflow: hidden

	a
		display: inline-block

.oer-title
	padding-top: 4px

	h2
		display: inline-block
		float: left

	.oer-title-revision
		font-size: 1.8em
		font-family: "PT Sans", sans-serif
		color: #bababa
		letter-spacing: -1px
		float: left

	.history-action
		margin-left: 10px

.oer-title, .resource-big-actions
	height: 28px


.resource-big-actions-wrapper, .resource-actions-wrapper
	width: 100%
	overflow: hidden

.resource-big-actions, .resource-actions
	float: right

.resource-big-actions
	button.mini-action-button, a.mini-action-button
		margin-left: 6px
		padding-left: 28px
		background-position: 8px center
		background-repeat: no-repeat

.resource-big-actions
	button.mini-action-button
		&.favorite-button
			background-image: url('../images/heart-light.png')

			&.favorited
				background-image: url('../images/hearted-light.png')

		&.share-button
			background-image: url('../images/share-icon.png')

	a.mini-action-button
		height: 16px
		padding-top: 6px
		text-decoration: none

		&.remix-button
			background-image: url('../images/remix-light.png')

.resource-actions
	> li
		float: left
		margin: 0px 00px 0px 16px
		padding: 2px 4px
		@include border-radius(2px 2px 2px 2px)

		a
			color: #666
			font-size: 0.87em
			@include sans-bold

			&:hover
				text-decoration: none
				color: #333

.resource-author-thumbnail
	width: 46px
	height: 46px
	margin-left: 4px
	margin-right: 10px
	@include border-radius(23px)
	background-size: cover
	float: left


.oer-info-caption
	color: #bababa

.oer-info-detail
	color: #fff

	a
		color: #fff

.oer-url-title
	margin-bottom: 10px

#thumbnail-info
	text-align: center
	width: 80px
	color: #fff
	background-color: #444
	padding: 4px 0px
	position: relative
	height: 20px
	float: right
	margin: 10px 10px
	margin-bottom: -20px

.resource-view
	background-color: #efefef

.resource-body
	background-color: #fff

	&.lesson, &.document
		margin-top: 20px
		width: 840px
		padding: 60px
		@include box-shadow(0 0px 5px rgba(0, 0, 0, 0.1))

.share-options
	margin-top: 10px

	a
		display: block
		width: 94%
		text-align: center
		margin: 2px 0px
		background-position: 10px center
		background-repeat: no-repeat

		&.share-on-facebook
			background-image: url('../images/social-icons/f.png')

			&:hover
				background-image: url('../images/social-icons/f-hover.png')

		&.share-on-email
			background-image: url('../images/social-icons/e.png')

			&:hover
				background-image: url('../images/social-icons/e-hover.png')			

		&.share-on-twitter
			background-image: url('../images/social-icons/t.png')

			&:hover
				background-image: url('../images/social-icons/t-hover.png')

		&.share-on-plus
			background-image: url('../images/social-icons/g.png')

			&:hover
				background-image: url('../images/social-icons/g-hover.png')