.resource-thumbnail
	background-color: #b2b2b2
	width: 60px
	height: 60px
	float: left
	margin-right: 15px
	background-size: 150%
	background-position: center

.resource-snippet
	overflow: hidden
	margin-bottom: 15px

.resource-title
	overflow: hidden
	/* NEEDS ATTENTION */
	text-overflow: ellipsis
	-o-text-overflow: ellipsis
	-ms-text-overflow: ellipsis
	white-space: nowrap
	
	a
		line-height: 1.25em

.resource-description
	height: 45px
	overflow: hidden
	/* NEEDS ATTENTION */
	text-overflow: ellipsis
	-o-text-overflow: ellipsis
	-ms-text-overflow: ellipsis
	color: #666

.oer-video
	margin-top: 15px
	padding-left: 5px

	iframe
		@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.25))

.feed-oer-video
	padding-left: 0px

.oer-external
	margin: 15px 0px
	@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.25))
	margin-left: 5px
	overflow: hidden
	height: 300px
	background-size: 100%
	width: 99%

#oer-preview
	overflow: hidden
	margin-bottom: 18px

#oer
	padding: 60px

	.center-stage
		margin-top: 0px

#oer-info
	background: rgba(0,0,0,0.6)
	padding: 18px
	position: relative
	top: 215px
	height: 50px

	#oer-details
		float: left
		width: 80%


.feed-oer-external
	height: 250px

	#oer-info
		top: 165px

		#oer-details
			float: left
			width: 60%

#oer-description
	padding: 18px
	font-size: 0.85em
	height: 30px

.oer-meta
	background-color: /*#F7E8FF*/ #FFF8E7
	padding: 30px 60px
	color: #7F7C73
	overflow: hidden

	h3
		color: #7F7C73

.oer-meta-key, .oer-context-key
	width: 507px
	float: left
	padding-right: 10px

.oer-meta-fill, .oer-context-fill
	width: 323px
	float: right

.oer-context
	background-color: #FFFFDE
	width: $content-width - 120
	margin: auto
	padding: 30px 60px
	overflow: hidden
	color: #7F7F6F

	a
		color: #404037

	h3
		color: #7F7F6F

.page-viewer
	.oer-context
		font: 'Arial', 'Helvetica Neue', sans-serif

	.oer-context, .oer-meta

		ul
			list-style-type: disc

		ol, ul
			margin-top: 10px
			padding-left: 10px

.oer-meta-support
	background-color: #FFECDA
	color: #7F7C73
	padding: 10px 60px

	.oer-meta-support-tag
		border: 1px solid #E8CABB
		padding: 4px 8px
		@include border-radius(2px)
		color: #7F7C73
		margin-right: 4px

		&:hover
			background-color: #FFD6CD
			text-decoration: none
			color: #403E3A

	.oer-meta-time-icon,
	.oer-meta-tag-icon,
	.oer-meta-materials-icon
		background-position: center
		width: 12px
		height: 12px
		margin-right: 4px
		display: inline-block
		background-size: 12px 12px
		background-repeat: no-repeat

	.oer-meta-tag-icon,
	.oer-meta-materials-icon
		margin-left: 24px

	.oer-meta-time-icon
		background-image: url('../images/time.png')

	.oer-meta-tag-icon
		background-image: url('../images/tag.png')

	.oer-meta-materials-icon
		background-image: url('../images/cart.png')


#oer-get
	text-align: center
	overflow: hidden

	a
		display: inline-block

.oer-title
	padding-top: 4px

	h2
		display: inline-block
		float: left

	.oer-title-resource-type
		@include border-radius(2px)
		background-color: #aaa
		color: #fff
		padding: 5px 12px
		float: left
		font-weight: bold
		margin-left: 12px

	.oer-title-revision
		font-size: 1.8em
		font-family: "PT Sans", sans-serif
		color: #bababa
		letter-spacing: -1px
		float: left

	.history-action
		margin-left: 10px

.oer-title, .resource-big-actions
	height: 28px


.resource-big-actions-wrapper, .resource-actions-wrapper
	width: 100%
	overflow: hidden

.resource-big-actions, .resource-actions
	float: right

.resource-big-actions
	button.mini-action-button, a.mini-action-button
		margin-left: 6px
		padding-left: 28px
		background-position: 8px center
		background-repeat: no-repeat

.resource-big-actions
	button.mini-action-button
		&.favorite-button
			background-image: url('../images/heart-light.png')

			&.favorited
				background-image: url('../images/hearted-light.png')

		&.share-button
			background-image: url('../images/share-icon.png')

	a.mini-action-button
		height: 14px
		padding-top: 5px
		text-decoration: none

		&.remix-button
			background-image: url('../images/remix-light.png')

.resource-actions
	> li
		float: left
		margin: 0px 00px 0px 16px
		padding: 2px 4px
		@include border-radius(2px 2px 2px 2px)

		a
			color: #666
			font-size: 0.87em
			@include sans-bold

			&:hover
				text-decoration: none
				color: #333

.resource-author-thumbnail
	width: 46px
	height: 46px
	margin-left: 4px
	margin-right: 10px
	@include border-radius(23px)
	background-size: cover
	float: left


.oer-info-caption
	color: #bababa

.oer-info-detail
	color: #fff

	a
		color: #fff

.oer-url-title
	margin-bottom: 10px

#thumbnail-info
	text-align: center
	width: 80px
	color: #fff
	background-color: #444
	padding: 4px 0px
	position: relative
	height: 20px
	float: right
	margin: 10px 10px
	margin-bottom: -20px

.resource-view
	background-color: #efefef

.resource-body
	background-color: #fff

	&.lesson, &.document
		margin-top: 20px
		width: 960px
		@include box-shadow(0 0px 5px rgba(0, 0, 0, 0.1))

.share-options
	margin-top: 10px

	a
		display: block
		width: 94%
		text-align: center
		margin: 2px 0px
		background-position: 10px center
		background-repeat: no-repeat

		&.share-on-facebook
			background-image: url('../images/social-icons/f.png')

			&:hover
				background-image: url('../images/social-icons/f-hover.png')

		&.share-on-email
			background-image: url('../images/social-icons/e.png')

			&:hover
				background-image: url('../images/social-icons/e-hover.png')			

		&.share-on-twitter
			background-image: url('../images/social-icons/t.png')

			&:hover
				background-image: url('../images/social-icons/t-hover.png')

		&.share-on-plus
			background-image: url('../images/social-icons/g.png')

			&:hover
				background-image: url('../images/social-icons/g-hover.png')


.need-more-info
	background-color: #E9EFFA
	text-align: center
	position: relative
	margin-bottom: -48px
	top: -56px
	height: 36px
	padding-top: 12px
	color: #72757A
	z-index: 1
	@include box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.1))

	.need-more-info-button
		float: none
		border: 1px solid #557799
		border-radius: 2px
		background-color: transparent
		color: #557799

		&:hover
			background-color: #2D6699
			color: #fff
			border-color: #2D6699


.request-resource-review
	background-color: #F9EDBE
	text-align: center
	position: relative
	margin-bottom: -56px
	top: 0px
	height: 28px
	padding-top: 12px
	color: #72757A

	.empty-star
		cursor: pointer

	.request-resource-review-stars
		display: inline-block

.full-star, .empty-star
	display: inline-block
	background-repeat: no-repeat
	background-position: center center
	width: 14px
	height: 14px
	margin-right: 2px

.empty-star
	background-image: url('../images/empty-star.png')


.full-star, .empty-star.hover
	background-image: url('../images/favorited.png')	

.comment-thread.resource-comments
	margin: 0px
	padding: 0px


.resource-review
	margin-bottom: 20px

	.resource-review-user
		overflow: hidden
		margin-bottom: 6px

		.resource-review-user-thumbnail
			width: 30px
			height: 30px
			float: left
			background-size: cover
			margin-right: 10px

		.resource-review-user-date
			color: $light-font
			font-size: 0.93em
			margin-top: 2px

		.resource-review-user-description-stars
			margin-left: 8px
			display: inline-block