$chief-panel-height: 550px

#chief-panel-container.sign-up
	height: $chief-panel-height - 50px
	background-color: #b7dcf7
	@include background-image(radial-gradient(center, ellipse cover, rgba(210,229,242,1) 0%, rgba(210,229,242,1) 1%, rgba(183,220,247,1) 100%))

	#chief-panel-wrapper
		background-image: url('../images/sun-flare.png')
		height: $chief-panel-height
		background-position: center 0px
		background-repeat: no-repeat
	
	#chief-panel
		top: -$chief-panel-height
		overflow: hidden
		height: $chief-panel-height - 60px
		margin-bottom: -$chief-panel-height
		padding-top: 60px

#chief-panel-container.developers
	height: 600px
	background: url('../images/developers_backdrop.jpg') no-repeat center center fixed
	@include background-size(cover)

#chief-panel-container.about
	height: 550px
	background: url('../images/about-home-cover.jpg') no-repeat center center
	background-color: #000

.wide-banner-container
	background-color: #eee

.wide-banner-panel
	width: 960px
	margin: auto
	padding: 20px 0px
	overflow: hidden

.chief-panel-wrapper
	width: 100%
	margin: auto

#chief-panel
	width: 960px
	margin: auto
	padding: 60px 0px 0px 0px
	position: relative
	overflow: hidden

#chief-panel-center
	text-align: center

.jobs
	#chief-panel
		top: -350px
		margin-bottom: -100px
		overflow: hidden
		
	#chief-panel-center
		color: #fff
	
		h1
			font-weight: bold
			text-shadow: 0 0 6px #000
			
		h4
			text-shadow: 0 0 3px #000
			margin: 3px 0px

.developers
	#chief-panel
		color: #fff

.about
	#chief-panel
		padding-top: 30px

.center-stage
	width: 960px
	margin: auto
	margin-top: 40px
	overflow: hidden

	&.pre-footer
		margin-bottom: 40px

	&.discussion-board-actions
		margin-top: 20px

	&.home-teaser
		margin-bottom: 60px

		h2
			color: #5abd02
			font-weight: normal
			font-size: 2em
			padding: 15px 0px

		.home-teaser-image
			margin-top: 10px
			border: 1px solid #efefef

			&.no-border
				border-width: 0px

	&.testimonial-wrapper
		text-align: center
		margin-top: 80px

		.testimonial
			font-size: 2em
			width: 700px
			margin: auto

	&.search-center-stage
		margin-top: 20px

	&.profile-center-stage
		margin-top: 10px

.center-midstage
	width: 960px
	margin: auto
	overflow: hidden

	&.resource-body
		margin-top: 10px

.center-substage
	width: 960px
	margin: auto
	overflow: hidden
	margin-top: 20px

.horizontal-panel
	overflow: hidden
	padding-bottom: 20px

#chief-panel-footer
	background-image: url('../images/grass.png')
	position: relative
	top: -75px
	height: 75px
	width: 100%
	background-repeat: repeat-x
	background-position: -100px 0px
	margin-bottom: -75px

#left-panel
	width: 337px
	padding-right: 30px
	float: left
	height: 270px

	> h1
		margin-bottom: 20px
		font-style: italic

#right-panel
	float: right
	width: 593px

#key-panel
	width: 573px

#key-panel, #fill-panel	
	.row-item
		margin-bottom: 20px
		overflow: hidden
		
		.row-item-thumbnail
			margin-right: 15px
			float: left
		
		.row-item-description
			font-size: 0.9em
			
			.row-item-description-detail
				padding: 6px

#fill-panel
	width: 367px	

#mini-key-panel
	width: 333px

#mini-fill-panel
	width: 220px

.panel-left
	float: left
	padding-right: 20px
	
	&.mini
		padding-right: 10px

.panel-right
	float: right

#chief-panel-container.home
	height: $chief-panel-height
	background-color: #000
	background-image: url('../images/home_bg_2.jpg')
	background-repeat: no-repeat
	background-position: top center
	background-size: cover

	#chief-panel-wrapper
		background-image: none
		height: $chief-panel-height
		background-position: center 0px
		background-repeat: no-repeat
	
	#chief-panel
		overflow: hidden
		z-index: 2
		text-align: center
		padding-top: 200px

		h1
			color: #fff
			text-shadow: 1px 1px #000
			font-size: 3.2em
			letter-spacing: -1px

		p
			color: #ddd

#chief-panel-container.home #chief-panel, .home-teaser
	p
		font-size: 1.3em

.chief-panel-container-cover
	height: $chief-panel-height
	background-color: #000
	position: relative
	opacity: 0
	top: -$chief-panel-height
	margin-bottom: -$chief-panel-height
	-webkit-animation: fadeIn 2000ms ease both
	-webkit-animation-play-state: paused
	-moz-animation: fadeIn 2000ms ease both
	-moz-animation-play-state: paused
	-o-animation: fadeIn 2000ms ease both
	-o-animation-play-state: paused
	animation: fadeIn 2000ms ease both
	animation-play-state: paused

.chief-panel-container-cover.play
	-webkit-animation-play-state: running
	-moz-animation-play-state: running
	-o-animation-play-state: running
	animation-play-state: running	

@-webkit-keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 0.4

@-moz-keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 0.4

@-o-keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 0.4

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 0.4

.center-spread
	/*&.resource-browse
		height: 700px
		background-color: #efefef*/

	.content-panel-body-header
		padding: 32px 0px 20px 24px

	&.resource-browse
		background-color: #efefef

		.category-panel
			height: 100%
			background-color: #ddd

			.category-panel-listing
				float: right
				width: 180px
				padding-right: 20px

		.content-panel
			overflow: auto
			height: 100%

			.content-panel-body-wrapper
				.content-panel-body
					margin-bottom: 5px

					.content-panel-body-listing
						width: 93%
						margin-left: 5px

.wide-center-stage
	width: 100%
	overflow: hidden
	margin: auto
	height: 100%

	.wide-center-stage-fill-panel
		width: 20%
		float: left

	.wide-center-stage-key-panel
		width: 80%
		float: right